<div class='yc-alert gap-2'>
  <ion-icon
    name='alert-circle-outline'
    class='text-xl icon-error icon'
  ></ion-icon>
  <ion-icon
    name='checkmark-circle-outline'
    class='text-xl icon-success icon'
  ></ion-icon>
  <span class='alert-msg text-white'> Some context </span>
</div>
