<div class="breadcrumbs-container">
  <div class="breadcrumbs-listings">
    <div class="listings__item">
      <a href="/" class="first-listing">الرئيسية</a>
    </div>
    <div class="listings__item">
      <img src='{{ 'left-arrow.png' | asset_url }}'>
    </div>
    <div class="listings__item">
      <a href="/collections" class="second-listing">التصنيفات</a>
    </div>
  </div>

  <div class="breadcrumbs-name">
    <h1>التصنيفات</h1>
  </div>
</div>
