<div class="breadcrumbs-container">
  <div class="breadcrumbs-listings">
    <div class="listings__item">
      <a href="/" class="first-listing">{{ 'snippets.collection-listing.home' | t }}</a>
    </div>
    <div class="listings__item arrow"></div>
    <div class="listings__item">
      <a href="/collections" class="second-listing">{{ 'snippets.collection-listing.collections' | t }}</a>
    </div>
  </div>

  <div class="breadcrumbs-name">
    <h1>{{ 'snippets.collection-listing.collections' | t }}</h1>
  </div>
</div>
