{{ 'general-review.css' | asset_url | stylesheet_tag }}

<div class='yc-general-review'>
  <ul class='yc-general-review-wrapper'></ul>
</div>

{{ 'reviews-count.js' | asset_url | script_tag_deferred }}
