<select class="sort-select">
      <option value="price">{{ 'snippets.main_sort.price' | t }}</option>
      <option value="created_at">{{ 'snippets.main_sort.newest' | t }}</option>
      <option value="name">{{ 'snippets.main_sort.alphabetically' | t }}</option>
</select>
 