<div class='sort-items-holder'>
  <div class='commander'>Sort by:</div>
  <div class='field'>
    <a
      class='pawn'
      data-value='price'
    >
      <span>Price</span>
      <ion-icon name='chevron-down-outline'></ion-icon>
    </a>
    <a
      class='pawn'
      data-value='created_at'
    >
      <span>Newest</span>
      <ion-icon name='chevron-down-outline'></ion-icon>
    </a>
    <a
      class='pawn'
      data-value='name'
    >
      <span>Alphabetically</span>
      <ion-icon name='chevron-down-outline'></ion-icon>
    </a>
  </div>
</div>
