{{ 'product-card.css' | asset_url | stylesheet_tag }}

<div class="yc-product-card">
  <section class="section-1">
    <div class="image">
      <img
        class="main-image"
        src="{% if product.images.size > 0 %}{{ product.images.first }}{% else %}{{ 'default_product.jpeg' | asset_url }}{% endif %}"
        alt="product image">
    </div>
    <div class="details">
      <span class="product-name" id="product-name"></span>
      <div class="price">
        <span id="sticky-price"></span>
        <span class="off"></span>
      </div>
    </div>
  </section>
  <section class="section-2">
    <ul class="selected-preview">
      <li>
        <div id="selected-product-variants"></div>
      </li>
      <li class='quantity-preview'>
        <span>{{ 'snippets.single_product.quantity' | t }}&nbsp;:</span>
        <div id='variant_quantity'></div>
      </li>
    </ul>
  </section>
</div>
