{{ 'product-card.css' | asset_url | stylesheet_tag }}

<div class="yc-product-card">
  <section class="section-1">
    <div class="image">
      <img
        class="main-image"
        src="{{ 'default_product.jpeg' | asset_url }}"
        alt="product image">
    </div>
    <div class="details">
      <span class="product-name" id="product-name"></span>
      <div class="price">
        <span id="sticky-price"></span>
        <span class="off"></span>
      </div>
    </div>
  </section>
  <section class="section-2">
      <div id="selected-product-variants"></div>
  </section>
</div>
