{% style %}
  .yc-product-card {
    width: 100%;
    background: #F5F5F5;
    border-radius: 4px;
    display: flex;
    align-items: start;
    gap: 14px;
    margin: 26px 0 20px 0;
    padding: 10px;
  }

  .yc-product-card .image {
    width: 62px;
    height: 52px;
    background: white;
    padding: 3px;
    flex-shrink: 0;
  }

  .yc-product-card .image .main-image {
    width: 35px;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
  }

  .yc-product-card .details {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .yc-product-card .product-name {
    font-size: 15px !important;
    margin-top: 4px;
  }

  .yc-product-card .price {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }

  .yc-product-card .price .product-price {
    font-size: 16px !important;
  }
{% endstyle %}


<div class="yc-product-card">
  <div class="image">
    <img
      class="main-image"
      src="{{ 'default_product.jpeg' | asset_url }}"
      alt="product image">
  </div>
  <div class="details">
    <span class="product-name" id="my-span"></span>
    <div class="price">
      <span class="product-price"></span>
      <span class="off"></span>
    </div>
  </div>
</div>
