{{ 'reviews.css' | asset_url | stylesheet_tag }}

<div class='yc-product-reviews container'>
	<h1 class='yc-section-title'>{{ reviews_title }}</h1>
	<ul class='yc-reviews-wrapper'></ul>
</div>

<script>
	;(async () => {
		const reviewsWrapper = document.querySelector('.yc-reviews-wrapper')
		const noDataSetter = (element) => {
			reviewsWrapper.innerHTML = `
          <div class='review-item__empty'>No reviews available</div>
        `
		}

		try {
			const reviews = await youcanjs.product.fetchReviews('{{ product_id }}').data()

			reviews.forEach((review) => {
				const reviewItem = document.createElement('li')
				reviewItem.classList.add('review-item')
				reviewItem.innerHTML = `
          <div class='header'>
            <img class='image' src=${review.images_urls[0] || '{{ "avatar.png" | asset_url }}'} />
            <div class='name'>${review.first_name} ${review.last_name}</div>
          </div>
          <div class='content'>
            ${review.content}
          </div>
        `
				reviewsWrapper.appendChild(reviewItem)
			})

			if (reviews.length === 0) {
				noDataSetter()
			}
		} catch (error) {
			noDataSetter()
			console.error(error)
		}
	})()
</script>
