{{ 'express-checkout.css' | asset_url | stylesheet_tag }}

<div id="yc-sticky-checkout" class="yc-sticky-checkout">
  <div id="checkout_step" class="container">
    {% render 'product-card' %}
    <div class="checkout-form"></div>
  </div>
</div>
