{{ 'express-checkout.css' | asset_url | stylesheet_tag }}

<div id="yc-sticky-checkout" class="yc-sticky-checkout">
  <div class="step_1" id="checkout_step_1">
    <div class="variant-card">
      {% render 'product-card' %}
    </div>
    <button class="close-icon" onclick="goToCheckoutStep(0)">
      <ion-icon name="close-outline"></ion-icon>
    </button>
    <div class="options"></div>
    <div class="spacer"></div>
    <div class="cta-bottom-wrapper">
      <button class="yc-btn w-full font-bold" onclick="goToCheckoutStep(2)">
        {{ settings.express_checkout_cta }}
      </button>
    </div>
  </div>
  <div class="step_2" id="checkout_step_2">
    <div class="variant-card">
      {% render 'product-card' %}
    </div>
    <button class="back-icon" onclick="goToCheckoutStep(1)">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </button>
    <div class="checkout-form"></div>
    <div class="spacer"></div>
    <div class="cta-bottom-wrapper">
      <button
        type='submit'
        class='yc-btn w-full express-checkout-button'
        onclick='placeOrder(this)'>
        <span class='spinner hidden' id='loading__checkout'></span>
        <span>{{ settings.express_checkout_cta }}</span>
      </button>
    </div>
  </div>
</div>