$breakpoints: (
  xs: 425px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// create a mixin
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
  @else {
    @warn "Unknown breakpoint `#{$breakpoint}`.";
  }
}

@mixin max-screen($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin display($desktop: 4, $tablet: 3, $mobile: 2, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: $gap;

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat($desktop, minmax(0, 1fr));
  }

  @media only screen and (min-width: 481px) and (max-width: 767px) {
    grid-template-columns: repeat($tablet, minmax(0, 1fr));
  }

  @media only screen and (max-width: 480px) {
    grid-template-columns: repeat($mobile, minmax(0, 1fr));
  }
}
