{{ 'featured-products.css' | asset_url | stylesheet_tag }}

<div class='yc-featured-products container'>
  <h1 class='yc-section-title'>{{ section.settings.title }}</h1>
  <div class='product-list'>
    {%- for block in section.blocks -%}
      {%- render 'collection-preview', category: block.settings.category -%}
    {%- endfor -%}
  </div>
</div>

{%- schema -%}
{
  "label": "Featured collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured collections"
    }
  ],
  "blocks": [
    {
      "label": "Category",
      "limit": 4,
      "type": "category",
      "settings": [
        {
          "type": "category",
          "id": "category",
          "label": "Category"
        }
      ]
    }
  ]
}
{%- endschema -%}
