<div class='yc-featured-products container'>
  <h1 class='yc-section-title'>
    {{ 'featured_products.title' | t: section.settings.title }}
  </h1>
  <div class='product-list'>
    {%- for block in section.blocks -%}
      {%- render 'product-preview', item: block.settings.product -%}
    {%- endfor -%}
  </div>
</div>

{%- schema -%}
{
  "label": "Featured products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "label": "Product",
      "limit": 4,
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{%- endschema -%}
