{{ 'pages.css' | asset_url | stylesheet_tag }}

<div class='container yc-page'>
  {{ page.content }}
</div>

{%- schema -%}
{
  "label": "Page",
  "templates": ["page"],
  "limit": 1
}
{%- endschema -%}
