<div class='container'>
  {%- render 'express-checkout', checkout: checkout, settings: section.settings -%}
</div>

{% schema %}
{
  "label": "Express checkout",
  "templates": [],
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Title settings"
    },
    {
      "label": "Form title",
      "id": "form_title",
      "type": "text"
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "label": "Button text",
      "id": "express_checkout_cta",
      "type": "text"
    },
    {
      "label": "Sticky button",
      "id": "is_sticky",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Padding",
      "id": "button_padding",
      "type": "number",
      "default": 12
    },
    {
      "label": "Background color",
      "id": "button_background_color",
      "type": "color"
    },
    {
      "label": "Text color",
      "id": "button_text_color",
      "type": "color"
    },
    {
      "label": "Text size",
      "id": "button_text_size",
      "type": "number",
      "default": 16
    },
    {
      "label": "Border radius",
      "id": "button_border_radius",
      "type": "number",
      "default": 0
    },
    {
      "type": "header",
      "content": "Input settings"
    },
    {
      "label": "Padding",
      "id": "input_padding",
      "type": "number",
      "default": 12
    },
    {
      "label": "Border color",
      "id": "input_border_color",
      "type": "color"
    },
    {
      "label": "Background color",
      "id": "input_background_color",
      "type": "color"
    },
    {
      "label": "Text color",
      "id": "input_text_color",
      "type": "color"
    },
    {
      "label": "Placeholder text color",
      "id": "input_placeholder_color",
      "type": "color"
    },
    {
      "label": "Text size",
      "id": "input_text_size",
      "type": "number",
      "default": 16
    },
    {
      "label": "Border radius",
      "id": "input_border_radius",
      "type": "number",
      "default": 0
    }
  ]
}
{% endschema %}
