{{ 'queries-handler.css' | asset_url | stylesheet_tag }}
{{ 'featured-products.css' | asset_url | stylesheet_tag }}
{{ 'product-listing.css' | asset_url | stylesheet_tag }}
{% assign id = 100 | rand: 2000 %}

{%- assign products_per_page = section.settings.products_per_page -%}

{%- paginate search.products by products_per_page cod %}
  <div class='yc-featured-products container'>
      <div class="sort-container search-page">
        {%- render 'main-sort' -%}
    </div>
      <h1
        class='yc-section-title'
        id='search-title'
      ></h1>
    <div class='product-list'>
      {%- for item in items %}
      <div {{ block.youcan_attributes }} class="product-block">
        {%- render 'product-preview', item: item -%}
        </div>
      {%- endfor %}
    </div>
  </div>

  {%- render 'main-pagination', has_more: has_more, next_page: next_page, previous_page: previous_page, current: current, last: last -%}
{%- endpaginate %}

{%- schema -%}
{
  "label": "Search",
  "templates": ["search"],
  "limit": 1,
  "settings": [
    {
      "type": "number",
      "id": "products_per_page",
      "label": "Products per page",
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    }
  ]
}
{%- endschema -%}
