{{ 'queries-handler.css' | asset_url | stylesheet_tag }}
{{ 'product-listing.css' | asset_url | stylesheet_tag }}

{%- assign per_page = section.settings.items_per_page -%}
<div class='yc-product-listing-container container'>
  <div class="header-wrapper">
    {%- render 'breadcrumbs' -%}
    <div class="sort-container">
      {%- render 'main-sort' -%}
    </div>
  </div>

  {%- paginate collection.products by per_page cod %}
    <div class='product-list'>
      {% for product in items %}
        <div class="product-block">
          {% render 'product-preview', item: product %}
        </div>
      {% endfor %}
    </div>

    <!-- prettier-ignore -->
    {%- render 'main-pagination', has_more: has_more, next_page: next_page, previous_page: previous_page, current: current, last: last -%}
  {%- endpaginate %}
</div>

{% schema %}
{
  "label": "Products in collection",
  "templates": ["collections"],
  "limit": 1,
  "settings": [
    {
      "type": "number",
      "id": "items_per_page",
      "label": "Collections per page",
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    }
  ]
}
{% endschema %}

{{ 'queries-handler.js' | asset_url | script_tag_deferred }}
