{{ 'pages.css' | asset_url | stylesheet_tag }}

<div class='container yc-page'>
  {{ page.content }}
</div>

{%- schema -%}
{
  "label": "Search",
  "templates": ["search"],
  "limit": 1,
  "settings": [
    {
      "type": "number",
      "id": "products_per_page",
      "label": "Products per page",
      "default": 8
    }
  ]
}
{%- endschema -%}
