{{ 'featured-products.css' | asset_url | stylesheet_tag }}

<div class='yc-featured-products container'>
  <h1 class='yc-section-title'>{{ section.settings.title }}</h1>
  <div class='product-list'>
    {%- assign per_page = section.settings.items_per_page -%}

    {%- paginate collections by per_page collection_id, category_id: category.id %}
      {% for collection in items %}
        {%- render 'collection-preview', category: collection %}
      {% endfor %}
    {%- endpaginate %}
  </div>
</div>

{% schema %}
{
  "label": "Collections",
  "templates": ["list-collections"],
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collections"
    },
    {
      "type": "number",
      "id": "items_per_page",
      "label": "Collections per page",
      "default": 10
    }
  ]
}
{% endschema %}
