<div class='container'>
  <h1>{{ category.slug | url_for_type }}</h1>
  {%- paginate collection.products by 10 collection_id category_id: category.id %}
    {% for product in items %}
      {%- dump product.id %}
    {% endfor %}
  {%- endpaginate %}
</div>

{% schema %}
{
  "label": "Collections",
  "templates": ["list-collections"],
  "limit": 1
}
{% endschema %}
