<div class='container'>
  {%- render 'express-checkout', checkout: checkout -%}
</div>

{% schema %}
{
  "label": "Express Checkout",
  "templates": ["index", "product"],
  "limit": 1
}
{% endschema %}
