{{ 'notice-bar.css' | asset_url | stylesheet_tag }}

{%- if settings.notice_bar_show_desktop %}
  <div class='yc-notice desktop'>
    <div class='content container '>{{ settings.notice_bar_content_desktop }}</div>
  </div>
{%- endif %}

{%- if settings.notice_bar_show_mobile %}
  <div class='yc-notice mobile container'>
    <div class='content'>{{ settings.notice_bar_content_mobile }}</div>
  </div>
{%- endif %}

{% schema %}
{
  "label": "Notice Bar",
  "limit": 1
}
{% endschema %}
