{{ 'notice-bar.css' | asset_url | stylesheet_tag }}

{%- if settings.notice_bar_show %}
	<div class='yc-notice {%- if settings.notice_bar_above %} fixed {%- endif %}'>
		<div class='content'>{{ settings.notice_bar_content }}</div>
	</div>
{%- endif %}

{% schema %}
{ "label": "Notice Bar" }
{% endschema %}
