{{- 'related-products.css' | asset_url | stylesheet_tag -}}
{{- 'related-products.js' | asset_url | script_tag_deferred -}}
{%- assign selected_product = section.settings.product %}

{%- if product %}
  {%- assign selected_product = product %}
{%- endif %}

{%- if selected_product %}
  <div class="related-products" id="related-products">
    <div class="nav-button" data-slider-left>
      <a>left</a>
    </div>
    <ul class="images" data-slider-images>
      <li id="image-1">1</li>
      <li id="image-2">2</li>
      <li id="image-3">3</li>
      <li id="image-4">4</li>
      <li id="image-5">5</li>
      <li id="image-6">6</li>
    </ul>
    <div class="nav-button" data-slider-right>
      <a>right</a>
    </div>
  </div>
{%- endif %}

{% schema %}
  {
    "label": "Related products",
    "templates": ["product"],
    "settings": [
      {
        "label": "Product",
        "id": "product",
        "type": "product"
      },
      {
        "type": "text",
        "id": "reviews_title",
        "label": "Reviews title",
        "default": "Reviews"
      },
      {
        "type": "header",
        "content": "Info ℹ️"
      },
      {
        "type": "paragraph",
        "content": "When you include this section on a product page, the product reviews will be displayed automatically based on the current product."
      }, {
        "type": "paragraph",
        "content": "If you include this section on a different page, you can select a product in the settings."
      }
    ]
  }
{% endschema %}
