.accordion .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
  border-bottom: 1px solid var(--yc-footer-border-color);
  padding-bottom: 18px;
}
.accordion .accordion-header .title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.accordion .accordion-header .title-container .title {
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 140.5%;
}
.accordion .accordion-header .title-container .title-icon {
  order: -1;
  width: 21px;
  height: auto;
  object-fit: contain;
}
.accordion .accordion-header .arrow {
  transform: rotate(180deg);
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.accordion .accordion-header.active .arrow {
  transform: unset;
}
.accordion .accordion-content {
  padding-top: 18px;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
.accordion .accordion-content * {
  background-color: inherit !important;
}
