.cart-bg-color {
  background-color: #E9E9E9;
  overflow: auto;
}
.cart-bg-color .yc-cart-container {
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 1440px !important;
  margin: 0 auto;
  padding: 35px 0;
}
@media (min-width: 768px) {
  .cart-bg-color .yc-cart-container {
    padding: 35px 30px;
  }
}
@media (min-width: 992px) {
  .cart-bg-color .yc-cart-container {
    padding: 35px 60px;
  }
}
@media (min-width: 1200px) {
  .cart-bg-color .yc-cart-container {
    padding: 35px 140px;
  }
}
.cart-bg-color .yc-cart-container .empty-cart ion-icon {
  --ionicon-stroke-width: 18px;
}
.cart-bg-color .yc-cart-container .cart-table .header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-bg-color .yc-cart-container .cart-table .header-block .header-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .cart-bg-color .yc-cart-container .cart-table .header-block .header-bar {
    width: 100%;
  }
}
.cart-bg-color .yc-cart-container .cart-table .header-block .header-bar h2 {
  font-weight: 700;
  font-size: 26px;
}
.cart-bg-color .yc-cart-container .cart-table .header-block .header-bar p {
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50%;
  min-width: 25px;
  max-width: 40px;
  aspect-ratio: 1/1;
  padding: 0 3px;
  background-color: var(--yc-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-bg-color .yc-cart-container .cart-table .header-block .checkout_cta {
  max-width: 100%;
  width: 437px;
}
.cart-bg-color .yc-cart-container .cart-table .header-block .checkout_cta a {
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 768px) {
  .cart-bg-color .yc-cart-container .cart-table .header-block {
    flex-direction: column;
    gap: 36px;
    padding: 0 24px;
  }
  .cart-bg-color .yc-cart-container .cart-table .header-block .checkout_cta {
    width: 90%;
  }
}
.cart-bg-color .yc-cart-container .summary-box {
  max-width: 100%;
  background: #FFFFFF;
  width: 428px;
  float: left;
  margin-bottom: 60px;
  border: 1px solid #EBEBEB;
}
.cart-bg-color .yc-cart-container .summary-box .input-wrapper {
  padding: 24px 24px 0;
}
.cart-bg-color .yc-cart-container .summary-box input {
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  padding: 7px 13px;
  font-weight: 500;
  font-size: 14px;
}
.cart-bg-color .yc-cart-container .summary-box .price-box {
  margin: 25px auto 15px;
}
.cart-bg-color .yc-cart-container .summary-box .price-box .box {
  font-weight: 400;
  font-size: 16px;
}
.cart-bg-color .yc-cart-container .summary-box .price-wrapper {
  padding: 0 24px 8px;
}
.cart-bg-color .yc-cart-container .summary-box .price-wrapper .products {
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  width: 90%;
}
.cart-bg-color .yc-cart-container .summary-box .price-wrapper .item-price {
  width: 20%;
  text-align: end;
  font-weight: 700;
  font-size: 14px;
}
.cart-bg-color .yc-cart-container .summary-box .total {
  font-weight: 700;
  font-size: 16px;
}
.cart-bg-color .yc-cart-container .summary-box .total-price {
  color: var(--yc-primary-color);
  font-weight: 700;
  font-size: 16px;
}
.cart-bg-color .yc-cart-container .summary-box .border-space {
  padding-bottom: 22px;
}
.cart-bg-color .yc-cart-container .summary-box .item-total-price {
  color: var(--yc-primary-color);
  font-weight: 700;
  font-size: 18px;
}
.cart-bg-color .yc-cart-container .summary-box .checkout_cta_btn {
  padding: 0 24px;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .cart-bg-color .yc-cart-container .summary-box .checkout_cta_btn {
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .cart-bg-color .yc-cart-container .summary-box {
    width: 100%;
    margin-bottom: 30px;
  }
}
.cart-bg-color .yc-cart-container .quantity-wrapper {
  width: fit-content;
  border: 1px solid #BDBDBD;
  display: flex;
  align-items: center;
  padding: 8px 5px;
  flex-direction: row-reverse;
  background-color: white;
}
.cart-bg-color .yc-cart-container .quantity-wrapper button {
  width: 34px;
  background-color: transparent;
  font-size: 18px;
  color: #000;
}
.cart-bg-color .yc-cart-container .quantity-wrapper input {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 46px;
  border: 0;
  height: 30px !important;
  padding: 0;
}
.cart-bg-color .table-container {
  margin: 36px auto;
  background-color: #fff;
  border-top: 1px solid #EBEBEB;
}
.cart-bg-color .table-container .table-columns {
  display: grid;
  padding: 22px 18px;
  grid-template-areas: "row1  row2  row3 row4";
  grid-template-columns: 0.5fr auto 110px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EBEBEB;
}
.cart-bg-color .table-container .table-columns .product-details {
  display: flex;
  align-items: center;
  gap: 18px;
  max-width: 400px;
  grid-area: row1;
}
.cart-bg-color .table-container .table-columns .product-details .product-image img {
  height: 110px;
  width: 90px;
}
.cart-bg-color .table-container .table-columns .product-details .product-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart-bg-color .table-container .table-columns .product-details .product-title span {
  font-weight: 600;
  font-size: 15px;
}
.cart-bg-color .table-container .table-columns .product-details .product-variants span {
  font-size: 13px;
  font-weight: 400;
}
.cart-bg-color .table-container .table-columns .product-details .product-variants .product-price {
  display: none;
}
.cart-bg-color .table-container .table-columns .product-details .variant-space {
  padding: 0 5px;
}
.cart-bg-color .table-container .table-columns .product-quantity {
  display: flex;
  justify-content: center;
  grid-area: row2;
}
.cart-bg-color .table-container .table-columns .total-price-table {
  display: flex;
  justify-content: center;
  grid-area: row3;
}
.cart-bg-color .table-container .table-columns .total-price-table .total-price {
  font-weight: 700;
  font-size: 18px;
  color: var(--yc-primary-color);
}
.cart-bg-color .table-container .table-columns .close-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: #CBCBCB;
  grid-area: row4;
}
@media (max-width: 992px) {
  .cart-bg-color .table-container .table-columns {
    align-items: flex-start;
    grid-template-areas: "row1  row4" "row2  row3";
    grid-template-columns: auto 60px;
  }
  .cart-bg-color .table-container .table-columns .product-details {
    max-width: 100%;
    align-items: flex-start;
  }
  .cart-bg-color .table-container .table-columns .product-details .product-title {
    gap: 6px;
  }
  .cart-bg-color .table-container .table-columns .product-quantity {
    justify-content: flex-start;
    margin-top: 16px;
  }
  .cart-bg-color .table-container .table-columns .quantity-wrapper {
    padding: 5px 0;
  }
  .cart-bg-color .table-container .table-columns .total-price-table {
    justify-content: flex-end;
    margin-top: 16px;
  }
  .cart-bg-color .table-container .table-columns .total-price {
    white-space: nowrap;
  }
}
