.yc-cart {
  margin: 4rem 0 2rem;
}
.yc-cart .empty-cart ion-icon {
  --ionicon-stroke-width: 18px;
}
.yc-cart .summary-box {
  max-width: 100%;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  width: 437px;
  float: left;
}
.yc-cart .summary-box .promo {
  font-weight: 400;
  margin-bottom: 17px;
  font-size: 15px;
}
.yc-cart .summary-box input {
  border: 1px solid #BDBDBD;
  border-radius: 4px;
}
.yc-cart .summary-box .price-box {
  margin: 25px auto 15px;
}
.yc-cart .summary-box .price-box .box {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
  color: #A8A8A8;
}
.yc-cart .summary-box .price-wrapper {
  padding: 0px 18px 18px;
}
.yc-cart .summary-box .total {
  font-weight: 700;
  font-size: 14px;
}
.yc-cart .summary-box .total-price {
  color: var(--yc-primary-color);
  font-weight: 700;
  font-size: 16px;
}
.yc-cart .summary-box .border-space {
  padding-bottom: 22px;
  padding: 0px 18px 18px;
}
.yc-cart .cart-table .header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yc-cart .cart-table .header-block .header-bar {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .yc-cart .cart-table .header-block .header-bar {
    width: 100%;
  }
}
.yc-cart .cart-table .header-block .header-bar h2 {
  font-weight: 700;
  font-size: 21px;
}
.yc-cart .cart-table .header-block .header-bar p {
  color: #9B9B9B;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.yc-cart .cart-table .header-block .checkout_cta {
  max-width: 100%;
  width: 437px;
}
@media screen and (max-width: 768px) {
  .yc-cart .cart-table .header-block .checkout_cta {
    display: none;
  }
}
.yc-cart .cart-table th {
  text-align: start;
}
.yc-cart .cart-table thead {
  border-bottom: 1px solid #eaeaea;
}
@media screen and (max-width: 600px) {
  .yc-cart .cart-table thead {
    display: none;
  }
}
.yc-cart .cart-table thead th {
  font-size: 0.9rem;
  font-weight: 400 !important;
}
.yc-cart .cart-table .cart__item {
  background: #F5F5F5;
  border: 1px solid #EDEDED;
  border-radius: 0px 0px 4px 4px;
}
.yc-cart .cart-table .cart__item .product-image img {
  width: 95px;
  height: 88px;
}
@media screen and (max-width: 500px) {
  .yc-cart .cart-table .cart__item .close-btn {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 0;
  }
}
.yc-cart .cart-table tbody td {
  padding: 5px;
  background: #F5F5F5;
}
.yc-cart .cart-table tbody .product-title {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 12px;
}
.yc-cart .cart-table tbody .total-price-table {
  line-height: 35px;
}
@media screen and (max-width: 600px) {
  .yc-cart .cart-table tbody .total-price-table {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.yc-cart .cart-table tbody .total-price {
  color: var(--yc-primary-color);
  font-weight: 700;
  font-size: 18px;
}
.yc-cart .cart-table tbody .yc-btn-close {
  font-size: 26px;
  color: #4B5565;
  float: left;
  margin-left: 12px;
}
.yc-cart .cart-table tbody .cart-item-loader-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}
.yc-cart .cart-table tbody .cart-item-loader-spinner.hidden {
  display: none !important;
}
.yc-cart table {
  margin: 42px auto 32px;
  border-collapse: separate;
  border-spacing: 0 20px;
  border: 1px solid #EDEDED;
}
.yc-cart .quantity-wrapper {
  width: fit-content;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: white;
}
.yc-cart .quantity-wrapper button {
  width: 34px !important;
  min-width: 34px !important;
  max-width: 34px !important;
  height: 34px !important;
  min-height: 34px !important;
  max-height: 34px !important;
  background-color: transparent;
  font-size: 18px;
  color: #B7B7B7;
}
.yc-cart .quantity-wrapper input {
  width: 34px !important;
  min-width: 34px !important;
  max-width: 34px !important;
  height: 34px !important;
  min-height: 34px !important;
  max-height: 34px !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
  display: flex;
  border: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 420px) {
  .yc-cart .quantity-wrapper button, .yc-cart .quantity-wrapper input {
    width: 24px !important;
    min-width: 24px !important;
    max-width: 24px !important;
    height: 24px !important;
    min-height: 24px !important;
    max-height: 24px !important;
  }
}
