.yc-cart {
  margin: 4rem 0 2rem;
}
.yc-cart .empty-cart ion-icon {
  --ionicon-stroke-width: 18px;
}
.yc-cart .summary-box {
  padding: 1.3rem 1.5rem;
  max-width: 100%;
  min-width: 22rem;
}
.yc-cart .cart-table .header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
}
.yc-cart .cart-table .header-block .header-bar {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 70%;
}
.yc-cart .cart-table .header-block .header-bar h2 {
  font-weight: 700;
  font-size: 21px;
}
.yc-cart .cart-table .header-block .header-bar p {
  color: #9B9B9B;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.yc-cart .cart-table .header-block .checkout_cta {
  width: 30%;
}
.yc-cart .cart-table th {
  text-align: start;
}
.yc-cart .cart-table thead {
  border-bottom: 1px solid #eaeaea;
}
.yc-cart .cart-table thead th {
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: 400 !important;
}
.yc-cart .cart-table .cart__item {
  background: #F5F5F5;
  border: 1px solid #EDEDED;
  border-radius: 0px 0px 4px 4px;
}
.yc-cart .cart-table tbody td {
  vertical-align: top;
  padding: 10px;
  background: #F5F5F5;
}
.yc-cart .cart-table tbody .cart-item-loader-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}
.yc-cart .cart-table tbody .cart-item-loader-spinner.hidden {
  display: none !important;
}
.yc-cart table {
  margin-top: 17px;
}
.yc-cart .quantity-wrapper {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  width: fit-content;
  border: 1px solid var(--yc-primary-color);
  display: flex;
  align-items: center;
}
.yc-cart .quantity-wrapper button {
  width: 37px !important;
  min-width: 37px !important;
  max-width: 37px !important;
  height: 37px !important;
  min-height: 37px !important;
  max-height: 37px !important;
}
.yc-cart .quantity-wrapper input {
  width: 37px !important;
  min-width: 37px !important;
  max-width: 37px !important;
  height: 37px !important;
  min-height: 37px !important;
  max-height: 37px !important;
  box-shadow: none !important;
  border: 1px solid var(--yc-primary-color) !important;
  border-top: none !important;
  border-bottom: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
