.yc-collection-listing .collection-list {
  display: grid;
  margin-top: 60px;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px 14px;
  padding: 54px 20px;
  background-color: #F2F2F2;
}
.yc-collection-listing .collection-list .collection-thumbnail {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 0 100%;
  height: 0;
}
.yc-collection-listing .collection-list .collection-thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease;
}
.yc-collection-listing .collection-list .collection-thumbnail img:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.yc-collection-listing .collection-list .collection-details {
  margin-top: 20px;
  text-align: center;
}
.yc-collection-listing .collection-list .collection-details .collection-name {
  font-weight: 600;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .yc-collection-listing .collection-list .collection-details .collection-name {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .yc-collection-listing .collection-list {
    padding: 54px 30px;
  }
}
@media (min-width: 992px) {
  .yc-collection-listing .collection-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 54px 80px;
  }
}
@media (min-width: 1200px) {
  .yc-collection-listing .collection-list {
    padding: 54px 180px;
  }
}
@media (min-width: 1400px) {
  .yc-collection-listing .collection-list {
    padding: 54px 270px;
  }
}
.yc-collection-listing .breadcrumbs-container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .yc-collection-listing .breadcrumbs-container {
    padding: 0 50px;
  }
}
@media (min-width: 992px) {
  .yc-collection-listing .breadcrumbs-container {
    padding: 0 80px;
  }
}
@media (min-width: 1200px) {
  .yc-collection-listing .breadcrumbs-container {
    padding: 0 180px;
  }
}
@media (min-width: 1400px) {
  .yc-collection-listing .breadcrumbs-container {
    padding: 0 270px;
  }
}
