.yc-collection-listing .collection-list {
  display: grid;
  margin-top: 60px;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 54px 20px;
  background-color: #F2F2F2;
}
.yc-collection-listing .collection-list .collection-thumbnail img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.yc-collection-listing .collection-list .collection-details {
  margin-top: 24px;
  text-align: center;
}
.yc-collection-listing .collection-list .collection-details .collection-name {
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 576px) {
  .yc-collection-listing .collection-list {
    padding: 54px 30px;
  }
}
@media (min-width: 992px) {
  .yc-collection-listing .collection-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 54px 80px;
  }
}
@media (min-width: 1200px) {
  .yc-collection-listing .collection-list {
    padding: 54px 150px;
  }
}
@media (min-width: 1400px) {
  .yc-collection-listing .collection-list {
    padding: 54px 250px;
  }
}
.yc-collection-listing .breadcrumbs-container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .yc-collection-listing .breadcrumbs-container {
    padding: 0 50px;
  }
}
@media (min-width: 992px) {
  .yc-collection-listing .breadcrumbs-container {
    padding: 0 80px;
  }
}
@media (min-width: 1200px) {
  .yc-collection-listing .breadcrumbs-container {
    padding: 0 150px;
  }
}
@media (min-width: 1400px) {
  .yc-collection-listing .breadcrumbs-container {
    padding: 0 250px;
  }
}
