.countdown-wrapper {
  width: calc(100% + 40px);
  margin: 0 -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: black;
  padding: 20px;
  color: white;
}
.countdown-wrapper .message p {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
.countdown-wrapper .countdown {
  direction: ltr;
  display: flex;
  align-items: center;
  gap: 4px;
}
.countdown-wrapper .countdown *:not(.dots) {
  min-width: 37px;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
  background-color: #EE7A6D;
}
.countdown-wrapper .countdown .num {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: white;
  padding: 0;
}
.countdown-wrapper .countdown .dots {
  max-width: max-content;
  height: fit-content;
  font-size: 34px;
  font-weight: 700;
  margin-top: -11px;
}
