.countdown-wrapper .countdown {
  direction: ltr;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin: 0;
}
.countdown-wrapper .countdown .countdown-icon {
  font-size: 20px;
}
.countdown-wrapper .countdown .day, .countdown-wrapper .countdown .hour, .countdown-wrapper .countdown .min, .countdown-wrapper .countdown .sec {
  text-align: center;
  width: min-content;
  display: flex;
  align-items: center;
}
.countdown-wrapper .countdown .day .num, .countdown-wrapper .countdown .hour .num, .countdown-wrapper .countdown .min .num, .countdown-wrapper .countdown .sec .num {
  display: block;
  font-size: 29px;
  font-weight: 600;
  color: #000000;
  font-weight: 500;
  font-size: 26px;
  line-height: 13px;
}
.countdown-wrapper .countdown .sec .num {
  color: #E52B2A;
  font-weight: 700;
  border: 0;
}
.countdown-wrapper .countdown .dots {
  color: #000000;
  font-size: 27px;
  margin-top: -4px;
}
