.splide .splide__arrow {
  outline: none;
  width: var(--yc-slider-arrows-size);
  height: var(--yc-slider-arrows-size);
  margin: 0 100px;
}
.splide .splide__arrow svg {
  fill: var(--yc-primary-color);
}
.splide .splide__pagination {
  bottom: 42px;
}
.splide .splide__pagination .splide__pagination__page {
  transform: none;
  width: 28px;
  border-radius: 6px;
  height: 3px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}
.splide .splide__pagination .splide__pagination__page.is-active {
  background-color: white;
}

.yc-slider__desktop {
  display: none;
}
@media (min-width: 768px) {
  .yc-slider__desktop {
    display: block;
  }
}
.yc-slider__desktop .content {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.yc-slider__desktop .content * {
  background-color: transparent !important;
  color: white !important;
}
.yc-slider__desktop .content > div {
  max-width: 30rem;
  position: relative;
  z-index: 3;
}
.yc-slider__desktop .content .yc-btn {
  background-color: white !important;
  color: black !important;
  margin-top: 1rem;
}
.yc-slider__desktop .content .headers, .yc-slider__desktop .content h2, .yc-slider__desktop .content h1 {
  font-weight: 700;
  line-height: 0.5;
  margin-bottom: 2rem;
}
.yc-slider__desktop .content h1 {
  font-size: 2rem;
}
.yc-slider__desktop .content h2 {
  font-size: 1.5rem;
}
.yc-slider__desktop .content p {
  margin-top: 1rem;
}
.yc-slider__desktop .content .btn-holder {
  margin-top: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.yc-slider__desktop .content .container > div {
  max-width: 600px;
}
