.yc-featured-collections .yc-featured-container {
  display: flex;
  column-gap: 2px;
  align-items: center;
}
.yc-featured-collections .yc-featured-container img {
  width: 24px;
  height: 24px;
}
.yc-featured-collections .yc-featured-container .yc-section-title {
  font-size: 26px;
  margin: 30px 0;
}
.yc-featured-collections .collections-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
@media (min-width: 768px) {
  .yc-featured-collections .collections-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .yc-featured-collections .collections-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.yc-featured-collections .collections-list .collection-block {
  position: relative;
  background: gray;
  display: inline-block;
  aspect-ratio: 4/5;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  aspect-ratio: 1/1;
}
.yc-featured-collections .collections-list .collection-block .collection-details, .yc-featured-collections .collections-list .collection-block .collection-thumbnail img {
  transition: all 0.3s ease-in-out;
}
.yc-featured-collections .collections-list .collection-block:hover .collection-details {
  transform: translateY(0);
}
.yc-featured-collections .collections-list .collection-block:hover .collection-thumbnail img {
  transform: scale(1.3);
}
.yc-featured-collections .collections-list .collection-block .collection-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.yc-featured-collections .collections-list .collection-block .collection-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.yc-featured-collections .collections-list .collection-block .collection-details {
  transition: 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  background: linear-gradient(0deg, #534b40, transparent);
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .yc-featured-collections .collections-list .collection-block .collection-details {
    transform: translateY(100px);
  }
}
