.yc-featured-collections .collections-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .yc-featured-collections .collections-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .yc-featured-collections .collections-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 480px) {
  .yc-featured-collections .collections-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.yc-featured-collections .collections-list .collection-thumbnail {
  overflow: hidden;
  height: 100%;
}
.yc-featured-collections .collections-list .collection-thumbnail:hover img {
  opacity: 0.9;
  transform: scale(1.05);
}
.yc-featured-collections .collections-list .collection-thumbnail:hover + .collection-details {
  transition: 500ms;
  opacity: 1;
}
.yc-featured-collections .collections-list .collection-thumbnail img {
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.yc-featured-collections .collections-list .collection-block {
  position: relative;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
}
.yc-featured-collections .collections-list .collection-details {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.yc-featured-collections .collections-list .collection-details:hover {
  transition: 500ms;
  opacity: 1;
}
.yc-featured-collections .collections-list .collection-details .collection-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
  display: block;
}
.yc-featured-collections .collections-list .collection-details .yc-btn {
  padding: 5px !important;
  font-size: 12px;
  background-color: white !important;
  color: #3C415F !important;
}
