.yc-featured-products .counter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.yc-featured-products .counter-wrapper .yc-section-title {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .yc-featured-products .counter-wrapper .yc-section-title {
    font-size: 18px;
  }
}
.yc-featured-products .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  align-items: stretch;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list {
    gap: 29px;
  }
}
.yc-featured-products .product-list .product-block {
  text-align: center;
  color: var(--yc-neutral-color);
  display: flex;
  flex-direction: column;
  position: relative;
}
.yc-featured-products .product-list .product-block .product-thumbnail {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  height: 239px;
  aspect-ratio: 1;
}
.yc-featured-products .product-list .product-block .product-thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease;
}
.yc-featured-products .product-list .product-block .product-thumbnail img:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.yc-featured-products .product-list .product-block .product-details {
  text-align: center;
  padding: 10% 15%;
}
.yc-featured-products .product-list .product-block .product-details .yc-btn-secondary--large {
  display: none;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details .yc-btn-secondary--large {
    display: block;
  }
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details {
    text-align: center;
  }
}
.yc-featured-products .product-list .product-block .product-details .product-title {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details .product-title {
    font-weight: 300;
    font-size: 18px;
  }
}
.yc-featured-products .product-list .product-block .prices {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  padding: 0 6px;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .prices {
    flex-direction: row;
    align-items: center;
    margin: 8px auto;
    gap: 4px;
  }
}
.yc-featured-products .product-list .product-block .prices .product-price {
  font-weight: 600;
  color: var(--yc-primary-color);
  font-size: 20px;
  line-height: 120%;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .prices .product-price {
    font-size: 20px;
  }
}
.yc-featured-products .product-list .product-block .prices .compare-at-price {
  text-decoration: line-through;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 18px;
  font-weight: 300;
  color: #9B9B9B;
}
.yc-featured-products .product-list .product-block .prices .product-thumbnail:hover img {
  transform: scale(1.1);
}
.yc-featured-products .button-container {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .yc-featured-products .button-container {
    margin-top: 60px;
  }
}
.yc-featured-products .countdown-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) {
  .yc-featured-products .countdown-wrapper {
    flex-direction: row;
  }
}
.yc-featured-products .countdown-wrapper .message {
  text-align: center;
  font-size: 23px;
  display: none;
}
@media (min-width: 768px) {
  .yc-featured-products .countdown-wrapper {
    flex-direction: row;
  }
  .yc-featured-products .countdown-wrapper .message {
    display: block;
  }
}
.yc-featured-products .countdown-wrapper .countdown {
  direction: ltr;
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 0;
}
.yc-featured-products .countdown-wrapper .countdown .day, .yc-featured-products .countdown-wrapper .countdown .hour, .yc-featured-products .countdown-wrapper .countdown .min, .yc-featured-products .countdown-wrapper .countdown .sec {
  text-align: center;
  width: min-content;
  display: flex;
  align-items: center;
}
.yc-featured-products .countdown-wrapper .countdown .day .num, .yc-featured-products .countdown-wrapper .countdown .hour .num, .yc-featured-products .countdown-wrapper .countdown .min .num, .yc-featured-products .countdown-wrapper .countdown .sec .num {
  display: block;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  font-size: 29px;
  font-weight: 600;
  color: #FFFFFF;
  border: 0;
  background-color: #EE7A6D;
}
.yc-featured-products .countdown-wrapper .countdown .sec .num {
  background-color: #000000;
  border: 0;
  width: 42px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .yc-featured-products .countdown-wrapper .countdown .sec .num {
    width: 35px;
  }
}
.yc-featured-products .countdown-wrapper .countdown .dots {
  color: white;
  font-size: 40px;
  margin-top: -11px;
}
@media screen and (max-width: 600px) {
  .yc-featured-products .countdown-wrapper .countdown {
    gap: 1px;
  }
}
@media screen and (max-width: 600px) {
  .yc-featured-products .countdown-wrapper .day .num, .yc-featured-products .countdown-wrapper .hour .num, .yc-featured-products .countdown-wrapper .min .num, .yc-featured-products .countdown-wrapper .sec .num {
    font-size: 19px !important;
    padding: 8px !important;
  }
}
