.countdown-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.countdown-wrapper .message {
  text-align: center;
  font-size: 23px;
}
.countdown-wrapper .countdown {
  direction: ltr;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
}
.countdown-wrapper .countdown .day, .countdown-wrapper .countdown .hour, .countdown-wrapper .countdown .min, .countdown-wrapper .countdown .sec {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.countdown-wrapper .countdown .num {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 29px;
  font-weight: 600;
  height: 49px;
  width: 52px;
  font-weight: 300;
  font-size: 24px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid currentColor;
}
.countdown-wrapper .countdown .sec .num {
  border-width: 2px;
}
.countdown-wrapper .countdown .sec .word {
  font-weight: 400;
}
.countdown-wrapper .countdown .dots {
  font-size: 40px;
  margin-top: -11px;
}

.yc-featured-products .counter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.yc-featured-products .counter-wrapper .yc-section-title {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  text-align: start;
}
@media (max-width: 768px) {
  .yc-featured-products .counter-wrapper .yc-section-title {
    font-size: 18px;
  }
}
.yc-featured-products .splide {
  padding: 37px 0 5rem 0;
}
.yc-featured-products .splide .splide__pagination__page {
  background-color: var(--yc-primary-color);
  opacity: 0.3;
}
.yc-featured-products .splide .splide__pagination__page.is-active {
  background-color: var(--yc-primary-color);
  opacity: 1;
}
.yc-featured-products .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  overflow: hidden;
  align-items: stretch;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list {
    gap: 29px;
  }
}
.yc-featured-products .product-list .product-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #FFFFFF;
  border-radius: 5px;
}
.yc-featured-products .product-list .product-block .product-thumbnail {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  height: 239px;
  aspect-ratio: 1;
}
.yc-featured-products .product-list .product-block .product-thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease;
}
.yc-featured-products .product-list .product-block .product-thumbnail img:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.yc-featured-products .product-list .product-block .product-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  padding: 10% 15%;
}
.yc-featured-products .product-list .product-block .product-details .yc-btn-secondary--large {
  display: none;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details .yc-btn-secondary--large {
    display: block;
  }
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details {
    text-align: center;
  }
}
.yc-featured-products .product-list .product-block .product-details .product-title {
  font-weight: 600;
  font-size: 12px;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details .product-title {
    font-weight: 300;
    font-size: 18px;
  }
}
.yc-featured-products .product-list .product-block .prices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.yc-featured-products .product-list .product-block .prices .product-price {
  font-weight: 600;
  color: var(--yc-primary-color);
  font-size: 20px;
  line-height: 120%;
}
@media (max-width: 768px) {
  .yc-featured-products .product-list .product-block .prices .product-price {
    font-size: 14px;
    line-height: 17px;
  }
}
.yc-featured-products .product-list .product-block .prices .compare-at-price {
  text-decoration: line-through;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 18px;
  font-weight: 300;
  color: #9B9B9B;
}
@media (max-width: 768px) {
  .yc-featured-products .product-list .product-block .prices .compare-at-price {
    font-size: 12px;
    line-height: 15px;
  }
}
.yc-featured-products .product-list .product-block .prices .product-thumbnail:hover img {
  transform: scale(1.1);
}
.yc-featured-products .button-container {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .yc-featured-products .button-container {
    margin-top: 60px;
  }
}
