.yc-featured-products {
  position: relative;
}
.yc-featured-products .yc-section-title {
  font-size: 26px;
  font-weight: 700;
}
.yc-featured-products .counter-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 8px;
  padding: 24px 32px;
  margin-bottom: 33px;
  position: relative;
}
.yc-featured-products .counter-wrapper .product-slider-title {
  font-size: 26px;
  font-weight: 700;
}
.yc-featured-products .counter-wrapper .yc-section-title {
  margin: 0;
}
@media screen and (max-width: 845px) {
  .yc-featured-products .counter-wrapper {
    grid-template-columns: 1fr;
    background-color: white;
    margin-bottom: 8px;
  }
  .yc-featured-products .counter-wrapper .product-slider-title {
    text-align: center;
    margin-bottom: 22px;
  }
}
.yc-featured-products .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 8px;
  justify-content: center;
  overflow: hidden;
  align-items: stretch;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 12px;
  }
}
@media (min-width: 992px) {
  .yc-featured-products .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.yc-featured-products .product-list .product-block {
  text-align: center;
  color: var(--yc-neutral-color);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  height: 100%;
}
.yc-featured-products .product-list .product-block .product-thumbnail {
  position: relative;
  overflow: hidden;
  padding: 0 0 100%;
  height: 200px;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-thumbnail {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .yc-featured-products .product-list .product-block .product-thumbnail {
    height: 300px;
  }
}
.yc-featured-products .product-list .product-block .product-thumbnail img, .yc-featured-products .product-list .product-block .product-thumbnail svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease;
  object-fit: cover;
}
.yc-featured-products .product-list .product-block .product-thumbnail img:hover, .yc-featured-products .product-list .product-block .product-thumbnail svg:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.yc-featured-products .product-list .product-block .product-details {
  margin-top: 18px;
  padding: 0 6px;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details {
    margin-top: 12px;
    text-align: center;
  }
}
.yc-featured-products .product-list .product-block .product-details .product-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details .product-title {
    font-weight: 600;
    font-size: 14px;
  }
}
.yc-featured-products .product-list .product-block .prices {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 12px auto 15px;
  padding: 0 6px;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .prices {
    align-items: center;
    margin: 12px auto 24px;
    gap: 6px;
  }
}
@media (min-width: 992px) {
  .yc-featured-products .product-list .product-block .prices {
    flex-direction: row;
    justify-content: center;
  }
}
.yc-featured-products .product-list .product-block .prices .product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--yc-primary-color);
}
.yc-featured-products .product-list .product-block .prices .compare-at-price {
  text-decoration: line-through;
  color: #A3A3A3;
  font-size: 14px;
  font-weight: 400;
}
.yc-featured-products .product-list .product-block .prices .product-thumbnail:hover img {
  transform: scale(1.1);
}
.yc-featured-products .product-list .product-block .product-link {
  display: none;
}
.yc-featured-products .product-list .product-block .product-link-mobile {
  display: block;
  margin: 0 16px;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-link-mobile {
    margin: 0 30px;
  }
}
.yc-featured-products .product-list .product-block .product-link-mobile button {
  width: 100%;
}
.yc-featured-products .featured-product-placeholder {
  cursor: not-allowed;
}
.yc-featured-products .button-container {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .yc-featured-products .button-container {
    margin-top: 60px;
  }
}
@media screen and (max-width: 845px) {
  .yc-featured-products .yc-section-title {
    text-align: center;
  }
}
