.yc-featured-products .counter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.yc-featured-products .counter-wrapper .yc-section-title {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .yc-featured-products .counter-wrapper .yc-section-title {
    font-size: 18px;
  }
}
.yc-featured-products .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  align-items: stretch;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
@media (min-width: 992px) {
  .yc-featured-products .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.yc-featured-products .product-list .product-block {
  text-align: center;
  color: var(--yc-neutral-color);
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.yc-featured-products .product-list .product-block .product-thumbnail {
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding: 0 0 100%;
  height: 0;
}
.yc-featured-products .product-list .product-block .product-thumbnail img, .yc-featured-products .product-list .product-block .product-thumbnail svg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease;
}
.yc-featured-products .product-list .product-block .product-thumbnail img:hover, .yc-featured-products .product-list .product-block .product-thumbnail svg:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.yc-featured-products .product-list .product-block .product-details {
  text-align: start;
  margin-top: 12px;
  padding: 0 6px;
  text-align: center;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details {
    margin-top: 10px;
  }
}
.yc-featured-products .product-list .product-block .product-details .product-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .product-details .product-title {
    font-weight: 600;
    font-size: 17px;
  }
}
.yc-featured-products .product-list .product-block:hover .yc-btn {
  opacity: 1;
}
.yc-featured-products .product-list .product-block .yc-btn {
  display: block;
  position: absolute;
  bottom: 117px;
  width: 80%;
  opacity: 0;
  border-radius: 4px;
}
.yc-featured-products .product-list .product-block .prices {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
  margin: 12px auto 0;
  padding: 0 6px 6px;
  align-items: center;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .prices {
    margin: 15px auto 20px;
    gap: 10px;
  }
}
@media (min-width: 992px) {
  .yc-featured-products .product-list .product-block .prices {
    flex-direction: row;
    justify-content: center;
  }
}
.yc-featured-products .product-list .product-block .prices .product-price {
  font-weight: 700;
  color: var(--yc-primary-color);
  font-size: 17px;
  line-height: 120%;
}
@media (min-width: 768px) {
  .yc-featured-products .product-list .product-block .prices .product-price {
    font-size: 22px;
  }
}
.yc-featured-products .product-list .product-block .prices .compare-at-price {
  text-decoration: line-through;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 500;
}
.yc-featured-products .product-list .product-block .prices .product-thumbnail:hover img {
  transform: scale(1.1);
}
.yc-featured-products .product-list .featured-product-placeholder {
  cursor: not-allowed;
}
.yc-featured-products .button-container {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .yc-featured-products .button-container {
    margin-top: 60px;
  }
}
