.yc-footer {
  background-color: var(--yc-footer-background-color);
  color: var(--yc-footer-text-color);
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 40px 0;
}
.yc-footer .columns {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.yc-footer .columns .column {
  flex: 1 1 0;
}
@media (min-width: 768px) {
  .yc-footer .columns {
    flex-direction: row;
  }
}
.yc-footer .accordion-item .accordion-header {
  display: flex;
  justify-content: space-between;
  color: inherit;
  align-items: center;
  column-gap: 12px;
  border-bottom: 1px solid #444444;
  padding-bottom: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .yc-footer .accordion-item .accordion-header {
    border-color: transparent;
    cursor: unset;
  }
}
.yc-footer .accordion-item .accordion-header .title {
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
.yc-footer .accordion-item .accordion-header .arrow {
  transform: rotate(180deg);
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
@media (min-width: 768px) {
  .yc-footer .accordion-item .accordion-header .arrow {
    display: none;
  }
}
.yc-footer .accordion-item .accordion-header.active .arrow {
  transform: unset;
}
.yc-footer .accordion-item .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}
@media (min-width: 768px) {
  .yc-footer .accordion-item .accordion-content {
    max-height: unset;
    overflow: unset;
  }
}
.yc-footer .accordion-item .accordion-content .item {
  display: block;
  font-weight: 300;
  font-size: 13px;
  line-height: 250%;
}
@media (min-width: 768px) {
  .yc-footer .accordion-item .accordion-content .item {
    font-size: 15px;
  }
}
.yc-footer .accordion-item .accordion-content .item:hover {
  text-decoration: underline;
}
.yc-footer .copyright-wrapper {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.yc-footer .copyright-wrapper .copyright-title {
  font-weight: 600;
  font-size: 11px;
}
.yc-footer .copyright-wrapper .link {
  display: block;
  width: 24px;
  height: 24px;
}
.yc-footer .copyright-wrapper .link img {
  width: 100%;
  height: 100%;
}
.yc-footer .footer-space {
  margin-top: 14px;
}
@media (min-width: 768px) {
  .yc-footer .footer-space {
    border-top: 1px solid #444444;
    padding-top: 45px;
    margin-top: 35px;
  }
}
