.yc-footer {
  background-color: var(--yc-footer-background-color);
  color: var(--yc-footer-text-color);
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 5.4rem 0 6rem;
  position: relative;
}
.yc-footer .title {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.yc-footer .columns {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  flex-direction: column;
}
.yc-footer .columns .column {
  flex: 1 1 0;
}
@media (min-width: 768px) {
  .yc-footer .columns {
    flex-direction: row;
  }
}
.yc-footer .item,
.yc-footer .description {
  font-size: 14px;
  margin-bottom: 0.7rem;
  opacity: 0.7;
  display: block;
}
.yc-footer .description {
  line-height: 1.8;
}
.yc-footer a.item:not(.normal):hover {
  text-decoration: underline;
  line-height: 1.5;
}
.yc-footer .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  font-size: 14px;
  text-align: center;
  background-color: var(--yc-footer-copyright-background);
}
.yc-footer .copyright .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yc-footer .copyright .container img {
  height: 26px;
}
.yc-footer .logo {
  margin-bottom: 3rem;
}
.yc-footer .logo img {
  max-height: 2.5rem;
  object-fit: contain;
}
