.yc-footer {
  background-color: var(--yc-footer-background-color);
  color: var(--yc-footer-text-color);
  margin-top: 27px;
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 40px 0;
}
.yc-footer .title {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.yc-footer .columns {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.yc-footer .columns .column {
  flex: 1 1 0;
}
@media (min-width: 768px) {
  .yc-footer .columns {
    flex-direction: row;
  }
}
.yc-footer .item,
.yc-footer .description {
  font-size: 14px;
  margin-bottom: 0.7rem;
  opacity: 0.7;
  display: block;
}
.yc-footer .description {
  line-height: 1.8;
}
.yc-footer a.item:not(.normal):hover {
  text-decoration: underline;
  line-height: 1.5;
}
.yc-footer .copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 14px;
}
.yc-footer .logo {
  margin-bottom: 3rem;
}
.yc-footer .logo img {
  max-height: 2.5rem;
  object-fit: contain;
}
.yc-footer .social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}
