.yc-footer {
  background-color: var(--yc-footer-background-color);
  color: var(--yc-footer-text-color);
  box-shadow: 0px 1.81678px 2.73px -0.454196px rgba(51, 51, 51, 0.13);
  border-top: 1px solid var(--yc-footer-border-color);
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 77px 0 24px 0;
}
@media (min-width: 768px) {
  .yc-footer {
    padding: 75px 0 27px 0;
  }
}
.yc-footer .columns {
  display: flex;
  gap: 35px;
  flex-direction: column;
}
.yc-footer .columns .column {
  flex: 1 1 0;
}
@media (min-width: 768px) {
  .yc-footer .columns {
    flex-direction: row;
  }
}
.yc-footer .footer-logo img {
  width: 85px;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .yc-footer .footer-logo img {
    margin: unset;
  }
}
.yc-footer .accordion-item .accordion-header {
  display: flex;
  justify-content: space-between;
  color: inherit;
  align-items: center;
  column-gap: 12px;
  border-bottom: 1px solid var(--yc-footer-border-color);
  padding-bottom: 12px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .yc-footer .accordion-item .accordion-header {
    margin-bottom: 23px;
    border-bottom: unset;
    padding-bottom: unset;
    cursor: unset;
  }
}
.yc-footer .accordion-item .accordion-header .title {
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  width: 100%;
  text-align: center;
  margin-right: 6%;
}
@media (min-width: 768px) {
  .yc-footer .accordion-item .accordion-header .title {
    font-size: 14px;
    width: unset;
    text-align: unset;
    margin-right: unset;
  }
}
.yc-footer .accordion-item .accordion-header .arrow {
  transform: rotate(180deg);
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
@media (min-width: 768px) {
  .yc-footer .accordion-item .accordion-header .arrow {
    display: none;
  }
}
.yc-footer .accordion-item .accordion-header.active .arrow {
  transform: unset;
}
.yc-footer .accordion-item .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}
@media (min-width: 768px) {
  .yc-footer .accordion-item .accordion-content {
    max-height: unset;
    overflow: unset;
  }
}
.yc-footer .accordion-item .accordion-content .item {
  display: block;
  font-weight: 300;
  font-size: 13px;
  line-height: 250%;
  text-align: center;
}
@media (min-width: 768px) {
  .yc-footer .accordion-item .accordion-content .item {
    font-weight: 400;
    font-size: 12px;
    text-align: start;
  }
}
.yc-footer .accordion-item .accordion-content .item:hover {
  text-decoration: underline;
}
.yc-footer .social-media-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 768px) {
  .yc-footer .social-media-links {
    justify-content: end;
    order: 9999;
  }
}
.yc-footer .social-media-links .link {
  display: block;
  width: 29px;
  height: 30px;
}
.yc-footer .social-media-links .link .image {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .yc-footer .copyright-wrapper {
    margin-top: 75px;
    border-top: 1px solid var(--yc-footer-border-color);
  }
}
.yc-footer .copyright-wrapper .copyright-title {
  margin-top: 23px;
  font-size: 11px;
  font-weight: 300;
  line-height: 250%;
  text-align: center;
}
