.yc-featured-products .yc-hot-products {
  display: flex;
  align-items: center;
  font-size: 26px;
  padding: 0;
  margin: 0 auto 40px;
}
.yc-featured-products .hot-product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
@media (min-width: 768px) {
  .yc-featured-products .hot-product-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 40px;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .yc-featured-products .hot-product-list {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    padding: 0 50px;
  }
}
.yc-featured-products .product-box {
  border: 1px solid #E7E7E7;
  position: relative;
  width: 100%;
}
.yc-featured-products .product-thumbnail {
  overflow: hidden;
}
.yc-featured-products .product-thumbnail img {
  width: 100%;
  height: 190px;
  object-fit: contain;
  transition: 0.2s ease-in-out;
}
.yc-featured-products .product-thumbnail img:hover {
  transform: scale(1.1);
}
.yc-featured-products .prices {
  margin: 20px 0 0;
  text-align: center;
  padding-bottom: 12px;
}
.yc-featured-products .prices .product-price {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: var(--yc-primary-color);
  line-height: 24px;
}
.yc-featured-products .prices .compare-price {
  color: #8D8D8D;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 400;
  text-decoration-line: line-through;
}
