.container {
  margin: 0 auto;
  max-width: 540px;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* ------------------------- */
/* ----- global styles ----- */
/* ------------------------- */
html,
body {
  font-family: "Nunito Sans", sans-serif;
  direction: var(--yc-theme-direction);
  color: var(--yc-primary-color);
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  font-size: 14px;
  margin: 12px 0 6px 0;
  display: block;
}

.lead,
.content p {
  font-size: 1.2em !important;
  line-height: 1.6em !important;
}

.yc-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: var(--yc-nav-height);
  z-index: 100;
  background-color: var(--yc-nav-background);
  padding: 0 calc(var(--yc-nav-px) - var(--yc-nav-px) / 5);
}
.yc-navbar items {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.yc-navbar items > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.yc-navbar items .search {
  font-size: 1.5rem;
}
.yc-navbar items .cart {
  font-size: 1.5rem;
}
.yc-navbar logo {
  justify-self: start;
  padding: 0 calc(var(--yc-nav-px) / 5);
  font-weight: 400;
}
.yc-navbar menu {
  justify-self: center;
}
.yc-navbar menu-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.yc-navbar menu-item a {
  color: var(--yc-nav-links-color);
  font-size: 16px;
  padding: 0 calc(var(--yc-nav-px) / 5);
  font-weight: 400;
  height: 100%;
  text-decoration: none;
}
.yc-navbar menu-item a,
.yc-navbar corner a {
  transition: var(--yc-primary-transition);
}
.yc-navbar menu-item a:hover,
.yc-navbar corner a:hover {
  opacity: var(--yc-nav-links-hover-transparency);
}

.product-holder:hover .product-title {
  text-decoration: underline;
}

.yc-section-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.yc-btn {
  background: var(--yc-primary-color) !important;
  color: white !important;
  padding: 0 2rem;
  transition: all 0.15s ease-in-out 0s;
  letter-spacing: 1px;
  cursor: pointer;
  pointer-events: auto;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.yc-btn:not(.btn-sm) {
  height: 44px;
}
.yc-btn > * {
  color: white !important;
}
.yc-btn.btn-sm {
  padding: 7px 17px;
  font-size: 14px;
}
.yc-btn.btn-sm ion-icon {
  margin-bottom: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-weight: 300;
}

.nice-select .nice-select-dropdown,
.yc-cart .summary-box,
.yc-pagination {
  box-shadow: var(--yc-primary-shadow) !important;
  border: 1px solid #f2f2f2 !important;
}

input:not([type=radio]),
.nice-select,
.selector-item_label {
  transition: box-shadow 100ms ease;
  box-shadow: var(--yc-inputs-shadow);
  padding-left: 13px !important;
  padding-right: 13px !important;
  font-size: 14px !important;
  height: 38px !important;
  line-height: 38px !important;
  outline: none;
}

.product-imgs img {
  transition: box-shadow 100ms ease;
}

input:not([type=radio]):hover,
.product-imgs img.active,
.product-imgs img:hover,
.nice-select:hover,
.selector-item_label:hover,
.selector-item_radio:checked + .selector-item_label {
  box-shadow: 0 0 0 0.2rem rgba(36, 36, 36, 0.45);
}

.yc-shadow {
  box-shadow: var(--yc-primary-shadow);
}
