@media (min-width: 768px) {
  .yc-slider__mobile {
    display: none;
  }
}
.yc-slider__mobile .content {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.yc-slider__mobile .content * {
  background-color: transparent !important;
}
.yc-slider__mobile .content > div {
  max-width: 30rem;
  position: relative;
  z-index: 3;
}
.yc-slider__mobile .content .yc-btn {
  background-color: white !important;
  color: black !important;
  margin-top: 1rem;
}
.yc-slider__mobile .content .headers, .yc-slider__mobile .content h3, .yc-slider__mobile .content h2, .yc-slider__mobile .content h1 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.yc-slider__mobile .content h1 {
  font-size: 3rem;
}
.yc-slider__mobile .content h2 {
  font-size: 1.5rem;
}
.yc-slider__mobile .content h3 {
  font-size: 1rem;
}
.yc-slider__mobile .content p {
  margin-top: 1rem;
}
.yc-slider__mobile .content .btn-holder {
  margin-top: 2rem;
  text-align: center;
}
