.items-configs, .navigation-drawer *:not(span), .yc-header .yc-navbar *:not(span):not(input) {
  color: var(--yc-nav-links-color);
  font-family: var(--yc-nav-font-family);
  font-weight: var(--yc-nav-links-font-weight);
}

.yc-header {
  background-color: var(--yc-nav-background);
  transition: opacity 0.3s, transform 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.yc-header.nav-fixed.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 101;
  animation: make-navbar-fixed 0.2s ease;
}
@keyframes make-navbar-fixed {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.yc-header .yc-navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: var(--yc-nav-height);
  z-index: 100;
  background-color: var(--yc-nav-background);
  position: relative;
}
.yc-header .yc-navbar :first-child {
  justify-self: start;
}
.yc-header .yc-navbar :nth-child(2) {
  justify-self: center;
}
.yc-header .yc-navbar :last-child {
  justify-self: end;
}
.yc-header .yc-navbar .corner {
  display: flex;
  align-items: center;
  gap: 24px;
}
.yc-header .yc-navbar .corner > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.yc-header .yc-navbar .corner .search {
  font-size: 1.5rem;
}
.yc-header .yc-navbar .corner .cart {
  font-size: 1.5rem;
}
.yc-header .yc-navbar .corner .cart #cart-items-badge {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -9px;
  margin-right: -9px;
  height: 20px;
  width: 20px;
  background-color: var(--yc-primary-color);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 50%;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .yc-header .yc-navbar .menu, .yc-header .yc-navbar .menu-toggler {
    height: 30px;
  }
}
@media (min-width: 992px) {
  .yc-header .yc-navbar .menu-toggler {
    display: none;
  }
}
.yc-header .yc-navbar .logo img {
  max-height: 25px;
}
.yc-header .yc-navbar .menu-list {
  display: none;
  list-style: none;
  gap: 32px;
}
@media (min-width: 992px) {
  .yc-header .yc-navbar .menu-list {
    display: flex;
  }
}
.yc-header .yc-navbar .menu-item {
  height: calc(var(--yc-nav-height) + 1px);
  display: flex;
  align-items: center;
}
.yc-header .yc-navbar .menu-item a {
  color: var(--yc-nav-links-color);
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.yc-header .yc-navbar .itemactive {
  border-bottom: 3px solid var(--yc-primary-color);
}
.yc-header .yc-navbar .itemactive a {
  font-weight: 700;
  margin-bottom: -3px;
}
.yc-header .yc-navbar .menu-item a,
.yc-header .yc-navbar .corner a {
  transition: var(--yc-primary-color);
}
.yc-header .yc-navbar .menu-item a:hover,
.yc-header .yc-navbar .corner a:hover {
  opacity: var(--yc-nav-links-hover-transparency);
}

#searchInputHolder {
  transition: var(--yc-primary-color);
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--yc-nav-height);
  z-index: 96;
  background: white;
}
#searchInputHolder .search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#searchInputHolder .search-wrapper input {
  color: #A8A8A8;
  padding: 12px 0;
  border: 0;
  width: 94%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
#searchInputHolder .search-wrapper .close-search {
  color: #000;
  font-size: 24px;
  cursor: pointer;
}

/* ----------------------------- */
/* ----- navigation-drawer ----- */
/* ----------------------------- */
.global-overlay {
  transition-duration: 0.2s;
  transition-property: opacity;
  position: fixed;
  top: var(--yc-notice-height-desktop);
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 95;
  visibility: hidden;
  opacity: 0;
}

.navigation-drawer {
  background-color: var(--yc-drawer-background);
  transition-duration: 0.06s;
  transition-property: opacity, transform;
  transform: translateY(-100%);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 101;
}
.navigation-drawer .items {
  padding: 22px 0;
  margin: auto 24px;
  border-top: 1px solid;
}
.navigation-drawer .items,
.navigation-drawer .items * {
  color: var(--yc-drawer-links-color) !important;
  font-family: var(--yc-drawer-font-family) !important;
  font-weight: var(--yc-drawer-links-font-weight) !important;
}
.navigation-drawer .items-wrapper {
  border-bottom: 1px solid;
}
.navigation-drawer .items-wrapper .arrow-icon {
  color: #6F6F6F !important;
}
.navigation-drawer .items-wrapper,
.navigation-drawer .items {
  border-color: #E9E9E9;
  font-size: 14px;
}
.navigation-drawer .close-drawer-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-drawer .close-drawer-btn .close-svg {
  color: #C8C8C8;
  font-size: 1.6rem;
}

.global-overlay,
.navigation-drawer {
  transition-timing-function: ease-in-out;
}
