.items-configs, #mobile-menu *:not(span), .yc-header .yc-navbar *:not(span):not(input) {
  color: var(--yc-nav-links-color);
  stroke: var(--yc-nav-links-color);
  font-family: var(--yc-nav-font-family);
  font-weight: var(--yc-nav-links-font-weight);
}

.header-wrapper {
  position: relative;
}
.header-wrapper.open {
  z-index: 1001;
}

.yc-header {
  background-color: var(--yc-nav-background);
  transition: opacity 0.3s, transform 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.yc-header.hide {
  z-index: 101 !important;
}
.yc-header.nav-fixed.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1001;
  animation: make-navbar-fixed 0.2s ease;
}
@keyframes make-navbar-fixed {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.yc-header .yc-navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  min-height: var(--yc-nav-height);
  padding: 8px 20px;
}
.yc-header .yc-navbar :first-child {
  justify-self: start;
}
.yc-header .yc-navbar :nth-child(2) {
  justify-self: center;
}
.yc-header .yc-navbar :last-child {
  justify-self: end;
}
.yc-header .yc-navbar .corner {
  display: flex;
  align-items: center;
  gap: 17px;
}
.yc-header .yc-navbar .corner > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.yc-header .yc-navbar .corner .search {
  font-size: 1.5rem;
}
.yc-header .yc-navbar .corner .cart {
  font-size: 1.5rem;
}
.yc-header .yc-navbar .corner .cart #cart-items-badge {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -9px;
  margin-right: -9px;
  height: 20px;
  width: 20px;
  background-color: var(--yc-primary-color);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 50%;
  z-index: 10;
}
.yc-header .yc-navbar .logo img {
  max-width: 110px;
  max-height: 65px;
}
@media (min-width: 768px) {
  .yc-header .yc-navbar .logo img {
    max-width: 120px;
  }
}
.yc-header .yc-navbar .menu-list {
  display: none;
  list-style: none;
}
.yc-header .yc-navbar .menu-list .menu-itemactive {
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--yc-primary-color);
}
.yc-header .yc-navbar .menu-list .menu-itemactive a {
  margin-bottom: -3px;
}
@media (min-width: 768px) {
  .yc-header .yc-navbar .menu-list {
    display: flex;
    gap: 32px;
  }
}
.yc-header .yc-navbar .menu-item {
  height: calc(var(--yc-nav-height) + 1px);
}
.yc-header .yc-navbar .menu-item a {
  display: flex;
  align-items: center;
  color: var(--yc-nav-links-color);
  font-size: 16px;
  line-height: 140.5%;
  padding: 0 calc(var(--yc-nav-px) / 5);
  height: 100%;
  text-decoration: none;
}
.yc-header .yc-navbar .menu-item a,
.yc-header .yc-navbar .corner a {
  transition: var(--yc-primary-color);
}
.yc-header .yc-navbar .menu-item a:hover,
.yc-header .yc-navbar .corner a:hover {
  opacity: var(--yc-nav-links-hover-transparency);
}

#searchInputHolder {
  transition: var(--yc-primary-color);
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--yc-nav-height) + 1px);
  z-index: 1001;
  background: white;
}
#searchInputHolder .search-form {
  width: 100%;
}
#searchInputHolder .search-form .search-input {
  width: 100%;
  font-family: inherit;
  border: none;
  padding: 0;
  color: #111;
  caret-color: var(--yc-primary-color);
}
#searchInputHolder #close-search-btn {
  display: flex;
  align-items: center;
}
#searchInputHolder #close-search-btn ion-icon {
  font-size: 2rem;
  color: #111;
}

/* ----------------------------- */
/* ----- mobile navigation ----- */
/* ----------------------------- */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.hamburger .bar {
  width: 25px;
  height: 2.5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}
.hamburger .bar:nth-child(2) {
  width: 50%;
}
.hamburger.close .bar {
  margin: 4px 0;
}
.hamburger.close .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-3px, 4px);
}
.hamburger.close .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.close .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

#mobile-menu {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 1001;
  transition: opacity 200ms ease-in-out;
}
#mobile-menu.is-open {
  opacity: 1;
  height: fit-content;
}
@media (min-width: 768px) {
  #mobile-menu.is-open {
    display: none;
  }
}
#mobile-menu .items {
  padding: 20px 16px;
  border-top: 1px solid;
}
#mobile-menu .items,
#mobile-menu .items * {
  color: #000 !important;
  font-family: var(--yc-drawer-font-family) !important;
  font-size: 15px !important;
  font-weight: var(--yc-drawer-links-font-weight) !important;
}
#mobile-menu .items-wrapper {
  border-bottom: 1px solid;
}
#mobile-menu .items-wrapper,
#mobile-menu .items {
  border-color: rgba(0, 0, 0, 0.1);
}

.global-overlay {
  transition-duration: 0.2s;
  transition-property: opacity;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.global-overlay {
  transition-timing-function: ease-in-out;
}
