.yc-notice {
  background-color: var(--yc-notice-background-color);
  height: var(--yc-notice-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.yc-notice .content {
  padding: var(--yc-notice-content-padding);
  color: var(--yc-notice-text-color);
  font-size: var(--yc-notice-font-size);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.yc-notice .desktop {
  display: none;
}
@media (min-width: 768px) {
  .yc-notice .desktop {
    display: flex;
  }
}
.yc-notice .mobile {
  display: flex;
}
@media (min-width: 768px) {
  .yc-notice .mobile {
    display: none;
  }
}

.yc-notice.notice-fixed {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
