.yc-notice {
  white-space: nowrap;
  overflow: hidden;
}
.yc-notice .content {
  display: flex;
  align-items: center;
  padding: 8px 0 10px 0;
  justify-content: center;
  column-gap: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.yc-notice .content img {
  height: 17px;
  width: 18px;
}
.yc-notice.desktop {
  display: none;
}
@media (min-width: 768px) {
  .yc-notice.desktop {
    display: flex;
    background-color: var(--yc-notice-background-color-desktop);
    height: var(--yc-notice-height-desktop);
  }
  .yc-notice.desktop .content {
    color: var(--yc-notice-text-color-desktop);
    font-size: var(--yc-notice-font-size-desktop);
  }
}
.yc-notice.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 12px 0;
  gap: 12px;
  background-color: var(--yc-notice-background-color-mobile);
  height: var(--yc-notice-height-mobile);
}
.yc-notice.mobile .content {
  color: var(--yc-notice-text-color-mobile);
  font-size: var(--yc-notice-font-size-mobile);
}
.yc-notice.mobile img {
  height: 17px;
  width: 18px;
}
@media (min-width: 768px) {
  .yc-notice.mobile {
    display: none;
  }
}
