.yc-single-product {
  display: flex;
  gap: 8px;
  margin: 25px auto;
  flex-direction: column;
  align-items: start;
}
@media (min-width: 768px) {
  .yc-single-product {
    gap: 20px;
    flex-direction: row;
  }
}
.yc-single-product .top-spacing {
  margin-top: 20px;
}
.yc-single-product .group-blocks {
  display: flex;
  gap: 18px;
}
.yc-single-product .group-blocks .static-add-to-cart {
  flex-grow: 1;
}
.yc-single-product .product-images {
  width: 100%;
}
.yc-single-product .product-images .splide {
  margin-right: -20px;
}
@media (min-width: 768px) {
  .yc-single-product .product-images .splide {
    margin-right: unset;
  }
}
.yc-single-product .product-images .img-zoomer-box {
  position: relative;
  overflow: hidden;
}
.yc-single-product .product-images .img-zoomer-box .original-image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 541px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .yc-single-product .product-images .img-zoomer-box .original-image {
    max-height: 721px;
  }
}
.yc-single-product .product-images .images-list li:not(:first-child) .tag {
  display: none;
}
.yc-single-product .product-images .images-list li:first-child {
  position: relative;
}
.yc-single-product .product-images .images-list li:first-child .tag {
  width: 100%;
  top: 23px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: unset;
  padding: 0 20px;
}
.yc-single-product .product-images .img-zoomer-box:hover,
.yc-single-product .product-images .img-zoomer-box:active {
  cursor: zoom-in;
  display: block;
}
.yc-single-product .product-images .img-zoomer-box:hover .magnified-image,
.yc-single-product .product-images .img-zoomer-box:active .magnified-image {
  opacity: 1;
}
.yc-single-product .product-images .magnified-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  z-index: 99;
  display: block;
  transition: opacity 0.2s;
  background-size: 112%;
}
.yc-single-product .product-images .splide__slide {
  display: block !important;
}
.yc-single-product .product-images .splide__pagination {
  display: flex !important;
  justify-content: center;
  bottom: 2.5em;
}
.yc-single-product .product-images .splide__pagination button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #838383;
  margin: 0 5px;
  cursor: pointer;
}
.yc-single-product .product-images .splide__pagination button.is-active {
  background-color: var(--yc-primary-color);
  transform: scale(1.7);
}
.yc-single-product .product-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.yc-single-product .product-details .product-name {
  display: none;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
}
@media (min-width: 768px) {
  .yc-single-product .product-details .product-name {
    display: block;
  }
}
.yc-single-product .product-details .product-options {
  display: grid;
}
.yc-single-product .product-details .product-options .product-option .active {
  border: 1px solid #000000;
}
.yc-single-product .product-details .product-options .product-option .yc-image-options-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.yc-single-product .product-details .product-options .product-option .yc-image-options-list .yc-image-options-item {
  aspect-ratio: 1;
  width: 75px;
  height: 90px;
  padding: 4px;
  cursor: pointer;
}
.yc-single-product .product-details .product-options .product-option .yc-image-options-list .yc-image-options-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.yc-single-product .product-details .product-options .product-option .yc-upload {
  background-color: #F9F9F9;
  border: 1px dashed #DFDFDF;
  color: var(--yc-neutral-color);
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  cursor: pointer;
}
.yc-single-product .product-details .product-options .product-option .yc-upload input {
  display: none;
}
.yc-single-product .product-details .product-options .product-option .yc-upload .upload-icon {
  width: 22px;
  height: 22px;
  color: #A7A7A7;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview {
  display: none;
  background: white;
  border: 1px solid #e1e1e1;
  height: auto;
  padding: 14px 18px;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper .yc-image-preview {
  display: flex;
  align-items: center;
  gap: 15px;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper .yc-image-preview img {
  width: 67px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper .yc-image-preview .yc-image-info {
  display: grid;
  gap: 8px;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  color: var(--yc-neutral-color);
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper .yc-image-preview .yc-image-info .image-size {
  color: #BABABA;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .progress-container {
  width: 100%;
  height: 3px;
  background-color: #cecece;
  border-radius: 5px;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .progress-bar {
  width: 0%;
  height: 100%;
  background-color: var(--yc-primary-color);
  border-radius: 5px;
  transition: width 1s ease-in-out;
}
.yc-single-product .product-details .product-description {
  overflow: hidden;
}
.yc-single-product .product-details .product-description * {
  font-family: var(--yc-font-family);
  line-height: 184.5%;
}
.yc-single-product .product-details .product-description strong {
  font-weight: 700;
}
.yc-single-product .product-details .product-option-title {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
@media (min-width: 768px) {
  .yc-single-product .product-details .product-option-title {
    font-size: 18px;
  }
}
.yc-single-product .product-price-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 7px;
}
.yc-single-product .product-price {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: var(--yc-primary-color);
  order: 2;
}
@media (min-width: 768px) {
  .yc-single-product .product-price {
    font-size: 32px;
  }
}
.yc-single-product .compare-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #8D8D8D;
}
@media (min-width: 768px) {
  .yc-single-product .compare-price {
    font-size: 24px;
  }
}
.yc-single-product .express-checkout-container {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: 1px 13px 53px rgba(0, 0, 0, 0.1);
}

/* ----- Quantity input ----- */
.quantity-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 151px;
  border: 1px solid #BDBDBD;
  padding: 10.3px 5px;
  /* Hide input arrows in Chrome, Safari, Edge, Opera */
  /* Hide input arrows in Firefox */
}
.quantity-field .quantity-input::-webkit-outer-spin-button,
.quantity-field .quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-field .quantity-input[type=number] {
  -moz-appearance: textfield;
}
.quantity-field .quantity-input {
  width: 50%;
  text-align: center;
  border: none;
  padding: 0 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 150% !important;
  color: black;
}
.quantity-field .quantity-input:focus {
  outline: none;
}
.quantity-field .decrement-button,
.quantity-field .increment-button {
  width: 25%;
  height: 100%;
  border: none;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  background: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.quantity-field .decrement-button:active,
.quantity-field .increment-button:active {
  scale: 1.5;
}
