.yc-product-listing-container .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 8px;
  margin: 36px auto 50px;
}
.yc-product-listing-container .product-list .product-block {
  display: flex;
  flex-direction: column;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail {
  position: relative;
  overflow: hidden;
  padding: 0 0 100%;
  height: 200px;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease;
  object-fit: cover;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail img:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
@media (min-width: 768px) {
  .yc-product-listing-container .product-list .product-block .product-thumbnail {
    height: 350px;
  }
}
.yc-product-listing-container .product-list .product-block .product-thumbnail .product-link {
  display: none;
  width: 78%;
  margin: auto;
  top: 120%;
  transition: all 0.25s;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail .product-link a {
  font-weight: 700;
  font-size: 13px;
}
@media (min-width: 768px) {
  .yc-product-listing-container .product-list .product-block .product-thumbnail .product-link {
    display: block;
    width: 80%;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.yc-product-listing-container .product-list .product-block .product-thumbnail:hover .product-link {
  top: 90%;
}
.yc-product-listing-container .product-list .product-block .product-link-mobile {
  margin: 15px auto 30px;
  width: 85%;
}
.yc-product-listing-container .product-list .product-block .product-link-mobile a {
  font-weight: 700;
  font-size: 13px;
}
.yc-product-listing-container .product-list .product-block .product-details {
  margin: 12px 0;
  text-align: center;
  flex-grow: 1;
}
.yc-product-listing-container .product-list .product-block .product-details .product-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
}
@media (min-width: 768px) {
  .yc-product-listing-container .product-list .product-block .product-details .product-title {
    font-size: 14px;
    font-weight: 600;
  }
}
.yc-product-listing-container .product-list .product-block .prices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
.yc-product-listing-container .product-list .product-block .prices .product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--yc-primary-color);
}
.yc-product-listing-container .product-list .product-block .compare-at-price {
  font-size: 14px;
  font-weight: 400;
  color: #A3A3A3;
  text-decoration-line: line-through;
}
@media (min-width: 768px) {
  .yc-product-listing-container .product-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 12px;
  }
  .yc-product-listing-container .product-list .product-block .prices {
    flex-direction: row;
  }
  .yc-product-listing-container .product-list .product-block .product-link-mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  .yc-product-listing-container .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.search-page {
  max-width: fit-content;
  margin-top: 30px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
.header-wrapper .category-name {
  font-size: 26px;
  font-weight: 700;
}

.sort-container {
  width: 100%;
  max-width: max-content;
  display: flex;
  align-items: flex-end;
}
.sort-container #productDropdownFiltring {
  width: 100%;
  min-width: 210px;
}
.sort-container #productDropdownFiltring .dropdown-content a {
  color: black;
  padding: 10px;
  margin: 3px auto;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  display: block;
}
.sort-container #productDropdownFiltring .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.sort-container .sort-wrapper {
  display: flex;
  align-items: center;
  gap: 13px;
}
@media (max-width: 768px) {
  .sort-container .sort-wrapper {
    display: grid;
  }
}
.sort-container .sort-wrapper .sort-by {
  font-size: 13px;
  font-weight: 400;
}
