.yc-product-listing-container {
  padding: 0 16px;
}
.yc-product-listing-container .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 40px;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail {
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  padding: 26px 5px;
}
.yc-product-listing-container .product-list .product-block .product-details {
  margin: 14px 0;
  text-align: center;
}
.yc-product-listing-container .product-list .product-block .product-details .product-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.yc-product-listing-container .product-list .product-block .prices {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.yc-product-listing-container .product-list .product-block .prices .product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--yc-primary-color);
}
@media (min-width: 768px) {
  .yc-product-listing-container .product-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
  }
}
@media (min-width: 992px) {
  .yc-product-listing-container .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.yc-product-listing-container .sort-container {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .yc-product-listing-container {
    padding: 0 50px;
  }
}
@media (min-width: 992px) {
  .yc-product-listing-container {
    padding: 0 80px;
  }
}
@media (min-width: 1200px) {
  .yc-product-listing-container {
    padding: 0 150px;
  }
}
@media (min-width: 1400px) {
  .yc-product-listing-container {
    padding: 0 250px;
  }
}
