.yc-product-listing-container {
  padding: 0 16px;
}
.yc-product-listing-container .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 40px;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail {
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  overflow: hidden;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail img:hover {
  transform: scale(1.1);
}
.yc-product-listing-container .product-list .product-block .product-details {
  margin: 14px 0;
  text-align: center;
}
.yc-product-listing-container .product-list .product-block .product-details .product-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.yc-product-listing-container .product-list .product-block .prices {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.yc-product-listing-container .product-list .product-block .prices .product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--yc-primary-color);
}
@media (min-width: 768px) {
  .yc-product-listing-container .product-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
  }
}
@media (min-width: 992px) {
  .yc-product-listing-container .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.yc-product-listing-container .sort-container {
  margin: 40px auto;
  /* Style the dropdown button */
}
.yc-product-listing-container .sort-container #productDropdownFiltring {
  /* Style the dropdown content */
}
.yc-product-listing-container .sort-container #productDropdownFiltring .dropbtn {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 280px;
  padding: 10px 15px;
  border: 1px solid #E7E7E7;
  text-align: start;
  gap: 6px;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}
.yc-product-listing-container .sort-container #productDropdownFiltring .dropbtn .dropdown-icon {
  position: absolute;
  left: 0;
  padding-left: 10px;
}
.yc-product-listing-container .sort-container #productDropdownFiltring .dropbtn {
  font-weight: 400;
}
.yc-product-listing-container .sort-container #productDropdownFiltring .dropdown-content {
  display: none;
  margin-top: 5px;
  position: absolute;
  z-index: 1;
  width: 280px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.yc-product-listing-container .sort-container #productDropdownFiltring .dropdown-content a {
  color: black;
  padding: 10px;
  margin: 3px auto;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  display: block;
}
.yc-product-listing-container .sort-container #productDropdownFiltring .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.yc-product-listing-container .sort-container #productDropdownFiltring .show {
  display: block;
}
@media (min-width: 768px) {
  .yc-product-listing-container {
    padding: 0 50px;
  }
}
@media (min-width: 992px) {
  .yc-product-listing-container {
    padding: 0 80px;
  }
}
@media (min-width: 1200px) {
  .yc-product-listing-container {
    padding: 0 150px;
  }
}
@media (min-width: 1400px) {
  .yc-product-listing-container {
    padding: 0 250px;
  }
}
