.product-slider .prices {
  flex: 1;
  margin: 20px 0 0;
  text-align: center;
  padding-bottom: 12px;
  margin-top: auto;
}
.product-slider .prices .product-price {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: var(--yc-primary-color);
  line-height: 24px;
}
@media (max-width: 767px) {
  .product-slider .prices .product-price {
    font-size: 20px;
  }
}
.product-slider .prices .compare-price {
  color: #8D8D8D;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 400;
  text-decoration-line: line-through;
}
.product-slider .product-link {
  display: block;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .product-slider .product-link {
    display: none;
  }
}
.product-slider .splide__pagination {
  display: none !important;
  justify-content: center;
  margin-bottom: -36px;
}
.product-slider .splide__arrows {
  position: absolute;
  transform: translate(44px, 25px);
  left: 50.5%;
  bottom: 0;
}
@media (max-width: 768px) {
  .product-slider .splide__arrows {
    padding-bottom: 30px;
  }
  .product-slider .splide__arrows {
    bottom: -25px;
  }
  .product-slider .splide__arrows .splide__arrow.splide__arrow--prev,
  .product-slider .splide__arrows .splide__arrow.splide__arrow--next {
    width: 42px;
    height: 42px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 845px) {
  .product-slider .splide__arrows {
    transform: unset;
    bottom: unset;
    top: -78px;
    left: 127px;
  }
  [dir=ltr] .product-slider .splide__arrows {
    left: calc(100% - 32px);
  }
}
.product-slider .product-block {
  width: 100%;
  position: relative;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
}
.product-slider .product-block .product-details {
  margin-top: 12px;
  padding: 0 6px;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .product-slider .product-block .product-details {
    margin-top: 12px;
    text-align: center;
  }
}
.product-slider .product-block .product-details .product-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}
@media (min-width: 768px) {
  .product-slider .product-block .product-details .product-title {
    font-weight: 600;
    font-size: 14px;
  }
}
.product-slider .product-block .prices {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
  margin: 12px auto 15px;
  padding: 0 6px;
}
@media (min-width: 768px) {
  .product-slider .product-block .prices {
    align-items: center;
    margin: 12px auto 24px;
    gap: 6px;
  }
}
@media (min-width: 992px) {
  .product-slider .product-block .prices {
    flex-direction: row;
    justify-content: center;
  }
}
.product-slider .product-block .prices .product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--yc-primary-color);
}
@media (min-width: 768px) {
  .product-slider .product-block .prices .product-price {
    font-size: 22px;
  }
}
.product-slider .product-block .prices .compare-at-price {
  text-decoration: line-through;
  color: #A3A3A3;
  font-size: 14px;
  font-weight: 400;
}
.product-slider .product-thumbnail {
  position: relative;
  overflow: hidden;
  padding: 0 0 100%;
  height: 350px;
}
.product-slider .product-thumbnail img, .product-slider .product-thumbnail svg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease;
  object-fit: cover;
}
.product-slider .product-thumbnail img:hover, .product-slider .product-thumbnail svg:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
@media (max-width: 768px) {
  .product-slider .product-thumbnail {
    height: 340px;
  }
}
@media (max-width: 576px) {
  .product-slider .product-thumbnail {
    height: 200px;
  }
}
.product-slider .product-thumbnail .product-link {
  width: 78%;
  margin: auto;
  display: none;
  top: 120%;
  transition: all 0.25s;
}
.product-slider .product-thumbnail .product-link a {
  font-weight: 700;
  font-size: 13px;
}
@media (min-width: 768px) {
  .product-slider .product-thumbnail .product-link {
    display: block;
    width: 80%;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.product-slider .product-thumbnail:hover .product-link {
  top: 90%;
}
.product-slider .product-link-mobile {
  margin: 15px auto 30px;
  width: 85%;
}
.product-slider .product-link-mobile a {
  font-weight: 700;
  font-size: 13px;
}
.product-slider .product-slider-placeholder {
  cursor: not-allowed;
}
