.product-images-container .product-block {
  padding: 36px 32px;
  border: 1px solid #E2E2E2;
  display: flex;
  justify-content: center;
  gap: 18px;
  width: 100%;
}
.product-images-container .product-block .product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 50%;
}
.product-images-container .product-block .product-name {
  color: #000000;
  font-weight: 400;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .product-images-container .product-block .product-name {
    font-size: 24px;
  }
}
.product-images-container .product-block .top-block {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.product-images-container .product-block .bottom-block {
  display: flex;
  gap: 27px;
  flex-direction: column;
}
.product-images-container .product-block .product-column-description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
.product-images-container .product-block .product-price {
  color: var(--yc-primary-color);
  font-weight: 700;
  font-size: 32px;
}
.product-images-container .product-block .product-compare-price {
  color: var(--yc-primary-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
}
.product-images-container .product-block .product-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}
.product-images-container .product-block .price-wrapper {
  margin-top: 24px;
}
.product-images-container .product-block .image-box {
  position: relative;
  width: 50%;
}
.product-images-container .product-block .image-box img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}
@media screen and (max-width: 768px) {
  .product-images-container .product-block .image-box img {
    height: 360px;
  }
}
.product-images-container .product-block .buy-btn {
  width: 100%;
}
@media (max-width: 768px) {
  .product-images-container .product-block {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 32px 18px;
  }
  .product-images-container .product-block .image-box {
    width: 100%;
  }
  .product-images-container .product-block .product-details {
    width: 100%;
  }
  .product-images-container .product-block .product-name {
    font-weight: 600;
    font-size: 21px;
  }
  .product-images-container .product-block .price-wrapper {
    justify-content: center;
  }
  .product-images-container .product-block .product-price {
    font-weight: 700;
    font-size: 24px;
  }
  .product-images-container .product-block .product-compare-price {
    font-weight: 400;
    font-size: 18px;
  }
  .product-images-container .product-block .top-block {
    text-align: center;
    gap: 16px;
  }
  .product-images-container .product-block .top-block .yc-general-review-wrapper {
    justify-content: center;
  }
}
