.yc-product-listing-container {
  padding: 0 16px;
}
.yc-product-listing-container .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 12px;
  margin: 40px auto;
}
.yc-product-listing-container .product-list .product-block {
  cursor: pointer;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail {
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding: 0 0 100%;
  height: 0;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease;
}
.yc-product-listing-container .product-list .product-block .product-thumbnail img:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.yc-product-listing-container .product-list .product-block .product-details {
  margin: 14px 0;
  text-align: start;
}
.yc-product-listing-container .product-list .product-block .product-details .product-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.yc-product-listing-container .product-list .product-block .prices {
  display: flex;
  justify-content: start;
  gap: 5px;
}
.yc-product-listing-container .product-list .product-block .prices .product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--yc-primary-color);
}
@media (min-width: 768px) {
  .yc-product-listing-container .product-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
  }
  .yc-product-listing-container .product-list .product-block .product-details {
    text-align: center;
  }
  .yc-product-listing-container .product-list .product-block .prices {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .yc-product-listing-container .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 768px) {
  .yc-product-listing-container {
    padding: 0 50px;
  }
}
@media (min-width: 992px) {
  .yc-product-listing-container {
    padding: 0 80px;
  }
}
@media (min-width: 1200px) {
  .yc-product-listing-container {
    padding: 0 150px;
  }
}
@media (min-width: 1400px) {
  .yc-product-listing-container {
    padding: 0 250px;
  }
}

@media (min-width: 768px) {
  .search-page {
    padding: 0 40px;
  }
}
@media (min-width: 992px) {
  .search-page {
    padding: 0 70px;
  }
}
@media (min-width: 1200px) {
  .search-page {
    padding: 0 150px;
  }
}

.sort-container {
  margin: 40px 0;
  max-width: max-content;
}
.sort-container #productDropdownFiltring {
  min-width: 280px;
}
.sort-container #productDropdownFiltring .dropdown-content a {
  color: black;
  padding: 10px;
  margin: 3px auto;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  display: block;
}
.sort-container #productDropdownFiltring .dropdown-content a:hover {
  background-color: #f1f1f1;
}
