.yc-product-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5%;
  max-width: 500px;
}
@media (min-width: 768px) {
  .yc-product-card {
    grid-template-columns: 55% 40%;
  }
}
.yc-product-card #main-image {
  width: 100%;
  height: 480px;
  object-fit: cover;
}
.yc-product-card .product-images {
  width: 100%;
}
.yc-product-card .product-images #img-zoomer-box {
  height: auto;
  position: relative;
  overflow: hidden;
}
.yc-product-card .product-images #main-image {
  width: 100%;
  height: auto;
}
.yc-product-card .product-images #img-zoomer-box:hover,
.yc-product-card .product-images #img-zoomer-box:active {
  cursor: zoom-in;
  display: block;
}
.yc-product-card .product-images #img-zoomer-box:hover #magnified-image,
.yc-product-card .product-images #img-zoomer-box:active #magnified-image {
  opacity: 1;
}
.yc-product-card .product-images #magnified-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  z-index: 99;
  display: block;
  transition: opacity 0.2s;
}
.yc-product-card .product-images.style1 .thumbnail-images {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  overflow: auto;
}
.yc-product-card .product-images.style1 .thumbnail-images img {
  display: inline-block;
  aspect-ratio: 1;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid transparent;
}
.yc-product-card .product-images.style1 .thumbnail-images img.active {
  border-color: var(--yc-primary-color);
}
.yc-product-card .product-images.style1 .thumbnail-images img:hover {
  transition: 0.4s ease-in-out;
  border-color: var(--yc-primary-color);
}
.yc-product-card .product-images.style2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 12px;
}
.yc-product-card .product-images.style2 .main-thumbnail {
  aspect-ratio: 1;
  height: 100%;
  object-fit: cover;
}
.yc-product-card .product-images.style2 .thumbnail-images {
  width: 220px;
}
.yc-product-card .product-images.style2 .thumbnail-images img {
  aspect-ratio: 1;
  height: 70px;
  margin-bottom: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}
.yc-product-card .product-images.style2 .thumbnail-images img:hover {
  border: 1px solid blanchedalmond;
}
.yc-product-card .product-images.slider_style {
  border: 1px solid #e3e3e3;
}
.yc-product-card .product-images.slider_style .images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.yc-product-card .product-images.slider_style .images img {
  object-fit: cover;
  aspect-ratio: 1;
  height: 80px;
}
.yc-product-card .product-details {
  width: 100%;
}
.yc-product-card .product-details .product-name {
  font-size: 18pt;
  font-weight: 500;
  margin-bottom: 15px;
}
.yc-product-card .product-details .product-price {
  font-size: 16pt;
  font-weight: 500;
}
.yc-product-card .product-details .product-options .product-option {
  margin-bottom: 20px;
}
.yc-product-card .product-details .product-options .active {
  border: 1px solid var(--yc-primary-color);
}
.yc-product-card .product-details .product-description {
  margin-top: 15px;
  color: var(--yc-neutral-light-color);
}
.yc-product-card .product-details .product-option-title {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 500;
}
