.product-slider .product-thumbnail img {
  height: 220px;
  object-fit: contain;
}
.product-slider .prices {
  margin: 20px 0 0;
  text-align: center;
  padding-bottom: 12px;
}
.product-slider .prices .product-price {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: var(--yc-primary-color);
  line-height: 24px;
}
.product-slider .prices .compare-price {
  color: #8D8D8D;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 400;
  text-decoration-line: line-through;
}
.product-slider .splide__pagination {
  display: flex !important;
  justify-content: center;
  margin-bottom: -36px;
}
.product-slider .product-block {
  width: 100%;
  background-color: white;
  border-radius: 3px;
}
.product-slider .product-block .product-details {
  text-align: center;
  margin: 8px auto;
}
.product-slider .product-block .prices {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.product-slider .product-block .compare-at-price {
  font-weight: 400;
  color: #8D8D8D;
  font-size: 15px;
  line-height: 120%;
  text-decoration-line: line-through;
}
