.product-images-container {
  padding: 0 20px;
}
.product-images-container .product-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}
.product-images-container .product-block .product-details {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  width: 50%;
}
.product-images-container .product-block .product-name {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
@media screen and (max-width: 768px) {
  .product-images-container .product-block .product-name {
    font-size: 24px;
  }
}
.product-images-container .product-block .product-price {
  color: var(--yc-primary-color);
  font-weight: 700;
  font-size: 27px;
}
.product-images-container .product-block .product-compare-price {
  color: #8D8D8D;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}
.product-images-container .product-block .product-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}
.product-images-container .product-block .image-box {
  position: relative;
  width: 50%;
}
.product-images-container .product-block .image-box img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .product-images-container .product-block .image-box img {
    height: 330px;
  }
}
.product-images-container .product-block .buy-btn {
  width: 100%;
}
@media (max-width: 768px) {
  .product-images-container .product-block {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .product-images-container .product-block .image-box {
    width: 100%;
  }
  .product-images-container .product-block .product-details {
    width: 100%;
  }
}
