.product-slider .product-thumbnail img {
  height: 270px;
  object-fit: contain;

  @media screen and (max-width: 570px) {
    height: 190px;
  }
}
.product-slider .product-block {
  width: 100%;
  padding: 20px 14px;
  background-color: white;
  border-radius: 3px;
}
.product-slider .product-block .product-details {
  text-align: center;
  margin: 20px auto;
}
.product-slider .product-block .prices {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.product-slider .product-block .compare-at-price {
  font-weight: 400;
  color: #8D8D8D;
  font-size: 15px;
  line-height: 120%;
  text-decoration-line: line-through;
}
