.yc-single-product {
  display: flex;
  gap: 8px;
  margin: 25px auto;
  flex-direction: column;
  align-items: start;
}
@media (min-width: 768px) {
  .yc-single-product {
    gap: 20px;
    flex-direction: row;
  }
}
.yc-single-product .product-images {
  width: calc(100% + 24px);
  margin: 0 -12px;
}
@media (min-width: 768px) {
  .yc-single-product .product-images {
    position: sticky;
    top: calc(var(--yc-nav-height) + 20px);
    width: 100%;
    margin: unset;
  }
}
.yc-single-product .product-images .main-image {
  width: auto;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}
.yc-single-product .product-images #img-zoomer-box {
  width: 100%;
  height: 333px;
  position: relative;
  overflow: hidden;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .yc-single-product .product-images #img-zoomer-box {
    height: 474px;
  }
}
.yc-single-product .product-images #img-zoomer-box:hover,
.yc-single-product .product-images #img-zoomer-box:active {
  cursor: zoom-in;
  display: block;
}
.yc-single-product .product-images #img-zoomer-box:hover #magnified-image,
.yc-single-product .product-images #img-zoomer-box:active #magnified-image {
  opacity: 1;
}
.yc-single-product .product-images #magnified-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  z-index: 99;
  display: block;
  transition: opacity 0.2s;
  background-size: 112%;
}
.yc-single-product .product-images .product-images-container {
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .yc-single-product .product-images .product-images-container {
    flex-direction: column;
    gap: 20px;
  }
}
.yc-single-product .product-images .product-images-container .thumbnail-images {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .yc-single-product .product-images .product-images-container .thumbnail-images {
    order: 1;
  }
}
@media screen and (max-width: 767px) {
  .yc-single-product .product-images .product-images-container .thumbnail-images {
    margin-left: 10px;
  }
}
.yc-single-product .product-images .product-images-container .splide__arrow--next {
  right: 0;
}
.yc-single-product .product-images .product-images-container .splide__arrow--prev {
  left: 0;
}
.yc-single-product .product-images .product-images-container .splide__slide {
  height: 77px !important;
}
@media (min-width: 768px) {
  .yc-single-product .product-images .product-images-container .splide__slide {
    height: 100% !important;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .yc-single-product .product-images .product-images-container .splide__slide {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .yc-single-product .product-images .product-images-container .splide__list {
    flex-direction: column;
  }
}
.yc-single-product .product-images .product-images-container .splide__arrow {
  width: 16px;
  height: 16px;
  display: flex !important;
}
@media screen and (max-width: 767px) {
  .yc-single-product .product-images .product-images-container .splide__arrow {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    box-shadow: 4px 10px 76px rgba(0, 0, 0, 0.14);
    left: 50%;
  }
  .yc-single-product .product-images .product-images-container .splide__arrow svg {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 767px) {
  .yc-single-product .product-images .product-images-container .splide__arrow--prev {
    top: 0;
  }
  .yc-single-product .product-images .product-images-container .splide__arrow--next {
    bottom: 0;
  }
}
.yc-single-product .product-images .product-images-container .thumbnail-images .image-container {
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  width: 80px;
  height: 78px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .yc-single-product .product-images .product-images-container .thumbnail-images .image-container {
    width: 100%;
    height: 100%;
  }
}
.yc-single-product .product-images .product-images-container .thumbnail-images .image-container.active {
  border-color: #000000;
}
.yc-single-product .product-images .product-images-container .thumbnail-images img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 4px;
  height: 150px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .yc-single-product .product-images .product-images-container .thumbnail-images img {
    max-height: 100%;
    min-height: 100%;
  }
}
.yc-single-product .product-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .yc-single-product .product-details {
    gap: 22px;
  }
}
.yc-single-product .product-details .product-name {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
}
.yc-single-product .product-details .product-options {
  display: grid;
  gap: 27px;
}
@media (min-width: 768px) {
  .yc-single-product .product-details .product-options {
    gap: 30px;
  }
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview {
  display: none;
  background: #F9F9F9;
  height: auto;
  border-radius: 8px;
  padding: 14px 18px;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper .yc-image-preview {
  display: flex;
  align-items: center;
  gap: 15px;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper .yc-image-preview img {
  width: 67px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper .yc-image-preview .yc-image-info {
  display: grid;
  gap: 8px;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  color: var(--yc-neutral-color);
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .yc-upload-wrapper .yc-image-preview .yc-image-info .image-size {
  color: #BABABA;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .progress-container {
  width: 100%;
  height: 3px;
  background-color: #cecece;
  border-radius: 5px;
}
.yc-single-product .product-details .product-options .product-option .yc-upload-preview .progress-bar {
  width: 0%;
  height: 100%;
  background-color: var(--yc-primary-color);
  border-radius: 5px;
  transition: width 1s ease-in-out;
}
.yc-single-product .product-details .product-options .active {
  border: 1px solid #000000;
}
.yc-single-product .product-details .product-description {
  overflow: hidden;
}
.yc-single-product .product-details .product-description * {
  font-family: var(--yc-font-family);
  line-height: 184.5%;
}
.yc-single-product .product-details .product-description strong {
  font-weight: 700;
}
.yc-single-product .product-details .product-option-title {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
@media (min-width: 768px) {
  .yc-single-product .product-details .product-option-title {
    font-size: 18px;
  }
}
.yc-single-product .product-price-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.yc-single-product .product-price {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: var(--yc-primary-color);
}
.yc-single-product .compare-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #8D8D8D;
}
.yc-single-product .compare-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}
.yc-single-product .compare-container .tag {
  position: unset;
  font-weight: 700;
  font-size: 16.99px;
  line-height: 120%;
  padding: 4px 10px !important;
}

/* ----- Quantity input ----- */
.quantity-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 151px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 5px;
  /* Hide input arrows in Chrome, Safari, Edge, Opera */
  /* Hide input arrows in Firefox */
}
.quantity-field .quantity-input::-webkit-outer-spin-button,
.quantity-field .quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-field .quantity-input[type=number] {
  -moz-appearance: textfield;
}
.quantity-field .quantity-input {
  width: 50%;
  text-align: center;
  border: none;
  padding: 0 !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 120% !important;
  color: black;
}
.quantity-field .quantity-input:focus {
  outline: none;
}
.quantity-field .decrement-button,
.quantity-field .increment-button {
  width: 25%;
  height: 100%;
  border: none;
  color: #BDBDBD;
  font-weight: 700;
  font-size: 29px;
  line-height: 120%;
  background: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.quantity-field .decrement-button:active,
.quantity-field .increment-button:active {
  scale: 1.5;
}
