/* ---------------- */
/* ----- sort ----- */
/* ---------------- */
.top-items {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .top-items {
    flex-direction: row;
    align-items: center;
  }
}
.top-items .yc-section-title {
  margin-bottom: 10px;
}
.top-items .sort-items-holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .top-items .sort-items-holder {
    flex-direction: row;
  }
}
.top-items .sort-items-holder .commander {
  font-weight: 400;
  white-space: nowrap;
}
.top-items .sort-items-holder .field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

/* ---------------------- */
/* ----- pagination ----- */
/* ---------------------- */
.yc-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  padding: 1rem 2rem;
  border-radius: 8px;
  width: fit-content;
}
.yc-pagination-wrapper .paginate-btn, .yc-pagination-wrapper .paginate-btn-prev, .yc-pagination-wrapper .paginate-btn-next {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  color: #B1B1B1;
}
.yc-pagination-wrapper .paginate-btn:hover, .yc-pagination-wrapper .paginate-btn.active {
  border-color: var(--yc-primary-color);
  color: var(--yc-primary-color);
}
.yc-pagination-wrapper .paginate-btn-prev, .yc-pagination-wrapper .paginate-btn-next {
  color: #000;
  border: 0;
}
.yc-pagination-wrapper .paginate-btn-prev.disabled, .yc-pagination-wrapper .paginate-btn-next.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.2);
}
