/* ---------------------- */
/* ----- pagination ----- */
/* ---------------------- */
.yc-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  padding: 1rem 2rem;
  border-radius: 8px;
  width: fit-content;
}
@media (max-width: 425px) {
  .yc-pagination-wrapper {
    max-width: 270px;
  }
}
.yc-pagination-wrapper .paginate-btn, .yc-pagination-wrapper .paginate-btn-prev, .yc-pagination-wrapper .paginate-btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B1B1B1;
  width: 32px;
  height: 32px;
  font-weight: 700;
  font-size: 14px;
}
.yc-pagination-wrapper .paginate-btn:hover, .yc-pagination-wrapper .paginate-btn.active {
  background-color: #000;
  color: #FFF;
}
.yc-pagination-wrapper .paginate-btn-prev, .yc-pagination-wrapper .paginate-btn-next {
  color: #000;
  border: 0;
  font-size: 18px;
}
.yc-pagination-wrapper .paginate-btn-prev.disabled, .yc-pagination-wrapper .paginate-btn-next.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.2);
}
