@media (min-width: 768px) {
  .section-related-products {
    padding: 0 70px;
  }
}
@media (min-width: 768px) {
  .section-related-products .yc-slider__mobile {
    display: none;
  }
}
.section-related-products .yc-slider__desktop {
  display: none;
}
@media (min-width: 768px) {
  .section-related-products .yc-slider__desktop {
    display: block;
  }
}
.section-related-products .splide__slide {
  max-width: 326px;
}
.section-related-products .product-slider {
  border: 1px solid #EFEFEF;
  position: relative;
  z-index: 1;
  height: 100%;
}
.section-related-products .product-slider .product-details {
  margin-top: 16px;
  padding: 0 3px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-related-products .product-slider .product-details {
    margin-top: 20px;
  }
}
.section-related-products .product-slider .product-details .product-title {
  color: var(--yc-neutral-color);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .section-related-products .product-slider .product-details .product-title {
    font-size: 18px;
    line-height: 21px;
  }
}
.section-related-products .product-slider .prices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 16px 0;
  padding-bottom: unset;
}
@media (min-width: 768px) {
  .section-related-products .product-slider .prices {
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
  .section-related-products .product-slider .prices .product-price {
    font-size: 18px;
    line-height: 20px;
  }
}
.section-related-products .product-slider .prices .compare-at-price {
  color: #8D8D8D;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: line-through;
}
@media (min-width: 768px) {
  .section-related-products .product-slider .prices .compare-at-price {
    font-size: 18px;
    line-height: 21px;
  }
}
