@media (min-width: 768px) {
  .section-related-products {
    padding: 0 70px;
  }
}
@media (min-width: 768px) {
  .section-related-products .yc-slider__mobile {
    display: none;
  }
}
.section-related-products .yc-slider__desktop {
  display: none;
}
@media (min-width: 768px) {
  .section-related-products .yc-slider__desktop {
    display: block;
  }
}
.section-related-products .product-slider {
  border: 1px solid #EFEFEF;
  position: relative;
  z-index: 1;
}
.section-related-products .product-slider .product-details {
  margin-top: 20px;
  text-align: center;
}
.section-related-products .product-slider .product-details .product-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.section-related-products .product-slider .prices {
  margin: 20px 0;
  padding-bottom: unset;
}
