.yc-product-reviews {
  margin-bottom: 27px;
}
.yc-product-reviews .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 26px;
}
.yc-product-reviews .head .yc-section-title {
  text-align: unset;
  margin: unset;
}
.yc-product-reviews .yc-reviews-wrapper {
  display: grid;
  gap: 17px;
}
@media (min-width: 768px) {
  .yc-product-reviews .yc-reviews-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .yc-product-reviews .yc-reviews-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.yc-product-reviews .yc-reviews-wrapper .review-item {
  border-radius: 5px;
  background-color: var(--yc-neutral-light-color);
  padding: 24px 21px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .image {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .info {
  display: grid;
  gap: 8px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .info .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .content {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .created-at-date {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #9B9B9B;
}
.yc-product-reviews .reviews-block {
  display: flex;
  margin: 0;
  gap: 8px;
  align-items: center;
}
.yc-product-reviews .review-count {
  font-weight: 400;
  font-size: 13px;
  color: #707070;
}
.yc-product-reviews #show-more {
  display: none;
  margin: 27px auto 0 auto;
  width: auto;
  padding-right: 24px;
  padding-left: 24px;
}
