.yc-product-reviews {
  margin-bottom: 27px;
}
.yc-product-reviews .head {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .yc-product-reviews .head {
    align-items: center;
    margin-bottom: 50px;
  }
}
.yc-product-reviews .head .yc-section-title {
  text-align: unset;
  margin: unset;
}
.yc-product-reviews .yc-reviews-wrapper {
  display: grid;
  gap: 17px;
}
@media (min-width: 768px) {
  .yc-product-reviews .yc-reviews-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .yc-product-reviews .yc-reviews-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.yc-product-reviews .yc-reviews-wrapper .review-item {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  background-color: white;
  padding: 22px 20px 26px 20px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header {
  display: flex;
  justify-content: space-between;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil {
  display: flex;
  gap: 18px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .image {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .info {
  display: grid;
  gap: 3px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .info .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header .profil .info .created-at-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .content {
  margin-top: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 145%;
}
.yc-product-reviews .reviews-block {
  display: flex;
  margin: 0;
  gap: 6px;
  align-items: center;
}
.yc-product-reviews .review-count {
  font-weight: 400;
  font-size: 13px;
  color: #707070;
}
.yc-product-reviews #show-more {
  display: none;
  margin: 27px auto 0 auto;
}
