.yc-product-reviews {
  margin-bottom: 27px;
}
.yc-product-reviews .head {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}
.yc-product-reviews .head .yc-reviews-title {
  font-weight: 700;
  font-size: 26px;
}
.yc-product-reviews .yc-reviews-wrapper {
  display: grid;
  gap: 16px;
}
@media (min-width: 768px) {
  .yc-product-reviews .yc-reviews-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .yc-product-reviews .yc-reviews-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.yc-product-reviews .yc-reviews-wrapper .review-item {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  padding: 24px 20px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .profil {
  display: flex;
  gap: 12px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .profil .image {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .profil .info {
  display: grid;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .profil .info .name {
  font-weight: 600;
  font-size: 14px;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .profil .info .created-at-date {
  font-weight: 400;
  font-size: 12px;
  color: #A6A6A6;
}
.yc-product-reviews .yc-reviews-wrapper .review-item .content {
  line-height: 26px;
  font-weight: 400;
  font-size: 13px;
}
.yc-product-reviews .reviews-block {
  display: flex;
  margin: 0;
  gap: 6px;
  align-items: center;
}
.yc-product-reviews .review-count {
  font-weight: 400;
  font-size: 13px;
  color: #707070;
}
.yc-product-reviews #show-more {
  display: none;
  margin: 26px auto 0 auto;
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline !important;
}
