.stock-wrapper {
  box-shadow: var(--yc-main-shadow);
  border-radius: 8px;
  padding: 20px;
}
.stock-wrapper .stock-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stock-wrapper .stock-title-container .stock-icon {
  font-size: 20px;
}
.stock-wrapper .stock-title-container .stock-title, .stock-wrapper .stock-title-container #current-stock {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}
