.thankyou-page-container {
  max-width: 500px;
  width: 100%;
  margin: 10px auto 80px;
}
@media screen and (max-width: 768px) {
  .thankyou-page-container {
    padding: 0 16px;
  }
}
.thankyou-page-container .thankyou-image {
  margin-bottom: 32px;
}
.thankyou-page-container .thankyou-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thankyou-page-container .thankyou-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--yc-primary-color);
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .heading {
  line-height: 42px;
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .heading .title {
  display: block;
}
@media screen and (max-width: 768px) {
  .thankyou-page-container .thankyou-wrapper .content-wrapper .heading .title {
    font-size: 24px;
  }
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .description {
  margin-top: 15px;
  opacity: 0.9;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .thankyou-page-container .thankyou-wrapper .content-wrapper .description {
    font-size: 16px;
    line-height: 2rem;
  }
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .yc-btn {
  margin-top: 2rem;
}
.thankyou-page-container .invoice-summary-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 24px;
}
.thankyou-page-container .orders-detail-wrapper {
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 26px;
  border: 1px solid #E6E6E6;
  border-bottom: none;
  max-height: 350px;
  overflow: auto;
}
.thankyou-page-container .orders-detail-wrapper .variant {
  display: flex;
  justify-content: space-between;
}
.thankyou-page-container .orders-detail-wrapper .variant h2 {
  color: var(--yc-primary-color);
  font-weight: 400;
}
.thankyou-page-container .order-details {
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #E6E6E6;
  padding: 24px;
  background-color: #FAFAFA;
}
.thankyou-page-container .order-details h2 {
  font-weight: 400;
  color: #333;
}
.thankyou-page-container .order-details .table-content .head {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}
.thankyou-page-container .order-details .table-content .head .item,
.thankyou-page-container .order-details .table-content .head .data-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
}
.thankyou-page-container .order-details .table-content .head .data-item {
  font-weight: 700;
  font-size: 14px;
}
.thankyou-page-container .order-details .table-content .total-price-head {
  display: flex;
  margin-top: 26px;
  padding: 14px 0;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.thankyou-page-container .order-details .table-content .total-price-head .item,
.thankyou-page-container .order-details .table-content .total-price-head .data-item {
  font-weight: 400;
  color: #333;
  line-height: 20px;
}
.thankyou-page-container .home-page {
  margin-top: 50px;
}
