.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-wrapper .youtube-video {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
}
.video-wrapper .youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
.video-wrapper .youtube-video .video-spinner {
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 64px;
  height: 64px;
  display: none;
}
.video-wrapper .youtube-thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-wrapper .youtube-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  --svg: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTIwIDJINGMtMS4xIDAtMS45OS45LTEuOTkgMkwyIDIybDQtNGgxNGMxLjEgMCAyLS45IDItMlY0YzAtMS4xLS45LTItMi0yem0tMyAxMWwtMi0xLjk5VjEzYzAgLjU1LS40NSAxLTEgMUg4Yy0uNTUgMC0xLS40NS0xLTFWN2MwLS41NS40NS0xIDEtMWg2Yy41NSAwIDEgLjQ1IDEgMXYxLjk5TDE3IDd2NnoiLz48L3N2Zz4=");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  color: red;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
