<!doctype html>
<html lang='en'>
	<head>
		{%- render 'head-config' -%}

		{{ content_for_header }}
	</head>
	<body>
		{{ content_for_layout }}

		{{ 'splide.min.js' | asset_url | script_tag }}
	</body>
</html>
