@import 'helpers/mixins';

.yc-cart {
  margin: 4rem 0 2rem;

  .empty-cart {
    ion-icon {
      --ionicon-stroke-width: 18px;
    }
  }

  .summary-box {
    padding: 1.3rem 1.5rem;
    max-width: 100%;
    min-width: 22rem;
  }
}
