@import 'helpers/mixins';

.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background: #FFFFFF;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  z-index: 1000;

  &.open {
    right: 0;
  }

  .empty-cart {
    padding: 30px 24px;
    font-size: 15px;
    font-weight: 700;
  }

  .cart-drawer__close {
    position: absolute;
    top: 14px;
    left: 13px;
    background-color: transparent;
    border: none;
    font-size: 28px;
    z-index: 1000;

    [dir='ltr'] & {
      left: unset;
      right: 13px;
    }
  }

  .header {
    display: flex;
    padding: 16px 24px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;

    .cart {
      font-weight: 700;
      font-size: 22px;
      display: flex;
      gap: 12px;
      align-items: center;

      span {
        font-weight: 400;
        font-size: 15px;
        color: #9B9B9B;
      }
    }
  }

  .footer {
    background: white;
    border-top: 1px solid #EBEBEB;
    position: absolute;
    bottom: 0;
    padding: 26px 24px;
    width: 100%;

    .price-wrapper {
      display: flex;
      justify-content: space-between;

      .total-price {
        font-weight: 400;
        font-size: 16px;
      }

      .currency-value {
        font-weight: 700;
        font-size: 16px;
      }

      .currency-code {
        font-weight: 700;
      }
    }

    a {
      margin-top: 16px;
    }

    .cart-action {
      border: 1px solid var(--yc-primary-color);
      padding: 0 2rem;
      transition: all 0.15s ease-in-out 0s;
      letter-spacing: 1px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 43px;
    }
  }

  .cart-drawer__content {
    max-height: calc(100% - 196px);
    overflow-y: auto;
  }

  ul {
    margin: 20px 24px 0;

    .cart-item {
      margin-bottom: 24px;

      img {
        width: auto;
        height: 106px;

        @include max-screen('md') {
          height: 80px;
        }
      }

      .item-body {
        display: flex;
        align-items: flex-end;
        gap: 16px;
        padding: 20px 10px;
        position: relative;
        background: #F5F5F5;
        border-radius: 4px;

        .right-items {
          display: flex;
          gap: 14px;
          width: 70%;
        }

        .left-items {
          width: 30%;
        }

        @include max-screen('md') {
          padding: 20px 6px;
        }
      }

      .remove-item-btn, .spinner {
        position: absolute;
        left: 10px;
        top: 15px;

        [dir='ltr'] & {
          left: unset;
          right: 10px;
        }
      }

      .remove-item-btn {
        font-size: 23px;
      }

      .item-details {
        max-width: 195px;

        .product-name {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
        }

        .variants {
          margin-top: 12px;
          font-weight: 400;
          font-size: 13px;
        }

        .product-price {
          margin-top: 14px;
          display: flex;
          flex-direction: column-reverse;
          color: var(--yc-primary-color);

          .price, .currency-code {
            font-weight: 700;
          }

          .compare-price {
            font-weight: 400;
            font-size: 13px;
            text-decoration-line: line-through;
            color: #8D8D8D;
          }
        }

        .currency-wrapper {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }

      .quantity-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #BDBDBD;
        border-radius: 4px;
        padding: 0 10px;
        background-color: #fff;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input {
          width: 55px;
          text-align: center;
          border: none;
          padding: 0;
          font-weight: 700;
          font-size: 16px;
          color: black;
        }

        .decrease-btn,
        .increase-btn {
          background-color: transparent;
          border: none;
          font-size: 18px;
          font-weight: 700;
          color: #B7B7B7;
          cursor: pointer;
          transition: all 200ms ease-in-out;

          &:active {
            scale: 1.5;
          }
        }

        @include max-screen('md') {
          padding: 0 5px;

          input {
            width: 46px;
          }
        }
      }

    }

    @include max-screen('md') {
      margin: 0 10px;
    }
  }

  @include max-screen('md') {
    width: 300px;
  }
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1000;
  visibility: hidden;
}

.cart-overlay.open {
  visibility: visible;
  opacity: 1;
}
