@import 'helpers/mixins';

.cart-bg-color {
  background-color: #E9E9E9;
  overflow: auto;

.yc-cart-container {
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 1440px !important;
  margin: 0 auto;
  padding: 35px 0;

  @include breakpoint('md') {
    padding: 35px 30px;
  }

  @include breakpoint('lg') {
    padding: 35px 60px;
  }

  @include breakpoint('xl') {
    padding: 35px 140px;
  }

  .empty-cart {
    ion-icon {
      --ionicon-stroke-width: 18px;
    }
  }

  .cart-table {
    .header-block {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-bar {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 60%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        h2 {
          font-weight: 700;
          font-size: 26px;
        }

        p {
          color: #FFF;
          font-weight: 600;
          font-size: 14px;
          border-radius: 50%;
          min-width: 25px;
          padding: 2px 5px;
          max-width: 40px;
          background-color: var(--yc-primary-color);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .checkout_cta {
        max-width: 100%;
        width: 437px;

        a {
          font-weight: 700;
          font-size: 14px;
        }
      }

      @include max-screen('md') {
        flex-direction: column;
        gap: 36px;
        padding: 0 24px;

        .checkout_cta {
         width: 90%;
        }
      }
    }
  }

  .summary-box {
    max-width: 100%;
    background: #FFFFFF;
    width: 428px;
    float: left;
    margin-bottom: 60px;
    border: 1px solid #EBEBEB;

    .input-wrapper {
      padding: 24px 24px 0;
    }

    input {
      background: #FFFFFF;
      border: 1px solid #BDBDBD;
      padding: 7px 13px;
      font-weight: 500;
      font-size: 14px;
    }

    .price-box {
      margin: 25px auto 15px;

      .box {
        font-weight: 400;
        font-size: 16px;
      }
    }

    .price-wrapper {
      padding: 0 24px 8px;

      .products {
        font-weight: 400;
        color: #000000;
        font-size: 12px;
        width: 90%;
      }

      .item-price {
        width: 20%;
        text-align: end;
        font-weight: 700;
        font-size: 14px;
      }
    }
    .total {
      font-weight: 700;
      font-size: 16px;
    }

    .total-price {
      color: var(--yc-primary-color);
      font-weight: 700;
      font-size: 16px;
    }

    .border-space {
      padding-bottom: 22px;
    }

    .item-total-price {
      color: var(--yc-primary-color);
      font-weight: 700;
      font-size: 18px;
    }

    .checkout_cta_btn {
      padding: 0 24px;

      @include breakpoint('md') {
        padding: 0;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .quantity-wrapper {
    width: fit-content;
    border: 1px solid #BDBDBD;
    display: flex;
    align-items: center;
    padding: 8px 5px;
    flex-direction: row-reverse;
    background-color: white;

    button {
      width: 34px;
      background-color: transparent;
      font-size: 18px;
      color: #000;
    }

    input {
      display: flex;
      font-weight: 700;
      font-size: 14px;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 46px;
      border: 0;
      height: 30px !important;
      padding: 0;
    }
  }
}

  .table-container {
    margin: 36px auto;
    background-color: #fff;
    border-top: 1px solid #EBEBEB;

    .table-columns {
      display: grid;
      padding: 22px 18px;
      grid-template-areas: 'row1  row2  row3 row4';
      grid-template-columns: .5fr  auto 110px 20px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #EBEBEB;

      .product-details {
        display: flex;
        align-items: center;
        gap: 18px;
        max-width: 400px;
        grid-area: row1;

        .product-image img {
          height: 110px;
          width: 90px;
        }

        .product-title {
          display: flex;
          flex-direction: column;
          gap: 15px;

          span {
            font-weight: 600;
            font-size: 15px;
          }
        }

        .product-variants {
          span {
            font-size: 13px;
            font-weight: 400;
          }

          .product-price {
            display: none;
          }
        }

        .variant-space {
          padding: 0 5px;
        }
      }

      .product-quantity {
        display: flex;
        justify-content: center;
        grid-area: row2;
      }

      .total-price-table {
        display: flex;
        justify-content: center;
        grid-area: row3;

        .total-price {
          font-weight: 700;
          font-size: 18px;
          color: var(--yc-primary-color);
        }
      }

      .close-btn {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        color: #CBCBCB;
        grid-area: row4;
      }

      @include max-screen('lg') {
        align-items: flex-start;
        grid-template-areas:
          'row1  row4'
          'row2  row3';
        grid-template-columns: auto 60px;

          .product-details {
            max-width: 100%;
            align-items: flex-start;

            .product-title {
              gap: 6px;
            }
          }

          .product-quantity {
            justify-content: flex-start;
            margin-top: 16px;
          }

          .quantity-wrapper {
            padding: 5px 0;
        }

        .total-price-table {
          justify-content: flex-end;
          margin-top: 16px;
        }

        .total-price {
          white-space: nowrap;
        }
      }
    }
  }
}
