.yc-cart {
  margin: 4rem 0 2rem;

  .empty-cart {
    ion-icon {
      --ionicon-stroke-width: 18px;
    }
  }

  .summary-box {
    max-width: 100%;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    width: 437px;
    float: left;

    .promo {
      font-weight: 400;
      margin-bottom: 17px;
      font-size: 15px;
    }

    input {
      border: 1px solid #BDBDBD;
      border-radius: 4px;
    }

    .price-box {
      margin: 25px auto 15px;

      .box {
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 20px;
        color: #A8A8A8;
      }
    }
    
    .price-wrapper {
      padding: 0px 18px 18px;
    }
    .total {
      font-weight: 700;
      font-size: 14px;
    }

    .total-price {
      color: var(--yc-primary-color);
      font-weight: 700;
      font-size: 16px;
    }

    .border-space {
      padding-bottom: 22px;
      padding: 0px 18px 18px;
    }
  }

  .cart-table {
    .header-block {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-bar {
        display: flex;
        align-items: center;
        gap: 9px;
        width: 60%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        h2 {
          font-weight: 700;
          font-size: 21px;
        }

        p {
          color: #9B9B9B;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
        }
      }

      .checkout_cta {
        max-width: 100%;
        width: 437px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  .quantity-wrapper {
    width: fit-content;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;

    button {
      width: 34px !important;
      min-width: 34px !important;
      max-width: 34px !important;
      height: 34px !important;
      min-height: 34px !important;
      max-height: 34px !important;
      background-color: transparent;
      font-size: 18px;
      color: #B7B7B7;
    }

    input {
      width: 34px !important;
      min-width: 34px !important;
      max-width: 34px !important;
      height: 34px !important;
      min-height: 34px !important;
      max-height: 34px !important;
      margin: 0 !important;
      padding: 0 !important;
      background-color: white;
      display: flex;
      font-weight: 600 !important;
      font-size: 16px !important;
      border: 0;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    @media screen and (max-width: 520px) {
      button, input {
        width: 25px !important;
        min-width: 25px !important;
        max-width: 25px !important;
        height: 25px !important;
        min-height: 25px !important;
        max-height: 25px !important;
      }
    }
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  margin: 42px auto;
  overflow-x: auto;

  .cart__item {
    background: #F5F5F5;
    border: 1px solid #EDEDED;
    border-radius: 0px 0px 4px 4px;
    position: relative;
    margin-bottom: 25px;
  }

  .header {
    border: 1px solid #EDEDED;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 0;
    display: flex;
    height: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .cell {
      flex-basis: calc(100% / 5);
      text-align: start;
      padding: 10px;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .cell {
      flex-basis: calc(100% / 5);
      text-align: start;
      padding: 10px;

      .product-title {
        font-weight: 400;
        font-size: 16.5px;
        margin-bottom: 10px;
      }

      .total-price {
        color: var(--yc-primary-color);
        font-weight: 700;
        font-size: 17px;
      }

      .product-image {
        img {
          width: 140px;
          height: 110px;
        }
      }
    }

    .adjust-space {
      flex-basis: calc(100% / 20);
    }

    .close-btn {
      font-size: 25px;
      color: #4B5565;
    }
  }

  @media screen and (max-width: 1023px) {
    .header {
      display: none;
    }
    
    .row {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }
    
    .cell {
      flex-basis: calc(100% / 5);
      text-align: start;
      padding: 10px;
    }
    
    .header .cell {
      flex-basis: calc(100% / 2);
      padding: 10px;
    }
    
    .row .cell {
      flex-basis: calc(100% / 2);
      padding: 10px;
      align-items: start;
    }

    .close-btn {
      button {
        position: absolute;
        left: 0;
        top: 0;
        margin: 10px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .row .cell:first-child {
      flex-basis: 35%;
    }
    .row .cell:nth-child(2) {
      flex-basis: 65%;
    }
    .row .cell:nth-child(n+3) {
      flex-basis: 35%;
    }
    .row .cell:nth-child(n+4) {
      flex-basis: 65%;
    }
    .product-image img {
      width: 100%;
      height: 100%;
    }
    .product-title {
      width: 86%;
    }
  }  
}

