@import 'helpers/mixins';

.yc-collection-listing {
  .collection-list {
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 14px;
    padding: 54px 20px;
    background-color: #F2F2F2;

    .collection-thumbnail {
      width: 100%;
      position: relative;
      overflow: hidden;
      padding: 0 0 100%;  
      height: 0;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%,-50%);
        transition: transform .25s ease;

        &:hover {
          transform: translate(-50%,-50%) scale(1.1);
        }
      }
    }

    .collection-details {
      margin-top: 20px;
      text-align: center;

      .collection-name {
        font-weight: 600;
        font-size: 18px;

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    @include breakpoint('sm') {
      padding: 54px 30px;
    }

    @include breakpoint('lg') {
      grid-template-columns: repeat(3, 1fr);
      padding: 54px 80px;
    }

    @include breakpoint('xl') {
      padding: 54px 180px;
    }
  
    @include breakpoint('xxl') {
      padding: 54px 270px;
    }
  }

  .breadcrumbs-container {
    padding: 0 20px;

    @include breakpoint('md') {
      padding: 0 50px;
    }

    @include breakpoint('lg') {
      padding: 0 80px;
    }

    @include breakpoint('xl') {
      padding: 0 180px;
    }
  
    @include breakpoint('xxl') {
      padding: 0 270px;
    }
  }
}