@import 'helpers/mixins';

.countdown-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  .message {
    text-align: center;
    font-size: 23px;
  }

  .countdown {
    direction: ltr;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0;

    & .day,
    & .hour,
    & .min,
    & .sec {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .num {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      font-size: 29px;
      font-weight: 600;
      height: 49px;
      width: 52px;
      font-weight: 300;
      font-size: 24px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid currentColor;
    }

    .sec {
      .num {
        border-width: 2px;
      }

      .word {
        font-weight: 400;
      }
    }

    .dots {
      font-size: 40px;
      margin-top: -11px;
    }
  }
}

