@import 'helpers/mixins';

.countdown-wrapper {
  .countdown {
    direction: ltr;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin: 0;

    .countdown-icon {
      font-size: 20px;
    }

    & .day,
    & .hour,
    & .min,
    & .sec {
      text-align: center;
      width: min-content;
      display: flex;
      align-items: center;
    }

    & .day .num,
    & .hour .num,
    & .min .num
    {
      display: block;
      font-size: 29px;
      font-weight: 600;
      color: #000000;
      font-weight: 500;
      font-size: 26px;
      line-height: 13px;
    }

    & .min .num {
      color: #E52B2A;
      font-weight: 700;
      border: 0;
    }

    .dots {
      color: #000000;
      font-size: 27px;
      margin-top: -4px;
    }
  }
}
