@import 'helpers/mixins';

.yc-slider__desktop {
  display: none;

  @include breakpoint('md') {
    display: block;
  }

  .content {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;

    * {
      background-color: transparent !important;
      color: #000000;
    }

    .caption {
      line-height: 55px;
    }

    & > div {
      max-width: 30rem;
      position: relative;
      z-index: 3;
    }

    .headers {
      font-weight: 700;
      line-height: 1.2;
    }

    @for $i from 1 through 3 {
      h#{$i} {
        font-size: calc(3rem / $i);
        @extend .headers;
      }
    }

    p {
      margin-top: 1rem;
    }

    .btn-holder {
      display: flex;
      text-align: center;
      justify-content: center;

      .yc-btn-slider {
        font-size: 14px;
        background-color: var(--yc-primary-color) !important;
        color: #ffffff;
        margin-top: 38px;
        padding: 12px 18px;
      }
    }

    .container {
      & > div {
        max-width: 600px;
      }
    }
  }
}
