$sticky-checkout-padding: 20px;

.express-checkout-fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.yc-sticky-checkout {
  max-width: 50rem;
  visibility: hidden;
  position: fixed;
  transform: translateY(100%);
  transition: 0.3s ease;
  transition-property: all;
  will-change: transform, opacity;
  margin: auto;
  z-index: 99999;
  width: 100%;
  height: 70vh;
  background-color: white;
  bottom: 0;
  padding: 0 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;

  .sticky-product-details {
    overflow-y: scroll;

    .options .product-quantity {
      margin-top: 36px;
    }
  }
  .spacer {
    margin-top: 27px;
  }

  .cta-bottom-wrapper {
    position: sticky;
    bottom: 0;
    padding: 16px;
    margin: 0 -20px;
    background-color: white;
    border-top: 1px solid #EBEBEB;
  }

  .checkout-form {
    padding-bottom: $sticky-checkout-padding;
  }

  .variant-card-1, .variant-card-2 {
    margin-bottom: 15px;
  }

  .back-icon,
  .close-icon {
    width: 40px;
    height: 40px;
    background: white;
    color: #C8C8C8;
    position: absolute;
    left: 0;
    top: -39px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    border-radius: 4px 4px 0 0;
  }

  .step_1, .step_2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  #checkout_step_1, #checkout_step_2 {
    animation: slideFromBottom 0.2s ease-in-out;
    will-change: transform;
  }
}

.step_1 .yc-product-card .section-2 {
  display: none;
}

.step_2 .yc-product-card .section-2 {
  display: block;
}
