@import 'helpers/mixins';

.yc-featured-collections {
  .collections-list {
    @include display(4, 2, 2, 1.5rem);

    .collection-thumbnail {
      overflow: hidden;

      img {
        transition: all 0.3s ease;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
          opacity: 0.8;
          transform: scale(1.05);
        }
      }
    }

    .collection-block {
      border-radius: 5px;
      border: 1px solid #E6E6E6;
    }

    .collection-details {
      padding: 1rem;
      text-align: center;

      .collection-name {
        font-size: 14px;
      }
    }
  }

}
