@import 'helpers/mixins';
.yc-featured-products {
  .counter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    .yc-section-title {
      margin: 0;
      font-size: 26px;
      font-weight: 600;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    align-items: stretch;

    @include breakpoint('md') {
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      padding: 40px;
    }
    @include breakpoint('lg') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint('xl') {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 140px;
    }

    .product-block {
      text-align: center;
      color: var(--yc-neutral-color);
      display: flex;
      flex-direction: column;
      position: relative;

      .product-thumbnail {
        overflow: hidden;
        aspect-ratio: 0.8;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        @include max-screen('xs') {
          max-height: 187px;
        }

        @include breakpoint('md') {
          border: unset;
          border-radius: unset;
          max-height: 345px;
        }
      }

      .product-thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }

      .product-details {
        text-align: start;
        margin-top: 12px;
        padding: 0 6px;

        @include breakpoint('md') {
          margin-top: 10px;
          text-align: center;
        }

        .product-title {
          font-weight: 400;
          font-size: 15px;
          line-height: 120%;

          @include breakpoint('md') {
            font-weight: 600;
            font-size: 17px;
          }
        }
      }

      &:hover {
        .yc-btn {
          opacity: 1;
        }
      }

      .yc-btn {
        display: block;
        position: absolute;
        bottom: 117px;
        width: 80%;
        opacity: 0;
        border-radius: 4px;
      }

      .prices {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 7px;
        margin-top: 12px;
        padding: 0 6px;

        @include breakpoint('md') {
          align-items: center;
          margin-top: 16px;
          margin-bottom: 25px;
          gap: 10px;
        }

        @include breakpoint('lg') {
          flex-direction: row;
          justify-content: center;
        }

        .product-price {
          font-weight: 700;
          color: var(--yc-primary-color);
          font-size: 17px;
          line-height: 120%;

          @include breakpoint('md') {
            font-size: 22px;
          }
        }


        .compare-at-price {
          text-decoration: line-through;
          opacity: 0.5;
          font-size: 15px;
          font-weight: 500;
        }

        .product-thumbnail:hover img {
          transform: scale(1.1);
        }
      }
    }
  }

  .button-container {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    @include breakpoint('md') {
      margin-top: 60px;
    }
  }

  .countdown-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    @include breakpoint('md') {
      flex-direction: row;
    }

    .message {
      text-align: center;
      font-size: 23px;
      display: none;
    }

    @include breakpoint('md') {
      flex-direction: row;

      .message {
        display: block;
      }
    }
    .countdown {
      direction: ltr;
      display: flex;
      justify-content: center;
      gap: 4px;
      margin: 0;
      max-width: 236px;

      & .day,
      & .hour,
      & .min,
      & .sec {
        text-align: center;
        width: min-content;
        display: flex;
        align-items: center;
      }

      & .day .num,
      & .hour .num,
      & .min .num,
      & .sec .num {
        display: block;
        padding: 0.3rem 0.5rem;
        border-radius: 6px;
        font-size: 29px;
        font-weight: 600;
        color: #FFFFFF;
        line-height: 2rem;
        border: 0;
        background-color: #EE7A6D;
      }

      & .day .num {
        background-color: #000000;
        border: 0;
      }

      .dots {
        color: white;
        font-size: 40px;
        margin-top: -17px;
      }
    }

    @media screen and (max-width: 600px) {
      & .day .num,
      & .hour .num,
      & .min .num,
      & .sec .num {
        font-size: 22px !important;
      }
    }
  }
}
