@import 'helpers/mixins';
@import 'countdown';

.yc-featured-products {
  .counter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    .yc-section-title {
      margin: 0;
      font-size: 26px;
      font-weight: 600;
      text-align: start;

      @include max-screen('md') {
        font-size: 18px;
      }
    }
  }

  .splide {
    padding: 37px 0 5rem 0;

    .splide__pagination__page {
      background-color: var(--yc-primary-color);
      opacity: 0.3;

      &.is-active {
        background-color: var(--yc-primary-color);
        opacity: 1;
      }
    }
  }

  .product-list {
    @include display(4, 3, 2, 1.5rem);
  }

  .button-container {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    @include breakpoint('md') {
      margin-top: 60px;
    }
  }
}
