@import 'helpers/mixins';
.yc-featured-products {
  .counter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    .yc-section-title {
      margin: 0;
      font-size: 26px;
      font-weight: 600;
      text-align: start;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    overflow: hidden;
    align-items: stretch;

    @include breakpoint('md') {
      gap: 29px;
    }

    .product-block {
      text-align: center;
      color: var(--yc-neutral-color);
      display: flex;
      flex-direction: column;
      position: relative;

      .product-thumbnail {
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        height: 239px;
        aspect-ratio: 1;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: translate(-50%,-50%);
          transition: transform .25s ease;
  
          &:hover {
            transform: translate(-50%,-50%) scale(1.1);
          }
        }
      }

      .product-details {
        text-align: center;
        padding: 10% 15%;

        .yc-btn-secondary--large {
          display: none;
          
          @include breakpoint('md') {
            display: block;
          }
        }

        @include breakpoint('md') {
          text-align: center;
        }

        .product-title {
          font-weight: 600;
          font-size: 12px;
          margin-bottom: 5px;

          @include breakpoint('md') {
            font-weight: 300;
            font-size: 18px;
          }
        }
      }

      .prices {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        padding: 0 6px;

        @include breakpoint('md') {
          flex-direction: row;
          align-items: center;
          margin: 8px auto;
          gap: 4px;
        }

        .product-price {
          font-weight: 600;
          color: var(--yc-primary-color);
          font-size: 20px;
          line-height: 120%;

          @include breakpoint('md') {
            font-size: 20px;
          }
        }


        .compare-at-price {
          text-decoration: line-through;
          text-transform: uppercase;
          opacity: 0.5;
          font-size: 18px;
          font-weight: 300;
          color: #9B9B9B
        }

        .product-thumbnail:hover img {
          transform: scale(1.1);
        }
      }
    }
  }

  .button-container {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    @include breakpoint('md') {
      margin-top: 60px;
    }
  }

  .countdown-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    @include breakpoint('md') {
      flex-direction: row;
    }

    .message {
      text-align: center;
      font-size: 23px;
      display: none;
    }

    @include breakpoint('md') {
      flex-direction: row;

      .message {
        display: block;
      }
    }
    .countdown {
      direction: ltr;
      display: flex;
      justify-content: center;
      gap: 4px;
      margin: 0;

      & .day,
      & .hour,
      & .min,
      & .sec {
        text-align: center;
        width: min-content;
        display: flex;
        align-items: center;
      }

      & .day .num,
      & .hour .num,
      & .min .num,
      & .sec .num {
        display: block;
        padding: 0.2rem 0.5rem;
        border-radius: 6px;
        font-size: 29px;
        font-weight: 600;
        color: #FFFFFF;
        border: 0;
        background-color: #EE7A6D;
      }

      & .sec .num {
        background-color: #000000;
        border: 0;
        width: 42px;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 600px) {
          width: 35px;
        }
      }

      .dots {
        color: white;
        font-size: 40px;
        margin-top: -11px;
      }

      @media screen and (max-width: 600px) {
        gap: 1px;
      }
    }

    @media screen and (max-width: 600px) {
      & .day .num,
      & .hour .num,
      & .min .num,
      & .sec .num {
        font-size: 19px !important;
        padding: 8px !important;
      }
    }
  }
}
