@import 'helpers/mixins';

.yc-footer {
  background-color: var(--yc-footer-background-color);
  color: var(--yc-footer-text-color);
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 40px 0;

  .columns {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .column {
      flex: 1 1 0;
    }

    @include breakpoint('md') {
      flex-direction: row;
    }
  }

  .accordion-item {
    .accordion-header {
      display: flex;
      justify-content: space-between;
      color: inherit;
      align-items: center;
      column-gap: 12px;
      border-bottom: 1px solid #444444;
      padding-bottom: 12px;
      margin-bottom: 12px;
      cursor: pointer;

      @include breakpoint('md') {
        border-color: transparent;
        cursor: unset;
      }

      .title {
        color: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
      }

      .arrow {
        transform: rotate(180deg);
        transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);

        @include breakpoint('md') {
          display: none;
        }
      }

      &.active {
        .arrow {
          transform: unset;
        }
      }
    }

    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: all 300ms ease;

      @include breakpoint('md') {
        max-height: unset;
        overflow: unset;
      }

      .item {
        display: block;
        font-weight: 300;
        font-size: 13px;
        line-height: 250%;

        @include breakpoint('md') {
          font-size: 15px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .copyright-wrapper {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .copyright-wrapper .copyright-title {
    font-weight: 600;
    font-size: 11px;
  }

  .copyright-wrapper .link {
    display: block;
    width: 24px;
    height: 24px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .footer-space {
    margin-top: 14px;

    @include breakpoint('md') {
      border-top: 1px solid #444444;
      padding-top: 45px;
      margin-top: 35px;
    }
  }
}
