@import 'helpers/mixins';

.yc-general-review {
  display: none;

  .yc-general-review-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;

    .general-count {
      color: #000;
      font-size: 12px;
      font-weight: 300;
      line-height: 150%;
    }
  }
}
