@import 'helpers/mixins';

/* --------------------- */
/* ----- variables ----- */
/* -------------------- */
:root {
  --yc-reviews-stars-size: 20px;
  --yc-reviews-stars-color: #d4d4d4;
  --yc-reviews-stars-background: #fc0;
}

/* ------------------------- */
/* ----- global styles ----- */
/* ------------------------- */
html {
  min-height: 100vh;
}

body {
  direction: var(--yc-theme-direction);
  color: var(--yc-neutral-color);
  position: relative;
  margin: 0;
  line-height: inherit;
}

.yc-btn span,
.yc-btn,
html,
body {
  font-family: var(--yc-font-family);
}

.container {
  max-width: 1440px !important;
  margin: 0 auto;
  padding: 0 20px;

  @include breakpoint('md') {
    padding: 0 30px;
  }

  @include breakpoint('lg') {
    padding: 0 60px;
  }

  @include breakpoint('xl') {
    padding: 0 140px;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  border: var(--yc-main-border);

  &:focus {
    outline: none;
  }

  &.error {
    border-color: var(--yc-error-color) !important;
    outline: 1px solid var(--yc-error-color) !important;
  }

  & + .validation-error {
    color: var(--yc-error-color) !important;
    font-size: 12px;
    font-weight: 600;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  font-size: 14px;
  margin: 12px 0 6px 0;
  display: block;
}

.border,
.border-b,
.border-t,
.border-l,
.border-r {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.product-holder:hover .product-title {
  text-decoration: underline;
}

.yc-section-title {
  font-size: 26px;
  margin: 30px auto;
  font-weight: 700;
  opacity: 0.9;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    font-weight: 400;
    margin: 20px auto;
  }
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}
.yc-btn {
  background: var(--yc-primary-color) !important;
  color: white !important;
  padding: 12px;
  transition: all 0.15s ease-in-out 0s;
  letter-spacing: 1px;
  cursor: pointer;
  pointer-events: auto;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 700;
  font-size: 13px;

  & > * {
    color: white !important;
  }
  &.btn-sm {
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;

    .spinner {
      width: 19.5px;
      height: 19.5px;
    }
  }
}

.yc-btn-secondary {
  color: var(--yc-primary-color);
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  background: #F1F1F1 !important;
  color: #A4A4A4;
  padding: 7px 20px;

  .spinner {
    width: 18px;
    height: 18px;
  }
}

[dir='rtl'] {
  .yc-btn {
    flex-direction: row-reverse;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-weight: 300;
}

.yc-pagination {
  box-shadow: var(--yc-primary-shadow) !important;
  border: 1px solid #f2f2f2 !important;
}

.product-imgs img {
  transition: box-shadow 100ms ease;
}

.yc-shadow {
  box-shadow: var(--yc-primary-shadow);
}

* {
  box-sizing: border-box;
}

.yc-dropdown {
  border: 1px solid var(--yc-neutral-light-color);
  padding: 10px;
}

.yc-options-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
}

.yc-options-item,
.yc-colors-item {
  padding: 12px 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  border: 1px solid #000000;
  cursor: pointer;
  opacity: 0.5;

  &.active {
    font-weight: 700;
    opacity: 1;
  }
}

.yc-number {
  padding: 10px 25px;
  border: 1px solid var(--yc-neutral-light-color);
}

/* ---------------------------------- */
/* ----- custom radio button ----- */
/* ---------------------------------- */
.yc-radio {
  display: grid;
  gap: 16px;

  .yc-radio-buttons {
    position: relative;
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 12px;
    margin: 0;
    align-items: center;
    cursor: pointer;

    input[type='radio'] {
      display: none;
    }

    .checkmark {
      position: relative;
      display: inline-block;
      height: 26px;
      width: 26px;
      background-color: #FFFFFF;
      border-radius: 50%;
      border: 1px solid #B7B7B7;

      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background-color: #FFFFFF;
        border-radius: 50%;
      }
    }

    input[type='radio']:checked + .checkmark {
      border-color: #000000;
    }

    input[type='radio']:checked + .checkmark::after {
      background: #000000;
    }

    &:hover .checkmark {
      background-color: #f5f5f5;
    }

    .label-text {
      color: var(--yc-neutral-color);
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
    }
  }
}

/* ---------------------------------- */
/* ----- custom dropdwown input ----- */
/* ---------------------------------- */
.dropdown-input {
  position: relative;
  border: 1px solid #ECECEC;
  cursor: pointer;
  width: 100%;
  min-width: 335px;
  max-width: max-content;

  .dropbtn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    text-align: start;
    gap: 6px;

    & > :first-child {
      margin-inline-end: 20px;
      font-size: 14px;
      line-height: 120%;
    }

    .dropdown-icon {
      position: absolute;
      left: 15px;

      [dir='ltr'] & {
        left: unset;
        right: 15px;
      }
    }
  }

  /* Style the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 38px;
    left: -1px;
    z-index: 1;
    width: calc(100% + 2px);
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-top: none;

    li {
      color: black;
      padding: 10px 15px;
      margin: 3px auto;
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      display: block;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }

      &.selected {
        font-weight: bold;
      }
    }
  }

  .dropbtnSpace {
    font-size: 13px;
    font-weight: 400;
  }

  &.black-border {
    border-color: #000000;
  }

  .show {
    display: block;
    border-color: #000000;
  }
}

/* --------------------------- */
/* ----- spinner loading ----- */
/* --------------------------- */
.spinner {
  width: 23px;
  height: 23px;
  display: inline-block;
  border: 2px solid rgb(128 128 128 / 30%);
  border-radius: 50%;
  border-right: 1px solid currentColor;
  animation-name: spin;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.15, 0.99);
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* ----------------- */
/* ----- alert ----- */
/* ----------------- */
.yc-alert {
  transition: all 0.5s ease;
  position: fixed;
  margin: 1rem;
  height: var(--yc-notification-toast-height);
  padding: 0 1.3rem;
  background-color: transparent;
  color: var(--yc-notification-toast-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--yc-primary-shadow);
  opacity: 0;
  z-index: 9999;
  transform: translateY(25%);
  font-weight: var(--yc-notification-toast-font-weight);
  font-size: var(--yc-notification-toast-font-size);
  border-radius: var(--yc-notification-toast-border-radius);
  border: var(--yc-notification-toast-border-width) solid var(--yc-notification-toast-border-color);
  top: var(--yc-notification-toast-top);
  left: var(--yc-notification-toast-left);
  bottom: var(--yc-notification-toast-bottom);
  right: var(--yc-notification-toast-right);
  visibility: hidden;

  &.success {
    background-color: var(--yc-success-color);
  }

  &.error {
    background-color: var(--yc-error-color);
  }

  &.show {
    opacity: 1;
    z-index: 9999;
    transform: none;
    visibility: visible;
  }
}

/* ------------------------ */
/* ----- progress bar ----- */
/* ------------------------ */
.progress-bar {
  height: 10px;
  background-color: #ddd;
  margin-top: 15px;
  border-radius: 50rem;

  .progress {
    height: 100%;
    background-color: var(--yc-primary-color);
    width: 0;
    transition: width 0.2s;
    border-radius: 50rem;
  }
}

/* ---------------------- */
/* ----- sticky CTA ----- */
/* ---------------------- */
.sticky-elements-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    @include breakpoint('md') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }


    .sticky-elements-container {
      border: 1px solid #e3e3e3;
      box-shadow: 1px -13px 53px rgba(0, 0, 0, 0.1);
      background: white;
      padding: 20px;
      display: grid;
      gap: 16px;
      width: 100%;
      order: 2;

      .is_sticky {
        width: 100%;
      }
    }
}

.splide {
  direction: ltr;
}

.yc-reviews-stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--yc-reviews-stars-size);
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--yc-reviews-stars-background) var(--percent),
      var(--yc-reviews-stars-color) var(--percent)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* ------------------- */
/* ----- spacers ----- */
/* ------------------- */
.spacer {
  flex-grow: 1;
}

/* ---------------------- */
/* ----- tag banner ----- */
/* ---------------------- */
.tag {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;

  .tag-text, .tag-price {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    border-radius: 50%;
    min-width: 41px;
    max-width: 50px;
    border: 0.5px solid #e3e3e3;
    aspect-ratio: 1/1;
    padding: 0 3px;
  }

  &.top_right {
    top: 14px;
    right: 14px;
  }

  &.bottom_right {
    bottom: 14px;
    right: 14px;
  }

  &.top_left {
    top: 14px;
    left: 14px;
  }

  &.bottom_left {
    bottom: 14px;
    left: 14px;
  }
}

.breadcrumbs-container {
  .breadcrumbs-listings {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 40px auto;

    .arrow {
      [dir='ltr'] & {
        rotate: 180deg;
      }
    }
    .first-listing {
      color: #A8A8A8;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
    }

    .second-listing {
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .breadcrumbs-name {
    font-weight: 700;
    font-size: 26px;
  }
}
/* --------------------------- */
/* ----- countdown block ----- */
/* --------------------------- */

.countdown-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  padding: 3.5px 12px;
  gap: 8px;

  span {
    font-weight: 400 !important;
    font-size: 15px !important;
  }

  .num {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 13px !important;
  }

  .countdown-icon {
    font-size: 18px !important;
  }
}

/* ---------------------- */
/* ----- Utils ----- */
/* ---------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  background-color: transparent;
  background-image: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

[role=button],
button {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.font-bold {
  font-weight: 700;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mt-24 {
  margin-top: 6rem;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-full {
  height: 100%;
}

.h-9 {
  height: 2.25rem;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.w-full {
  width: 100%;
}

.w-9 {
  width: 2.25rem;
}

.w-24 {
  width: 6rem;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.table-auto {
  table-layout: auto;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.self-baseline {
  align-self: baseline;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-12 {
  padding-top: 3rem;
}

.text-center {
  text-align: center;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.opacity-60 {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }
  .md\:table-cell {
    display: table-cell;
  }
  .md\:hidden {
    display: none;
  }
  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
