@import 'helpers/mixins';

.yc-slider__mobile {
  @include breakpoint('md') {
    display: none;
  }

  .content {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    * {
      background-color: transparent !important;
    }

    & > div {
      position: relative;
      z-index: 3;
    }

    h1 {
      font-size: 28px;
      font-weight: 800;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }

    .btn-holder {
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
}
