@import 'helpers/mixins';

.items-configs {
  color: var(--yc-nav-links-color);
  stroke: var(--yc-nav-links-color);
  font-family: var(--yc-nav-font-family);
  font-weight: var(--yc-nav-links-font-weight);
}

.header-wrapper {
  position: relative;

  &.open {
    z-index: 1001;
  }
}

.yc-header {
  background-color: var(--yc-nav-background);
  transition: opacity 0.3s, transform 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.hide {
    z-index: 101 !important;
  }

  &.nav-fixed.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1001;
    animation: make-navbar-fixed 0.2s ease;

    @keyframes make-navbar-fixed {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  .yc-navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: var(--yc-nav-height);
    padding: 8px 20px;

    *:not(span):not(input) {
      @extend .items-configs;
    }

    :first-child {
      justify-self: start;
    }

    :nth-child(2) {
      justify-self: center;
    }

    :last-child {
      justify-self: end;
    }

    .corner {
      display: flex;
      align-items: center;
      gap: 17px;

      & > * {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .search {
        font-size: 1.5rem;
      }
      .cart {
        font-size: 1.5rem;

        #cart-items-badge {
          display: flex;
          position: absolute;
          top: 0;
          right: 0;
          margin-top: -9px;
          margin-right: -9px;
          height: 20px;
          width: 20px;
          background-color: var(--yc-primary-color);
          color: white;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          border-radius: 50%;
          z-index: 10;
        }
      }
    }

    .logo {
      img {
        max-width: 110px;
        max-height: 65px;

        @include breakpoint('md') {
          max-width: 120px;
        }
      }
    }

    .menu-list {
      display: none;
      list-style: none;

      .menu-itemactive {
        display: flex;
        align-items: center;
        border-bottom: 3px solid var(--yc-primary-color);

        a {
          margin-bottom: -3px;
        }
      }


      @include breakpoint('md') {
        display: flex;
        gap: 32px;
      }
    }

    .menu-item {
      height: calc(var(--yc-nav-height) + 1px);

      a {
        display: flex;
        align-items: center;
        color: var(--yc-nav-links-color);
        font-size: 16px;
        line-height: 140.5%;
        padding: 0 calc(var(--yc-nav-px) / 5);
        height: 100%;
        text-decoration: none;
      }
    }

    .menu-item a,
    .corner a {
      transition: var(--yc-primary-color);
    }

    .menu-item a:hover,
    .corner a:hover {
      opacity: var(--yc-nav-links-hover-transparency);
    }
  }
}

#searchInputHolder {
  transition: var(--yc-primary-color);
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--yc-nav-height) + 1px);
  z-index: 1001;
  background: white;

  .search-form {
    width: 100%;

    .search-input {
      width: 100%;
      font-family: inherit;
      border: none;
      padding: 0;
      color: #111;
      caret-color: var(--yc-primary-color);
    }
  }

  #close-search-btn {
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 2rem;
      color: #111;
    }
  }
}

/* ----------------------------- */
/* ----- mobile navigation ----- */
/* ----------------------------- */

.hamburger {
  @include breakpoint('md') {
    display: none;
  }

  .bar {
    width: 25px;
    height: 2.5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2px;
  }

  .bar:nth-child(2) {
    width: 50%;
  }

  &.close {
    .bar {
      margin: 4px 0;
    }

    .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-3px, 4px);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}

#mobile-menu {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 1001;
  transition: opacity 200ms ease-in-out;

  *:not(span) {
    @extend .items-configs;
  }

  &.is-open {
    opacity: 1;
    height: fit-content;

    @include breakpoint('md') {
     display: none;
    }
  }


  .items {
    padding: 20px 16px;
    border-top: 1px solid;

    &,
    * {
      color: #000 !important;
      font-family: var(--yc-drawer-font-family) !important;
      font-size: 15px !important;
      font-weight: var(--yc-drawer-links-font-weight) !important;
    }
  }

  .items-wrapper {
    border-bottom: 1px solid;
  }

  .items-wrapper,
  .items {
    border-color: rgba(0, 0, 0, 0.1);
  }
}

.global-overlay {
  transition-duration: 0.2s;
  transition-property: opacity;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.global-overlay {
  transition-timing-function: ease-in-out;
}
