@import 'helpers/mixins';

.items-configs {
  color: var(--yc-nav-links-color);
  stroke: var(--yc-nav-links-color);
  font-family: var(--yc-nav-font-family);
  font-weight: var(--yc-nav-links-font-weight);
}

.yc-header {
  background-color: var(--yc-nav-background);
  transition: opacity 0.3s, transform 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.nav-fixed.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 101;
    animation: make-navbar-fixed 0.2s ease;

    @keyframes make-navbar-fixed {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  .yc-navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: var(--yc-nav-height);
    z-index: 100;
    background-color: var(--yc-nav-background);
    padding: 0 20px;

    *:not(span):not(input) {
      @extend .items-configs;
    }

    @include breakpoint('md') {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 40px;
    }

    :first-child {
      justify-self: start;
    }

    :nth-child(2) {
      justify-self: center;
    }

    :last-child {
      justify-self: end;
    }

    .corner {
      display: flex;
      align-items: center;
      gap: 24px;

      & > * {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .search {
        font-size: 1.5rem;
        display: none;

        @include breakpoint('md') {
          display: flex;
        }
      }
      .cart {
        font-size: 1.5rem;
        cursor: pointer;

        #cart-items-badge {
          display: flex;
          position: absolute;
          top: 0;
          right: 0;
          margin-top: -9px;
          margin-right: -9px;
          height: 20px;
          width: 20px;
          background-color: var(--yc-primary-color);
          color: white;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          border-radius: 50%;
          z-index: 10;
        }
      }
    }

    .menu-toggler {
      @include breakpoint('md') {
        display: none;
      }
    }

    .logo {
      img {
        height: calc(var(--yc-nav-height) - 20px);
        max-height: 40px;
      }
    }

    .menu {
      display: none;

      @include breakpoint('md') {
        display: flex;
      }
    }

    .menu-list {
      display: flex;
      list-style: none;
      gap: 40px;

    }
    .menu-item {
      a {
        white-space: nowrap;
        color: var(--yc-nav-links-color);
        font-size: 16px;
        padding: 0 calc(var(--yc-nav-px) / 5);
        height: 100%;
        text-decoration: none;
        position: relative;
      }

      &.active {
        a {
          color: var(--yc-nav-links-color);
          font-weight: 600;
        }
      }

      &.active ::after, &:hover ::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -6px;
        border-radius: 99;
        right: 0;
        width: 40%;
        height: 2px;
        background-color: var(--yc-nav-links-color);
        animation: slide 0.3s ease;

        @keyframes slide {
          0% {
            width: 0;
          }
          100% {
            width: 40%;
          }
        }
      }
    }

    .menu-item a,
    .corner a {
      transition: var(--yc-primary-color);
    }

    .menu-item a:hover,
    .corner a:hover {
      opacity: var(--yc-nav-links-hover-transparency);
    }
  }
}

#searchInputHolder {
  transition: var(--yc-primary-color);
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100vw;
  height: var(--yc-nav-height);
  z-index: 999;
  background: white;

  .input,
  input {
    max-width: 25rem;
    color: #111;
  }

  .search-btn {
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    margin-left: -3rem;

    ion-icon {
      font-size: 1.2rem;
      color: #111;
    }
  }
}

/* ----------------------------- */
/* ----- navigation-drawer ----- */
/* ----------------------------- */
.global-overlay {
  transition-duration: 0.2s;
  transition-property: opacity;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 400;
  visibility: hidden;
  opacity: 0;
}

.navigation-drawer {
  background-color: white;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
  transform: translateX(150vw);
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 18rem;
  opacity: 0;
  z-index: 450;

  &.navbar-drawer *:not(span) {
    @extend .items-configs;
  }

  .logo {
    padding: 20px 16px;
    display: block;

    img {
      max-height: 40px;
    }
  }

  .items {
    padding: 20px 16px;
    border-top: 1px solid;

    &,
    * {
      color: var(--yc-drawer-links-color) !important;
      font-family: var(--yc-drawer-font-family) !important;
      font-size: var(--yc-drawer-font-size) !important;
      font-weight: var(--yc-drawer-links-font-weight) !important;
    }
  }

  .items-wrapper {
    border-bottom: 1px solid;
  }

  .items-wrapper,
  .items {
    border-color: rgba(0, 0, 0, 0.1);
  }

  .close-drawer-btn {
    float: left;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 4px 0 0 4px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-40px, 12px);

    .close-svg {
      color: #C8C8C8;
      font-size: 1.6rem;

    }
  }

  .mobile-search {
    padding: 20px 16px;

    input {
      border: 1px solid #E4E4E4;
      border-radius: 4px;
      color: #A8A8A8;
      padding: 20px;

      &:focus {
        border: 1px solid #000000;
        color: #000000;
      }
    }

    .search-icon {
      position: absolute;
      transform: translate(30px, -7px);
    }
  }
}

.global-overlay,
.navigation-drawer {
  transition-timing-function: ease-in-out;
}
