@import 'helpers/mixins';

.yc-notice {
  background-color: var(--yc-notice-background-color);
  height: var(--yc-notice-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  .content {
    padding: var(--yc-notice-content-padding);
    color: var(--yc-notice-text-color);
    font-size: var(--yc-notice-font-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .desktop {
    display: none;
    @include breakpoint('md') {
      display: flex;
    }
  }
  .mobile {
    display: flex;
    @include breakpoint('md') {
      display: none;
    }
  }
}

.yc-notice.notice-fixed {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
