.product-slider {
  .product-thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0 0 100%;
    height: 0;

    img, svg {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      transform: translate(-50%,-50%);
      transition: transform .25s ease;

      &:hover {
        transform: translate(-50%,-50%) scale(1.1);
      }
    }
  }

  .prices {
    margin: 20px 0 0;
    text-align: center;
    padding-bottom: 12px;

    .product-price {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      color: var(--yc-primary-color);
      line-height: 24px;

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }

    .compare-price {
      color: #8D8D8D;
      font-size: 16px;
      margin-top: 5px;
      font-weight: 400;
      text-decoration-line: line-through;
    }
  }

  .splide__pagination {
    display: flex !important;
    justify-content: center;
    margin-bottom: -36px;
  }

  .product-block {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;

    .product-details {
      text-align: center;
      margin: 8px auto;
    }

    .prices {
      display: flex;
      flex-direction: column;
      gap: 9px;
    }

    .compare-at-price {
      font-weight: 400;
      color: #8D8D8D;
      font-size: 15px;
      line-height: 120%;
      text-decoration-line: line-through;
    }
  }

  .product-slider-placeholder {
    cursor: not-allowed;
  }
}
