.product-slider {
  .product-thumbnail {
    img {
      height: 270px;
    }
  }

  .product-block {
    width: 100%;
    max-width: 328px;
    padding: 20px 14px;
    background-color: white;
    border-radius: 3px;

    .product-details {
      text-align: center;
      margin: 20px auto;
    }

    .prices {
      display: flex;
      flex-direction: column;
      gap: 9px;
    }

    .compare-at-price {
      font-weight: 400;
      color: #8D8D8D;
      font-size: 15px;
      line-height: 120%;
      text-decoration-line: line-through;
    }

    @media screen and (max-width: 1170px) {
      max-width: 260px;
    }
  }
}