@import 'helpers/mixins';

.yc-single-product {
  display: flex;
  gap: 5vh;
  margin: 25px auto;
  flex-direction: column;
  align-items: start;

  @include breakpoint('md') {
    gap: 2vw;
    flex-direction: row;
  }

  .product-images {
    width: 100%;

    @include breakpoint('md') {
      position: sticky;
      top: 15px;
    }

    #main-image {
      width: 100%;
      height: 480px;
      object-fit: cover;
    }
    #img-zoomer-box {
      height: auto;
      position: relative;
      overflow: hidden;
    }

    #main-image {
      width: 100%;
      height: 450px;
    }

    #img-zoomer-box:hover,
    #img-zoomer-box:active {
      cursor: zoom-in;
      display: block;
    }

    #img-zoomer-box:hover #magnified-image,
    #img-zoomer-box:active #magnified-image {
      opacity: 1;
    }
    #magnified-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      pointer-events: none;
      position: absolute;
      opacity: 0;
      z-index: 99;
      display: block;
      transition: opacity 0.2s;
      background-size: 160%;
    }
    &.style1 {
      .thumbnail-images {
        margin-top: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        overflow: auto;
      }
      .thumbnail-images img {
        display: inline-block;
        aspect-ratio: 1;
        height: 80px;
        object-fit: cover;
        cursor: pointer;
        border: 1px solid transparent;

        &.active {
          border-color: var(--yc-primary-color);
        }

        &:hover {
          transition: 0.4s ease-in-out;
          border-color: var(--yc-primary-color);
        }
      }
    }
    &.style2 {
      .product-images-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 12px;
        align-items: start;
      }
      .main-thumbnail {
        aspect-ratio: 1;
        height: 100%;
        object-fit: cover;
      }
      .thumbnail-images {
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        overflow: auto;
        width: 80px;
        height: 450px;

        img {
          aspect-ratio: 1;
          width: 100%;
          margin-bottom: 10px;
          object-fit: cover;
          margin-bottom: 10px;
          cursor: pointer;

          &:hover {
            border: 1px solid blanchedalmond;
          }
        }
      }
    }
  }

  .product-details {
    width: 100%;
    max-width: 90vw;

    .product-name {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 25px;
    }
    .product-options {
      .product-option {
        margin-bottom: 20px;

        .yc-upload-preview {
          img {
            border: 1px solid var(--yc-neutral-light-color);
            padding: 5px;
            aspect-ratio: 1;
            height: 100px;
          }
        }
      }
      .active {
        border: 1px solid var(--yc-primary-color);
      }
    }
    .product-description {
      overflow: hidden;
      margin-top: 15px;
      color: var(--yc-neutral-light-color);
    }
    .product-option-title {
      text-transform: capitalize;
      margin-bottom: 5px;
      font-weight: 500;
    }
  }

  .product-price {
    font-size: 26px;
    font-weight: 600;
    color: var(--yc-primary-color);
    line-height: 24px;
  }
}
