@import 'helpers/mixins';

.product-slider {
  .prices {
    flex: 1;
    margin: 20px 0 0;
    text-align: center;
    padding-bottom: 12px;
    margin-top: auto;

    .product-price {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      color: var(--yc-primary-color);
      line-height: 24px;

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }

    .compare-price {
      color: #8D8D8D;
      font-size: 16px;
      margin-top: 5px;
      font-weight: 400;
      text-decoration-line: line-through;
    }
  }

  .product-link {
    display: block;
    width: 80%;
    margin: 0 auto;
    @include breakpoint('md') {
      display: none;
    }
  }

  .splide__pagination {
    display: none !important;
    justify-content: center;
    margin-bottom: -36px;
  }

  .splide__arrows {
    position: absolute;
    transform: translate(44px, 25px);
    left: 50.5%;
    bottom: 0;

    @media (max-width: 768px) {

      & {
        bottom: -25px;
      }

      .splide__arrow.splide__arrow--prev,
      .splide__arrow.splide__arrow--next
       {
        width: 42px;
        height: 42px;
        border: 1px solid #000000;
        display: flex;
        justify-content: center;
        align-items: center;
       }

       padding-bottom: 30px;
    }

    @media screen and (min-width: 845px) {
      transform: unset;
      bottom: unset;
      top: -78px;
      left: 127px;

      [dir='ltr'] & {
        left: calc(100% - 32px);
      }
    }
  }

  .product-block {
    width: 100%;
    position: relative;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;

    .product-details {
      margin-top: 12px;
      padding: 0 6px;
      flex-grow: 1;


      @include breakpoint('md') {
        margin-top: 12px;
        text-align: center;
      }

      .product-title {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;

        @include breakpoint('md') {
          font-weight: 600;
          font-size: 14px;
        }
      }
    }

    .prices {
      display: flex;
      flex-direction: column-reverse;
      gap: 4px;
      margin: 12px auto 15px;
      padding: 0 6px;

      @include breakpoint('md') {
        align-items: center;
        margin: 12px auto 24px;
        gap: 6px;
      }

      @include breakpoint('lg') {
        flex-direction: row;
        justify-content: center;
      }

      .product-price {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: var(--yc-primary-color);

        @include breakpoint('md') {
          font-size: 22px;
        }
      }


      .compare-at-price {
        text-decoration: line-through;
        color: #A3A3A3;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .product-thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0 0 100%;
    height: 350px;

    img, svg {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%,-50%);
      transition: transform .25s ease;
      object-fit: cover;

      &:hover {
        transform: translate(-50%,-50%) scale(1.1);
      }
    }

    @include max-screen('md') {
      height: 340px;
    }

    @include max-screen('sm') {
      height: 200px;
    }

    .product-link {
      width: 78%;
      margin: auto;
      display: none;
      top: 120%;
      transition: all 0.25s;

      a {
        font-weight: 700;
        font-size: 13px;
      }

      @include breakpoint('md') {
        display: block;
        width: 80%;
        position: absolute;
        z-index: 1;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover .product-link {
        top: 90%;
    }
  }

  .product-link-mobile {
    margin: 15px auto 30px;
    width: 85%;

    a {
      font-weight: 700;
      font-size: 13px;
    }
  }

  .product-slider-placeholder {
    cursor: not-allowed;
  }
}
