@import 'helpers/mixins';

.product-images-container {
  padding: 0 20px;

  .product-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;

    .product-details {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
      width: 50%;
    }

    .product-name {
      color: #000000;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    .product-price {
      color: var(--yc-primary-color);
      font-weight: 700;
      font-size: 27px;
    }

    .product-compare-price {
      color: #8D8D8D;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
    }

    .product-description {
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
    }

    .image-box {
      position: relative;
      width: 50%;

      img {
        width: 100%;
        height: 400px;
        object-fit: cover;

        @media screen and (max-width: 768px) {
          height: 330px;
        }
      }
    }

    .buy-btn {
      width: 100%;
    }
    @include max-screen('md') {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .image-box {
        width: 100%;
      }
      .product-details {
        width: 100%;
      }
    } 
  }
}
