.product-slider {
  .product-thumbnail {
    img {
      height: 230px;
      object-fit: contain;

      @media screen and (max-width: 767px) {
        height: 200px;
      }
    }
  }

  .product-block {
    width: 100%;
    background-color: white;
    border-radius: 3px;

    .product-details {
      text-align: center;
      margin: 20px auto;
    }

    .prices {
      display: flex;
      flex-direction: column;
      gap: 9px;
    }

    .compare-at-price {
      font-weight: 400;
      color: #8D8D8D;
      font-size: 15px;
      line-height: 120%;
      text-decoration-line: line-through;
    }
  }
}