@import 'helpers/mixins';

.yc-single-product {
  display: flex;
  gap: 8px;
  margin: 25px auto;
  flex-direction: column;
  align-items: start;

  @include breakpoint('md') {
    gap: 2vw;
    flex-direction: row;
  }

  .product-images {
    width: 100%;

    @include breakpoint('md') {
      position: sticky;
      top: calc(var(--yc-nav-height) + 20px);
    }

    .main-image {
      width: auto;
      height: 100%;
      margin: 0 auto;
      object-fit: contain;
    }
    #img-zoomer-box {
      width: 100%;
      height: 333px;
      position: relative;
      overflow: hidden;
      border: 1px solid #E7E7E7;
      border-radius: 4px;
      padding: 5px;
    }

    #img-zoomer-box:hover,
    #img-zoomer-box:active {
      cursor: zoom-in;
      display: block;
    }

    #img-zoomer-box:hover #magnified-image,
    #img-zoomer-box:active #magnified-image {
      opacity: 1;
    }
    #magnified-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      pointer-events: none;
      position: absolute;
      opacity: 0;
      z-index: 99;
      display: block;
      transition: opacity 0.2s;
      background-size: 112%;
    }

    &.style1 {
      .product-images-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }

    &.style2 {
      .product-images-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
      }
    }

    &.style3 {
      .product-images-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .thumbnail-images {
          display: flex;
          flex-direction: row;
          justify-content: start;
          order: 1;
          gap: 10px;
          max-width: max-content;
        }
      }
    }

    .product-images-container {
      .thumbnail-images {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        max-width: max-content;
      }

      .thumbnail-images .image-container {
        border: 1px solid #E7E7E7;
        border-radius: 4px;
        padding: 5px;
        width: 80px;
        height: 78px;
        cursor: pointer;

        &.active {
          border-color: #000000;
        }
      }

      .thumbnail-images img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: 100%;
      }
    }
  }

  .product-details {
    width: 100%;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 19px;
    overflow: hidden;
    padding: 0 12px;

    .product-name {
      font-weight: 700;
      font-size: 25px;
      line-height: 120%;
    }
    .product-options {
      .product-option {
        margin-bottom: 20px;

        .yc-upload-preview {
          img {
            border: 1px solid var(--yc-neutral-light-color);
            padding: 5px;
            aspect-ratio: 1;
            height: 100px;
          }
        }
      }
      .active {
        border: 1px solid var(--yc-primary-color);
      }
    }
    .product-description {
      overflow: hidden;
      margin-top: 15px;
      color: var(--yc-neutral-light-color);
    }
    .product-option-title {
      text-transform: capitalize;
      margin-bottom: 5px;
      font-weight: 500;
    }
  }

  .product-price {
    font-size: 26px;
    font-weight: 600;
    color: var(--yc-primary-color);
    line-height: 24px;
  }
}
