@import 'helpers/mixins';

.product-images-container {
  .product-block {
    padding: 36px 32px;
    border: 1px solid #E2E2E2;
    display: flex;
    justify-content: center;
    gap: 18px;
    width: 100%;

    .product-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 50%;
    }

    .product-name {
      color: #000000;
      font-weight: 400;
      font-size: 32px;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    .top-block {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    .bottom-block {
      display: flex;
      gap: 27px;
      flex-direction: column;
    }

    .product-column-description p {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
    }

    .product-price {
      color: var(--yc-primary-color);
      font-weight: 700;
      font-size: 32px;
    }

    .product-compare-price {
      color: var(--yc-primary-color);
      font-weight: 500;
      font-size: 24px;
      line-height: 23px;
    }

    .product-description {
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
    }

    .price-wrapper {
      margin-top: 24px;
    }

    .image-box {
      position: relative;
      width: 50%;

      img {
        width: 100%;
        height: 500px;
        object-fit: fill;

        @media screen and (max-width: 768px) {
          height: 360px;
        }
      }
    }

    .buy-btn {
      width: 100%;
    }
    @include max-screen('md') {
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
      padding: 32px 18px;

      .image-box {
        width: 100%;
      }
      .product-details {
        width: 100%;
      }

      .product-name {
        font-weight: 600;
        font-size: 21px;
      }

      .price-wrapper {
        justify-content: center;
      }

      .product-price {
        font-weight: 700;
        font-size: 24px;
      }

      .product-compare-price {
        font-weight: 400;
        font-size: 18px;
      }

      .top-block {
        text-align: center;
        gap: 16px;

        .yc-general-review-wrapper {
          justify-content: center;
        }
      }
    }
  }
}
