@import 'helpers/mixins';

.yc-single-product {
  display: flex;
  gap: 8px;
  margin: 25px auto;
  flex-direction: column;
  align-items: start;

  @include breakpoint('md') {
    gap: 20px;
    flex-direction: row;
  }

  .product-images {
    width: 100%;
    margin: 0 -12px;

    @include breakpoint('md') {
      position: sticky;
      top: calc(var(--yc-nav-height) + 20px);
      margin: unset;
    }

    .main-thumbnail {
      width: auto;
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
    }

    #img-zoomer-box {
      width: 100%;
      height: 333px;
      position: relative;
      overflow: hidden;
      border: 1px solid #E7E7E7;
      border-radius: 4px;

      @include breakpoint('md') {
        height: 474px;
      }
    }

    #img-zoomer-box:hover,
    #img-zoomer-box:active {
      cursor: zoom-in;
      display: block;
    }

    #img-zoomer-box:hover #magnified-image,
    #img-zoomer-box:active #magnified-image {
      opacity: 1;
    }
    #magnified-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      pointer-events: none;
      position: absolute;
      opacity: 0;
      z-index: 99;
      display: block;
      transition: opacity 0.2s;
      background-size: 102%;
    }

    .product-images-container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .thumbnail-images {
        display: flex;
        gap: 18px;
        overflow-y: auto;
      }

      .thumbnail-images img {
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 4px;
        object-fit: cover;
        cursor: pointer;

        &.active{
          border: 1px solid #3C415F;
        }
      }
    }
  }

  .product-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include breakpoint('md') {
      gap: 22px;
    }

    .product-name {
      font-weight: 700;
      font-size: 25px;
      line-height: 120%;
    }
    .product-options {
      display: grid;
      gap: 27px;

      @include breakpoint('md') {
        gap: 30px;
      }

      .product-option {
        .yc-upload-preview {
          img {
            border: 1px solid var(--yc-neutral-light-color);
            padding: 5px;
            aspect-ratio: 1;
            height: 100px;
          }
        }
      }
      .active {
        border: 1px solid #000000;
      }
    }
    .product-description {
      overflow: hidden;

      & * {
        font-family: var(--yc-font-family);
        line-height: 184.5%;
      }

      strong {
        font-weight: 700;
      }
    }
    .product-option-title {
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 14px;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;

      @include breakpoint('md') {
        font-size: 18px;
      }
    }
  }

  .product-price-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .product-price {
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    color: var(--yc-primary-color);
  }

  .compare-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #8D8D8D;
  }

  .compare-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;

    .tag {
      position: unset;
      font-weight: 700;
      font-size: 16.99px;
      line-height: 120%;
      padding: 4px 10px !important;
    }
  }
}

/* ----- Quantity input ----- */

.quantity-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 181px;
  border-radius: 4px;
  padding: 5px;
  gap:15px;

  /* Hide input arrows in Chrome, Safari, Edge, Opera */
  .quantity-input::-webkit-outer-spin-button,
  .quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide input arrows in Firefox */
  .quantity-input[type=number] {
    -moz-appearance: textfield;
  }

  .quantity-input {
    width: 58px;
    text-align: center;
    border: none;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 0 !important;
    font-weight: 300 !important;
    font-size: 20px !important;
    line-height: 120% !important;
    color: black;
  }

  .quantity-input:focus {
    outline: none;
  }

  .decrement-button,
  .increment-button {
    width: 37px;
    height: 37px;
    border: none;
    color: black;
    font-weight: 200;
    background-color: #F3F3F3;
    border-radius: 5px;
    font-size: 18px;
    line-height: 120%;
    cursor: pointer;

    transition: all 200ms ease-in-out;

    &:active {
      scale: 1.5;
    }
  }
}
