@import 'helpers/mixins';

.product-home-container {
  padding: 0 20px;

  @include breakpoint('md') {
    padding: 0 50px;
  }

  @include breakpoint('lg') {
    padding: 0 100px;
  }

  @include breakpoint('xxl') {
    padding: 0 240px;
  }

  .product-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;

    .product-details {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
      width: 50%;
    }

    .product-name {
      color: #000000;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;

      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }

    .product-price {
      color: var(--yc-primary-color);
      font-weight: 700;
      font-size: 27px;
    }

    .product-compare-price {
      color: #8D8D8D;
      font-weight: 400;
      font-size: 19px;
      line-height: 23px;
    }

    .product-description {
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
    }

    .image-box {
      position: relative;
      width: 50%;

      img, svg {
        width: 100%;
        height: 400px;
        object-fit: cover;

        @media screen and (max-width: 768px) {
          height: 330px;
        }
      }

      svg {
        height: 290px;
      }
    }

    .buy-btn {
      width: 100%;
    }

    @include max-screen('md') {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .image-box {
        width: 100%;
      }
      .product-details {
        width: 100%;
      }
    }
  }
  .product-placeholder {
      .buy-btn {
        cursor: not-allowed;
      }
  }
}
