@import 'helpers/mixins';

.product-images-container {
  padding: 30px;
  max-width: 700px !important;

  .product-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px !important;

    .image-box, .product-details {
      aspect-ratio: 1;
      width: 300px;
    }

    .product-details {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .product-name {
      color: #000000;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    .product-price {
      color: var(--yc-primary-color);
      font-weight: 700;
      font-size: 27px;
    }

    .product-compare-price {
      color: #8D8D8D;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
    }

    .product-description {
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
    }

    .image-box {
      position: relative;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .yc-btn-secondary--large {
      width: 100%;
      max-width: 145px !important;
    }

    @include max-screen('md') {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .image-box {
        width: 100%;
      }
      .product-details {
        width: 100%;
        padding: 20px;
      }
    }
  }
}
