@import 'helpers/mixins';

.yc-product-listing-container {
  padding: 0 16px;

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    @include breakpoint('md') {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @include breakpoint('lg') {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .sort-container {
    margin-top: 40px;
  }














  @include breakpoint('md') {
    padding: 0 50px; 
  }

  @include breakpoint('lg') {
    padding: 0 80px;
  }

  @include breakpoint('xl') {
    padding: 0 150px;
  }

  @include breakpoint('xxl') {
    padding: 0 250px;
  }
}