@import 'helpers/mixins';

.yc-single-product {
  display: flex;
  gap: 8px;
  margin: 25px auto;
  flex-direction: column;
  align-items: start;

  @include breakpoint('md') {
    gap: 20px;
    flex-direction: row;
  }

  .product-images {
    width: calc(100% + 24px);
    margin: 0 -12px;

    @include breakpoint('md') {
      position: sticky;
      top: calc(var(--yc-nav-height) + 20px);
      width: 50%;
      margin: unset;
    }

    .main-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #img-zoomer-box {
      width: 100%;
      height: 333px;
      position: relative;
      overflow: hidden;
      border: 1px solid #E7E7E7;
      border-radius: 4px;

      &:hover {
        .main-image {
          opacity: 0;
        }
      }

      @include breakpoint('md') {
        height: 474px;
      }
    }

    #img-zoomer-box:hover,
    #img-zoomer-box:active {
      cursor: zoom-in;
      display: block;
    }

    #img-zoomer-box:hover #magnified-image,
    #img-zoomer-box:active #magnified-image {
      opacity: 1;
    }
    #magnified-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      pointer-events: none;
      position: absolute;
      opacity: 0;
      z-index: 99;
      display: block;
      transform-origin: center center;
      object-fit: cover;
      transition: opacity 0.2s;
      background-size: 200% auto;
    }

    .product-images-container {
      display: flex;
      flex-direction: row;
      gap: 10px;

      @include breakpoint('md') {
        flex-direction: column;
        gap: 20px;
      }

      .thumbnail-images {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        @include breakpoint('md') {
          order: 1;
        }
      }

      .splide__arrow--next {
        right: 0;
      }

      .splide__arrow--prev {
        left: 0;
      }

      .splide__list {
        display: flex;
        flex-direction: column;
        margin-inline-start: 10px;

        @include breakpoint('md') {
          flex-direction: row;
        }
      }

      .splide__arrow {
        width: 16px;
        height: 16px;
        display: flex !important;

        @media screen and (max-width: 767px) {
          width: 36px;
          height: 36px;
          border-radius: 8px;
          border: 1px solid #EDEDED;
          box-shadow: 4px 10px 76px rgba(0, 0, 0, 0.14);
          left: 50%;

          svg {
            width: 14px;
            height: 14px;
          }
        }
      }

      @media screen and (max-width: 767px) {
        .splide__arrow--prev {
          top: 0;
        }

        .splide__arrow--next {
          bottom: 0;
        }
      }

      .thumbnail-images .image-container {
        border: 1px solid #E7E7E7;
        border-radius: 4px;
        width: 80px;
        height: 78px !important;
        cursor: pointer;
        margin-block-end: 10px;

        @include breakpoint('md') {
          width: 150px !important;
          height: 148px !important;
          margin-block-end: unset;
          margin-inline-end: 10px;
        }

        &.active {
          border-color: #000000;
        }
      }

      .thumbnail-images img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
      }
    }
  }

  .product-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include breakpoint('md') {
      width: 50%;
      gap: 22px;
    }

    .product-name {
      font-weight: 700;
      font-size: 25px;
      line-height: 120%;
    }
    .product-options {
      display: grid;
      gap: 27px;

      @include breakpoint('md') {
        gap: 30px;
      }

      .product-option {
        .yc-upload-preview {
          display: none;
          background: #F9F9F9;
          height: auto;
          border-radius: 8px;
          padding: 14px 18px;

          .yc-upload-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            .yc-image-preview {
              display: flex;
              align-items: center;
              gap: 15px;

              img {
                width: 67px;
                height: auto;
                border-radius: 4px;
                object-fit: cover;
              }
            }

            .yc-image-preview .yc-image-info {
              display: grid;
              gap: 8px;
              font-weight: 300;
              font-size: 12px;
              line-height: 120%;
              color: var(--yc-neutral-color);

              .image-size {
                color: #BABABA;
              }
            }
          }

          .progress-container {
            width: 100%;
            height: 3px;
            background-color: #cecece;
            border-radius: 5px;
          }

          .progress-bar {
            width: 0%;
            height: 100%;
            background-color: var(--yc-primary-color);
            border-radius: 5px;
            transition: width 1s ease-in-out;
          }
        }
      }

      .yc-colors-select,
      .yc-options-list,
      .yc-image-options-list {
        .active {
          border: 1px solid #000000;
        }
      }
    }
    .product-description {
      width: 100%;
      overflow: hidden;

      & * {
        width: 100% !important;
        font-family: var(--yc-font-family);
        line-height: 184.5%;
      }

      .fr-emoticon-img {
        height: 1em;
        width: 1em;
        min-height: 20px;
        min-width: 20px;
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
      }

      strong {
        font-weight: 700;
      }
    }
    .product-option-title {
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 14px;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;

      @include breakpoint('md') {
        font-size: 18px;
      }
    }

    .countdown-container {
      border-radius: 4px;
      padding: 18px 20px;

      .countdown-wrapper .countdown {
        .num {
          background: rgba(225, 225, 225, 0.3);
        }

        .sec .num {
          background-color: var(--yc-primary-color);
        }
      }
    }
  }

  .product-price-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .product-price {
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    color: var(--yc-primary-color);
  }

  .compare-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #8D8D8D;
  }

  .compare-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;

    .tag {
      position: unset;
      font-weight: 700;
      font-size: 16.99px;
      line-height: 120%;
      padding: 4px 10px !important;
    }
  }
}

.single-product-placeholder {
  svg {
    width: 100%;
    height: 333px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    @include breakpoint('md') {
      height: 474px;
    }
  }
}

/* ----- Quantity input ----- */

.quantity-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 151px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 5px;

  /* Hide input arrows in Chrome, Safari, Edge, Opera */
  .quantity-input::-webkit-outer-spin-button,
  .quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide input arrows in Firefox */
  .quantity-input[type=number] {
    -moz-appearance: textfield;
  }

  .quantity-input {
    width: 50%;
    text-align: center;
    border: none;
    padding: 0 !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 120% !important;
    color: black;
  }

  .quantity-input:focus {
    outline: none;
  }

  .decrement-button,
  .increment-button {
    width: 25%;
    height: 100%;
    border: none;
    color: #BDBDBD;
    font-weight: 700;
    font-size: 29px;
    line-height: 120%;
    background: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:active {
      scale: 1.5;
    }
  }
}
