.yc-product-card {
  width: 100%;
  height: 100%;
  background: #F8F8F8;
  border: 1px solid #E6E6E6;
  border-radius: 5px 5px 0px 0px;
  padding: 36px;


  .main-image {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    width: 189px;
    height: 177.97px;
    margin: auto;
  }
  .details {
    margin: 15px 0;
    text-align: center;

    .product-name, .price {
      font-size: 16px;
      color: var(--yc-primary-color);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

#selected-product-variants,
#selected-product-variants div,
.quantity-preview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  color: #4A4A4A;
}

#selected-product-variants .yc-textual-item {
  padding: 6.5px 10px;
  text-align: center;
  border: 1px solid #4A4A4A;
  font-size: 12px;
  border-radius: 8px;
}

#selected-product-variants .colored-button {
  display: block;
  width: 29px;
  height: 29px;
  border: 1px solid #4A4A4A;
  border-radius: 50%;
  padding: 2.5px;
}

#selected-product-variants .preview {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#variant_quantity .quantity-value {
  color: #4A4A4A;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
}

#selected-product-variants .image-container {
  width: 40px;
  height: auto;
}

#selected-product-variants .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
