@import 'helpers/mixins';

.yc-product-listing {
  padding: 0 16px;
  margin-bottom: 32px;

  .product-list {
    @include display(4, 3, 2, 1.5rem);
  }
}

/* Dropdown Button (sort) */
.sort-container {
  margin: 40px auto;

  /* Style the dropdown button */
  #productDropdownFiltring {
    .dropbtn {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 4px;
      width: 280px;
      padding: 10px 15px;
      border: 1px solid #E7E7E7;
      text-align: start;
      gap: 6px;
      font-size: 14px;
      font-weight: 900;
      cursor: pointer;

      .dropdown-icon {
        position: absolute;
        left: 0;
        padding-left: 10px;
      }
    }

    .dropbtn {
      font-weight: 400;
    }

    /* Style the dropdown content */
    .dropdown-content {
      display: none;
      margin-top: 5px;
      position: absolute;
      z-index: 1;
      width: 280px;
      background: #FFFFFF;
      border: 1px solid #ECECEC;
      box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      a {
        color: black;
        padding: 10px;
        margin: 3px auto;
        text-decoration: none;
        font-size: 13px;
        font-weight: 400;
        display: block;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }

    .show {
      display: block;
    }
  }
}
