.product-images-container {
  padding: 0 200px;

  .product-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;

    .product-details {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
      width: 50%;
    }

    .product-name {
      color: #000000;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
    }

    .product-price {
      color: var(--yc-primary-color);
      font-weight: 700;
      font-size: 27px;
    }

    .product-compare-price {
      color: #8D8D8D;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
    }

    .product-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
    }

    .image-box {
      width: 50%;
    }

    .buy-btn {
      width: 100%;
    }
  }
}
