@import 'helpers/mixins';

/* ---------------------- */
/* ----- pagination ----- */
/* ---------------------- */
.yc-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  padding: 1rem 2rem;
  border-radius: 8px;
  width: fit-content;
  
  @include max-screen('xs') {
    max-width: 270px;
  }

  .paginate-btn {
    &,
    &-prev,
    &-next {
      width: 2.3rem;
      height: 2.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E4E4E4;
      border-radius: 4px;
      color: #B1B1B1;
    }

    &:hover,
    &.active {
      border-color: var(--yc-primary-color);
      color: var(--yc-primary-color);
    }

    &-prev,
    &-next {
      color: #000;
      border: 0;

      &.disabled {
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
