@import 'helpers/mixins';

/* ---------------- */
/* ----- sort ----- */
/* ---------------- */
.top-items {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include breakpoint('md') {
    flex-direction: row;
    align-items: center;
  }

  .yc-section-title {
    margin-bottom: 10px;
  }

  .sort-items-holder {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

    @include breakpoint('md') {
      flex-direction: row;
    }

    .commander {
      font-weight: 400;
      white-space: nowrap;
    }

    .field {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 4px;
    }
  }
}

/* ---------------------- */
/* ----- pagination ----- */
/* ---------------------- */
.yc-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  padding: 1rem 2rem;
  border-radius: 8px;
  width: fit-content;

  .paginate-btn {
    &,
    &-prev,
    &-next {
      width: 2.3rem;
      height: 2.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E4E4E4;
      border-radius: 4px;
      color: #B1B1B1;
    }

    &:hover,
    &.active {
      border-color: var(--yc-primary-color);
      color: var(--yc-primary-color);
    }

    &-prev,
    &-next {
      color: #000;
      border: 0;

      &.disabled {
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
