@import 'helpers/mixins';

/* ---------------- */
/* ----- sort ----- */
/* ---------------- */
.top-items {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include breakpoint('md') {
    flex-direction: row;
    align-items: center;
  }

  .yc-section-title {
    margin-bottom: 10px;
  }

  .sort-items-holder {
    display: flex;
    justify-content: center;
    gap: 10px;

    .commander {
      font-weight: 400;
      white-space: nowrap;
    }

    .field {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 4px;

      .pawn {
        display: flex;
        gap: 7px;
        align-items: center;
        padding: 3px 13px;
        border-radius: 50rem;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.7);

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }

        &.active {
          background-color: var(--yc-primary-color);
          color: white;
        }
      }
    }
  }
}

/* ---------------------- */
/* ----- pagination ----- */
/* ---------------------- */
.yc-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  padding: 1rem 2rem;
  box-shadow: var(--yc-main-shadow);
  border-radius: 8px;
  width: fit-content;

  .paginate-btn {
    &,
    &-prev,
    &-next {
      width: 2.3rem;
      height: 2.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50rem;
    }

    &:hover,
    &.active {
      background: var(--yc-neutral-light-color);
    }

    &-prev,
    &-next {
      width: 2.3rem;
      height: 2.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50rem;
      background-color: var(--yc-primary-color);
      cursor: pointer;
      color: white;

      &.disabled {
        background-color: var(--yc-neutral-light-color);
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
