@import 'helpers/mixins';

.yc-product-reviews {
  margin-bottom: 27px;

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 26px;

    .yc-section-title {
      text-align: unset;
      margin: unset;
    }
  }

  .yc-reviews-wrapper {
    display: grid;
    gap: 17px;

    @include breakpoint('md') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint('lg') {
      grid-template-columns: repeat(3, 1fr);
    }

    .review-item {
      border-radius: 5px;
      background-color: var(--yc-neutral-light-color);
      padding: 24px 21px;
      display: flex;
      flex-direction: column;
      gap: 14px;

      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .profil {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 8px;

          .image {
            width: 49px;
            height: 49px;
            border-radius: 50%;
            aspect-ratio: 1/1;
            object-fit: contain;
          }

          .info {
            display: grid;
            gap: 8px;
          
            .name {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }

      .content {
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
      }

      .created-at-date {
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #9B9B9B
      }
    }
  }

  .reviews-block {
    display: flex;
    margin: 0;
    gap: 8px;
    align-items: center;
  }

  .review-count {
    font-weight: 400;
    font-size: 13px;
    color: #707070;
  }

  #show-more {
    display: none;
    margin: 27px auto 0 auto;
    width: auto;
    padding-right: 24px;
    padding-left: 24px;
  }
}
