@import 'helpers/mixins';

.yc-product-reviews {
  margin-bottom: 27px;

  .head {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;

    .yc-reviews-title {
      font-weight: 700;
      font-size: 26px;
    }
  }

  .yc-reviews-wrapper {
    display: grid;
    gap: 16px;

    @include breakpoint('md') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint('lg') {
      grid-template-columns: repeat(3, 1fr);
    }

    .review-item {
      border: 1px solid #EBEBEB;
      border-radius: 4px;
      border-radius: 4px;
      background-color: white;
      padding: 24px 20px;

      .header {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .profil {
        display: flex;
        gap: 12px;

        .image {
          width: 49px;
          height: 49px;
          border-radius: 50%;
          aspect-ratio: 1/1;
          object-fit: contain;
        }

        .info {
          display: grid;
        
          .name {
            font-weight: 600;
            font-size: 14px;
          }
        
          .created-at-date {
            font-weight: 400;
            font-size: 12px;
            color: #A6A6A6;
          }
        }
      }

      .content {
        line-height: 26px;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }

  .reviews-block {
    display: flex;
    margin: 0;
    gap: 6px;
    align-items: center;
  }

  .review-count {
    font-weight: 400;
    font-size: 13px;
    color: #707070;
  }

  #show-more {
    display: none;
    margin: 26px auto 0 auto;
    font-weight: 400;
    font-size: 15px;
    text-decoration: underline !important;
  }
}
