@import 'helpers/mixins';

.yc-product-reviews {
  margin-bottom: 27px;

  .head {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-bottom: 24px;

    @include breakpoint('md') {
      align-items: center;
      margin-bottom: 50px;
    }

    .yc-section-title {
      text-align: unset;
      margin: unset;
    }
  }

  .yc-reviews-wrapper {
    display: grid;
    gap: 17px;

    @include breakpoint('md') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint('lg') {
      grid-template-columns: repeat(3, 1fr);
    }

    .review-item {
      border: 1px solid #EBEBEB;
      border-radius: 4px;
      background-color: white;
      padding: 22px 20px 26px 20px;

      .header {
        display: flex;
        justify-content: space-between;

        .profil {
          display: flex;
          gap: 18px;

          .image {
            width: 49px;
            height: 49px;
            border-radius: 50%;
            aspect-ratio: 1/1;
            object-fit: contain;
          }

          .info {
            display: grid;
            gap: 3px;
          
            .name {
              font-weight: 700;
              font-size: 18px;
              line-height: 120%;
            }
          
            .created-at-date {
              font-weight: 400;
              font-size: 12px;
              line-height: 120%;
            }
          }
        }
      }

      .content {
        margin-top: 20px;
        font-weight: 400;
        font-size: 13px;
        line-height: 145%;
      }
    }
  }

  .reviews-block {
    display: flex;
    margin: 0;
    gap: 6px;
    align-items: center;
  }

  .review-count {
    font-weight: 400;
    font-size: 13px;
    color: #707070;
  }

  #show-more {
    display: none;
    margin: 27px auto 0 auto;
  }
}
