@import 'helpers/mixins';

.yc-search {
	.yc-products-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		overflow: hidden;

		@include breakpoint('md') {
			grid-template-columns: repeat(4, 1fr);
		}

		.product-img {
			width: 100%;
			aspect-ratio: 1;
			object-fit: cover;
		}
	}
}
