.stock-wrapper {
  box-shadow: var(--yc-main-shadow);
  border-radius: 8px;
  padding: 20px;

  .stock-title-container {
    display: flex;
    align-items: center;
    gap: 10px;

    .stock-icon {
      font-size: 20px;
    }

    .stock-title, #current-stock {
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
    }
  }
}
