@import 'helpers/mixins';

.order-details {
  margin: 2rem auto;
  max-width: 600px;

  .title {
    font-size: 1.3rem;
    margin: 0 0 1rem;
  }

  .table-content {
    .head {
      display: grid;
      grid-template-columns: 1fr;
      border: var(--yc-main-border);
      background-color: rgba(0, 0, 0, 0.03);

      @include breakpoint('md') {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
      }

      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        border-top: var(--yc-main-border);
        border-bottom: var(--yc-main-border);
        padding: 10px 17px;

        @include breakpoint('md') {
          flex-direction: column;
          border: none;

          border-right: var(--yc-main-border);
          border-left: var(--yc-main-border);
        }

        &:first-child {
          border: none;
        }

        &:last-child {
          border: none;
        }

        .label {
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
    }

    .summary {
      margin-top: 10px;

      table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }

      table caption {
        font-size: 1.5em;
        margin: 0.5em 0 0.75em;
      }

      table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: 0.35em;
      }

      table th,
      table td {
        padding: 0.625em;
        text-align: unset;
      }

      table th {
        font-weight: 500;
        font-size: 0.85em;
      }

      $breakpoint-value: map-get($breakpoints, 'md');
      @media screen and (max-width: $breakpoint-value) {
        table {
          border: 0;
        }

        table caption {
          font-size: 1.3em;
        }

        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        table tr {
          display: block;
          margin-bottom: 0.625em;
        }

        table td {
          border-bottom: var(--yc-main-border);
          display: block;
          font-size: 0.8em;
          text-align: right;
        }

        table td::before {
          content: attr(data-label);
          float: left;
          font-weight: 500;
          text-transform: uppercase;
        }

        table td:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
