@import 'helpers/mixins';

.thankyou-page-container {
  max-width: 440px;
  width: 100%;
  margin: 10px auto 80px;

  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }

  .thankyou-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .heading {
        line-height: 42px;

        .title {
          display: block;
          font-size: 24px;

          @include breakpoint('md') {
            font-size: 30px;
          }
        }
      }

      .icon, img {
        width: 66px;
        color: #8DC447;
        height: 66px;
        margin-bottom: 16px;
      }

      .description {
        margin-top: 15px;
        opacity: 0.9;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5rem;

        @include breakpoint('md') {
          font-size: 16px;
          line-height: 2rem;
        }
      }

      .yc-btn {
        margin-top: 2rem;
      }
    }
  }

  .order-details {
    border: 1px solid #EBEBEB;
    padding: 24px 28px;
    border-radius: 0 0 4px 4px;

    h2 {
      font-weight: 600;
      line-height: 22px;
      color: #000000;
      font-weight: 700;
    }

    .table-content {
      .head {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;

        .item {
          font-weight: 400;
          font-size: 14px;
        }

        .data-item,
        .data-item>* {
          font-weight: 700;
          font-size: 14px;
        }
      }

      .coupon-head {
        .data-item {
          display: flex;
          gap: 5px;

          .coupon-value {
            display: inherit;

            .minus {
              [dir='ltr'] & {
                order: -1;
              }
            }
          }
        }
      }

      .total-price-head {
        display: flex;
        margin-top: 20px;
        padding-top: 15px;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #EBEBEB;

        .item {
          font-weight: 700;
          line-height: 22px;
        }

        .data-item {
          font-weight: 700;
          font-size: 16px;
          color: var(--yc-primary-color);
        }
      }
    }
  }

  .home-page {
    margin-top: 50px;
  }

  .cart-items {
    border: 1px solid #EBEBEB;
    border-bottom: none;
    padding: 24px 28px 0;
    border-radius: 4px 4px 0 0;

    >table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;

      thead>tr {
        border-bottom: 1px solid #EBEBEB;

        >* {
          text-align: start;
          color: #a7a7a7;
          font-weight: 500;
          font-size: 14px;
          padding: 0 0 12px;
        }

        >.total {
          text-align: end;
        }
      }

      tbody tr {
        border-bottom: 1px solid #f0f0f0;
        height: 50px;

        &:last-child {
          border-bottom: none;
        }

        >.product-name {
          max-width: 160px;
          color: var(--yc-primary-color);
        }

        >* {
          padding: 8px 0;
        }

        >.total {
          text-align: end;
        }
      }
    }
  }
}
