@import 'helpers/mixins';

.upsell-page {
  padding: 50px 20px;
  display: grid;
  place-items: center;
  text-align: center;

  .upsell-container {
    width: 100%;
  }

  .upsell-content {
    img {
      margin: auto;
    }
    h1 {
      font-weight: 500;
      color: #333333;
      line-height: 29px;
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
      line-height: 22px;
    }

    p {
      color: #333333;
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
    }
  }

  .upsell-form-submit {
    padding: 42px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    .upsell-submit-yes,
    .upsell-submit-no {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 600;
    }

    .upsell-submit-yes {
      padding: 16px 18px;
      height: 60px;
    }

    .upsell-submit-no {
      padding: 16px 10px;
      font-size: 14px;
      height: 48px;
    }

    .text-small {
      font-size: 15px;
    }
    
    .text-medium {
        font-size: 19px;
    }
    
    .text-large {
        font-size: 22px;
    }
    
    .size-small {
        width: 50%;
    }
    
    .size-medium {
        width: 70%;
    }
    
    .size-large {
        width: 100%;
    }
  }

  @include max-screen('md') {
    padding: 50px 16px;
  }
}
