@import 'helpers/mixins';

.upsell-page {
  background-color: #E9E9E9;
  padding-top: 80px;

  .upsell-banner {
    width: 100%;
    padding: 42px 10px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(60, 65, 95, 0.2);
    border-width: 3px 0 3px 0;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  .upsell-content {
    display: grid;
    place-items: center;
    text-align: center;
    max-width: 724px;
    position: relative;
    margin: 0 auto 10px;

    h1 {
      font-weight: 500;
      color: #333333;
      line-height: 29px;
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
      line-height: 22px;
    }

    p {
      color: #333333;
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
    }

    @include max-screen('md') {
      padding: 0 16px;
    }
  }

  #upsell-form {
    position: sticky;
    bottom: 0;
  }

  .upsell-footer {
    margin: 60px auto 10px;
  }

  .upsell-form-submit {
    padding: 42px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    z-index: 1000;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;

    .upsell-submit-yes,
    .upsell-submit-no {
      width: 329px;
      padding: 16px 42px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .upsell-submit-yes {
      background: #66AC3C;
      color: #fff;
    }

    .upsell-submit-no {
      background: #fff;
      color: #E7412F;
      border: 1px solid #E7412F;
    }

    @include max-screen('md') {
      flex-direction: column;

      .upsell-submit-yes,
      .upsell-submit-no {
        width: 300px
      }
    }
  }
}
