.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding: 0 !important;
  }

  .youtube-video {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
      width: 100%;
      height: 100%;
    }

    .video-spinner {
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      width: 64px;
      height: 64px;
      display: none;
    }
  }

  .youtube-thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .youtube-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;

    .triangle {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 25px solid var(--yc-primary-color);
      transform: rotate(90deg);
      margin-left: 3px;
    }
  }
}
